<h2>Gift Certificates</h2>
<p>You have the following gift certificates available:</p>
<table>
  <tr>
    <th>Code</th>
    <th>Credits</th>
    <th>Expires At</th>
    <th>Comments</th>
    <th>Action</th>
  </tr>
  <%= render @gift_certificates %>
</table>