<% quizzes = object %>
<% if quizzes.present? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Published</th>
      </tr>
      <%= render quizzes %>
    </table>
<% else %>
    <div class="info">No active quizzes defined for this group.</div>
<% end %>