table, td { font:100% Arial, Helvetica, sans-serif;}
table { width:100%;border-collapse:collapse;margin:1em 0;}
th, td{ text-align:left;padding:.5em;border:1px solid #fff;}
th {
    background-color:#3E7E8F;
    color:#fff;
}
td { background:#efefef; }

/* tablecloth styles */

tr.even td{background:#eee;}
tr.odd td{background:#f8fbfc;}

th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}