<ul>
  <% category.self_and_siblings.each do |sibling| %>
    <% if sibling == category %>
      <%= content_tag :li, sibling.name, :class => 'current'  %>
      <% content_tag :li do -%>
        <% content_tag :ul do -%>
          <% sibling.child_categories.ascend_by_sort_value.each do |child| %>
            <li><%= link_to h(child.name), (mode == "groups" ? groups_path(:category => child) : category_path(child)).downcase %></li>
          <% end %>
        <% end %>
      <% end if sibling.has_children? %>
    <% else %>
      <li><%= link_to h(sibling.name), (mode == "groups" ? groups_path(:category => sibling) : category_path(sibling)).downcase  %></li>
    <% end %>
  <% end %>
</ul>
