<%= render :partial => "shared/infield_head_content" %>

<% form_tag password_resets_path,  :id => "inline", :class => "password_reset"  do %>
  <fieldset>
    <legend>Forgot Password</legend>
    <div class="help">Fill out the form below and instructions to reset your password will be emailed to you:</div>
    <p>
      <label for="email">Email</label><br />
      <%= text_field_tag "email" %>
    </p>
  </fieldset>
  <p>
    <%= submit_tag "Reset my password", :disable_with => translate('general.disable_with') %>
    <%= link_to "Back to Login", login_path %>
  </p>
<% end %>
