<% path = current_user.present? ? my_firehoze_index_path(:reset => "y") : root_path(:reset => "y") %>

<%
navigation = [
  [:my_firehoze, {
      :name => 'My Firehoze',
      :location =>  my_firehoze_index_path(:reset => "y")
    }],
  [:lessons, {
      :name => 'Lessons',
      :location => categories_path
    }],
]
%>
<% navigation.shift unless current_user.present? %>

<ul id="main-navigation">
  <% navigation.each do |key, item| %>
    <% if navigation.first[0] == key and @current.to_s == key.to_s %>
      <li id="first"></li>
      <li <%= 'class="selected first"' if @current.to_s == key.to_s %>><%= link_to item[:name], item[:location] %></li>
    <% else %>
      <li <%= 'class="selected"' if @current.to_s == key.to_s %>><%= link_to item[:name], item[:location] %></li>
    <% end %>
  <% end %>
</ul>

