<ul id="top-navigation">
  <li class="first "><a href="#">Sign Up</a></li>
  <li class="selected"><a href="#">Login</a></li>
  <li class="with-subnav">
    <a href="#">Teach</a>
    <ul class="subnav">
      <li><a href="#">teach link 1</a></li>
      <li><a href="#">teach link 2</a></li>
    </ul>
  </li>
  <li class="with-subnav">
    <a href="#">Help</a>
    <ul class="subnav">
      <li><a href="#">help link 1</a></li>
      <li><a href="#">help link 2</a></li>
    </ul>
  </li>
  <li class="last "><a href="#">Search</a></li>
</ul><!-- end top-navigation -->
