<ul id="top-navigation">
  <li class="first "><a href="#">Sign Up</a></li>
  <li class="selected"><a href="#">Login</a></li>
  <li class="with-subnav">
    <a href="#">Teach</a>
    <ul class="subnav">
      <li><a href="#">teach link 1</a></li>
      <li><a href="#">teach link 2</a></li>
    </ul>
  </li>
  <li class="with-subnav">
    <a href="#">Help</a>
    <ul class="subnav">
      <li><a href="#">help link 1</a></li>
      <li><a href="#">help link 2</a></li>
    </ul>
  </li>
<li class="last">
  <div id="searchwrapper">
    <form action="">
  <input type="text" class="searchbox" name="s" value="" />
  <!-- <input type="image" src="THE_BLANK_SUBMIT_BUTTON_IMAGE" class="searchbox_submit" value="" /> -->
  <%= image_tag('top_navigation/searchbox_button.png', :class => 'searchbox_submit') %>
  </form>
  </div>
</li>
</ul><!-- end top-navigation -->

