<ul id="top-navigation">
  <li class="first "><a href="#">Sign Up</a></li>
  <li class="selected"><a href="#">Login</a></li>
  <li class=""><a href="#">Teach</a></li>
  <li class=""><a href="#">Help</a></li>
  <li class="last "><a href="#">Search</a></li>
</ul><!-- end top-navigation -->
