<ul id="top-navigation">
  <li class="first "><a href="http://www.atebits.com/">Home</a></li>
  <li class="selected"><a href="http://www.atebits.com/contact/">Contact</a></li>
  <li class=""><a href="http://www.atebits.com/contact/">Contact</a></li>
  <li class=""><a href="http://www.atebits.com/contact/">Contact</a></li>
  <li class="last "><a href="http://news.atebits.com/">Blog</a></li>
</ul><!-- end top-navigation -->
