*.sqlite3
config/initializers/action_mailer_settings.rb
config/development.sphinx.conf
db/schema.rb
config/locomotive.yml
config/environments/development.yml
config/environments/development.db
*.log
config/mongrel_cluster.yml
config/thin.yml
private/images/*
public/cache/*
.DS_Store
.idea
.idea/*
.idea/dictionaries/*
.idea/dictionaries/bob.xml
.project
public/assets
nbproject
tmp
script/s3.rb
coverage
coverage.data
vendor/plugins/safe_erb
log/searchd.development.pid
db/sphinx/
