body {
    background-color:#EFEFEF;
    font: 12px/18px "Lucida Grande", Verdana, sans-serif;
    color: #333;
}

div {
    /*text-align:justify*/
}

/* HEADER */
#header {
    z-index:1;
    position:relative;
    height:145px;
    background-image:url('images/header-bg-tile-tall.png');
    background-repeat:repeat-x;
}
#header #content {
    position:relative;
    background-repeat:no-repeat;
    height:77px;
    /*		background: url('images/header-shine.png') no-repeat 50% 0;*/
}
#header #vimeo_nav {
    margin:0 -16px 0 0;
    float:right;
    background-image:url('images/vimeo-menu.png');
    background-repeat:no-repeat;
    height:37px;
    width:441px;
}
#header #logo {
    position:absolute;
    left:0;
    top:8px;
    border:0;
    margin:0;
    padding:0;
}

/* 224 x 134*/
#header #logo a#home {
    display: block; /* Change anchor to block element */
    width: 224px; height: 67px; /* Specify width and height of the image. Height is value of each individual button graphic */
    background-image: url(/stylesheets/v2/images/sprite-logo.png); /* Add the image as a background */
    background-position: top; /* Set the position to the top */
    text-indent: -9999px; /* Send the rendered HTML wording off screen */
}
#header #logo a#home:hover, #header #logo a#home:focus {
    background-position: bottom; /* Set the position to the center */
}
#header #logo a#home:active {
    background-position: bottom; /* Set the position to the bottom */
}

/* SHADOWBOX */
#shadowbox-top {
    z-index:20;
    position:relative;
    background: transparent url(images/main-navigation-bg.png) no-repeat;
    margin:-50px 0 0 0;
    padding:0;
    width:1000px;
    height:55px;
    margin-left: auto;
    margin-right: auto;
}
#shadowbox-middle {
    background: transparent url('images/shadow-box-middle.png') repeat-y;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}
#shadowbox-bottom {
    background-image:url('images/shadow-box-bottom.png');
    background-repeat:no-repeat;
    margin:0;
    width:1000px;
    height:120px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-NAVIGATION */
#main-navigation {
    background-color: green;
    height: 40px;
    font: bold 13px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    width:980px;
    margin-left: auto;
    margin-right: auto;
}
ul#main-navigation  {
    background-color: transparent;
    list-style-type: none;
}
#main-navigation li {
    padding-right: 2px;
    float: left;
    background: url(images/main-navigation-li.png) no-repeat right;
}
#main-navigation li.first { }
#main-navigation li.last { }
#main-navigation li.selected {
    background-color: #fff;
    margin-left: -1px;
}
#main-navigation li.selected.first {
    margin-left: 0;
}
#main-navigation li a {
    float: left;
    padding: 1px 20px 3px;
    color: #666;
    text-decoration:none;
}
#main-navigation li a:hover,
#main-navigation li a:focus {
    text-decoration: none;
    color: #333;
}
#main-navigation li a:active {
    padding-top: 2px;
    padding-bottom: 2px;
}
#main-navigation li.selected a,
#main-navigation li.selected a:hover {
    color: #f00;
    cursor: default;
    text-decoration: none;
    padding-left: 21px;
}
#main-navigation li.selected.first a,
#main-navigation li.selected.first a:hover {
    padding-left: 20px;
    background: transparent url(images/main-navigation-li-first.png) no-repeat left;
}
#main-navigation li.selected a:focus {
    color: #069;
}

/* MAIN CONTENT AREA */

#side-box {
    padding: 15px;
    border: solid 2px #DFDFDF;
    background-color: #F6F6F6;
}

/* FOOTER */
#footer {
    height:320px;
    color: #999;
    background-image:url('images/footer-bg-tile-tall.png');
}
#footer #content {
    height:320px;
    background-image:url('/stylesheets/v2/images/footer-watermark.png');
    background-repeat:no-repeat;
    background-position: right bottom;
}
#footer #upper {
    margin:0;
    padding: 10px 0;
    height:232px;
}
#footer #lower {
    height:68px;
    position: relative;
}
#footer #inner {
    position: absolute;
    top: 45%;
}
