* {
    outline: none;
}

* a:active, a:focus {outline: none}

a:link, a:visited {
    color: #666;
/*    text-decoration: underline;*/
    background-color: transparent;
}

a:hover, a:active {
    color: #BF1701;  /*RED LINK*/
/*    color: #555;*/
/*    text-decoration: none;*/
/*    border-bottom: solid 1px #999;*/
}

body {
    background-color:#EFEFEF;
    font: 12px/18px "Lucida Grande", Verdana, sans-serif;
    color: #333;
}

div {
    /*text-align:justify*/
}

h1,h2,h3,h4,h5,h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }

/* psuedo-header classes */
.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: normal; color: #111; }
.h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
.h2 { font-size: 2em; margin-bottom: 0.75em; }
.h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

a.no-border:hover {
    border: 0 none;
}

.append-top-half-gutter {
    margin-top:17px;
}
.append-bottom {
    margin-bottom:34px;
}

.hidden {
    display:none;
}

.transparent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.box {
    background: #EDEDED;
    border: solid 1px #CFCFCF;
}

.inner_box {
    background: #fff;
    border: solid 1px #CFCFCF;
    padding: 10px;
}

.flat-box-header {
    background: #EDEDED;
    border: solid 1px #CFCFCF;
}

.flat-box {
    background: #EDEDED;
    border: solid 1px #CFCFCF;
}


h4.banner  {
    font-size: 18px;
    color: #555;
    padding: 5px 0 5px 16px;
    margin: 16px -15px 24px -15px;
    border-bottom: solid 1px #ccc;
    background: url(images/top_navigation/nav-a.png) repeat-x 0 0;
}

/* HEADER */
#header {
    height:145px;
    background-image:url('/stylesheets/v2/images/header/header-bg-tile-tall.png');
    background-repeat:repeat-x;
}
#header .content {
    position:relative;
    background-repeat:no-repeat;
    height:77px;
    background: url('/stylesheets/v2/images/header/header-shine.png') no-repeat 50% 0;
}
#header #logo {
    position:absolute;
    left:0;
    top:8px;
    border:0;
    margin:0;
    padding:0;
}

/* 224 x 134 */
#header #logo,
#header #logo #home  {
    display: block; /* Change anchor to block element */
    width: 224px; height: 67px; /* Specify width and height of the image. Height is value of each individual button graphic */
    background-image: url('/stylesheets/v2/images/header/sprite-logo.png'); /* Add the image as a background */
    background-position: top; /* Set the position to the top */
    text-indent: -9999px; /* Send the rendered HTML wording off screen */
    border: 0 none;
}

#header #logo a#home:hover, #header #logo a#home:focus {
    background-position: bottom; /* Set the position to the center */
}
#header #logo a#home:active {
    background-position: bottom; /* Set the position to the bottom */
}

/* TOPNAV */
#top-navigation-container {
    position:absolute;
    top:0;
    right:-16px;
    font-size:11px;
}

/* SHADOWBOX */
#shadowbox-top {
    z-index:10;
    background: transparent url('/stylesheets/v2/images/main_navigation/main-navigation-bg.png') no-repeat;
    margin:-50px 0 0 0;
    padding:0;
    width:1000px;
    height:55px;
    margin-left: auto;
    margin-right: auto;
}

#shadowbox-middle {
    background: transparent url('/stylesheets/v2/images/shadow_box/shadow-box-middle.png') repeat-y;
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    /*position:relative;*/
}

#shadowbox-middle-blue {
    position:absolute;
    background: url(images/backgrounds/profile_bg_tile.gif) repeat-x top center;
    height: 220px;
    top:-15px;
    left:10px;
    width:980px;
    border-bottom:solid 4px #333;
}

#shadowbox-bottom {
    background-image:url('/stylesheets/v2/images/shadow_box/shadow-box-bottom.png');
    background-repeat:no-repeat;
    margin:0;
    width:1000px;
    height:120px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-NAVIGATION */
#main-navigation {
    z-index:20;
    position:relative;
    height: 40px;
    font: bold 13px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    width:980px;
    margin-left: auto;
    margin-right: auto;
}
ul#main-navigation  {
    background-color: transparent;
    list-style-type: none;
}
#main-navigation li {
    padding-right: 2px;
    float: left;
    background: url('/stylesheets/v2/images/main_navigation/main-navigation-li.png') no-repeat right;
}

#main-navigation li#first {
    background: url('/stylesheets/v2/images/main_navigation/main-navigation-li-first.png') no-repeat left;
    width:19px;
    height:40px;
}
#main-navigation li.selected {
    background-color: #fff;
    margin-left: -1px;
}
#main-navigation li a {
    float: left;
    padding: 1px 20px 3px;
    color: #666;
    text-decoration:none;
    border: 0 none;
}
#main-navigation li a:hover,
#main-navigation li a:focus {
    color: #BF1701;  /*RED LINK*/
    text-decoration: none;
}
#main-navigation li a:active {
    padding-top: 2px;
    padding-bottom: 2px;
}
#main-navigation li.selected a,
#main-navigation li.selected a:hover {
    color: #BF1701;  /*RED LINK*/
    cursor: default;
    text-decoration: none;
    padding-left: 21px;
}
#main-navigation li.selected.first a,
#main-navigation li.selected.first a:hover {
    padding-left: 0px;
}

#main-navigation li.selected a:focus {
    color: #069;
}

/* FOOTER */
#footer {
    height:320px;
    background-image:url('/stylesheets/v2/images/footer/footer-bg-tile-tall.png');
}
#footer,
#footer a {
    color: #999;
}

#footer .content {
    height:320px;
    background-image:url('/stylesheets/v2/images/footer/footer-watermark.png');
    background-repeat:no-repeat;
    background-position: right bottom;
}
#footer #upper {
    margin:0;
    padding: 10px 0;
    height:232px;
}
#footer #lower {
    height:68px;
    position: relative;
}
#footer #inner {
    position: absolute;
    top: 45%;
}

/* FLASH */
.flash {
    text-align:left;
    display: none;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flash a, .flash .h4 {
    font-weight:bold;
}

.flash #centered {
    padding:10px 0 0 42px;
    margin-left: auto;
    margin-right: auto;
    width: 880px;
}

/* flash notice */
#notice {
    border-bottom: solid 8px #58941C;
    background-color: #DEF1CA;
}

#notice a, #notice .h4 {
    color: #005738;
}

#notice #centered {
    background: transparent url(images/icons/32_success.png) 0px 10px no-repeat;
}

/* flash error */
#error {
    border-bottom: solid 8px #EFE468;
    background-color: #FFFFE8;
}

#error a, #error .h4 {
    color: #6F2234;
}

#error #centered {
    background: transparent url(images/icons/32_warning.png) 0px 10px no-repeat;
}


/* REVIEWS */

div.reviews-container { }
div.review {
    padding-bottom:17px;
    margin-bottom:17px;
    border-bottom: dotted 1px #8F8F8F;
}

div.review .helpful_phrase {
    color: #8F8F8F;
    font-style: italic;
}
div.review .headline,
div.review .title {
    color: #4D4D4D;
}

div.review .headline {
    padding-top: 6px;
    font-weight:bold;
}

div.review .title {
    padding: 0 0 3px 0;
}

div.review .timestamp {
    color: #8F8F8F;
    font-style: italic;
}

div.review .actions { }

div.review #stars {
    margin:5px 0 0 0;
}


/* BREADCRUMB */
#breadcrumb {
    font: 12px Arial, Helvetica, sans-serif;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    width:100%;
    overflow:hidden;
    margin:0 0 17px 0;
    padding:0px;
    background:transparent url('images/breadcrumbs/bc_bg.png') repeat-x scroll 0 0;
    /* border:solid 1px #cacaca;*/
}

#breadcrumb li {
    list-style-type:none;
    float:left;
    padding-left:10px;
    background-image:url('images/breadcrumbs/bc_separator.png');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 15px;
}

#breadcrumb a {
    height:30px;
    display:block;
    text-decoration: none;
    color:#454545;
}

.home {
    border:none;
    margin: 8px 0px;
}

#breadcrumb a:hover {
    color:#35acc5;
}


/* FAQ SECTION */
#faqs_section #questions {
    padding: 20px;
    border: solid 2px #999;
    background-color: #eee;
    margin: 0 0 20px 0;
}
#faqs_section #questions h4 {
    margin:0;
    line-height: 1.5em;
    font-weight:bold;
}
#faqs_section .answers {
    padding: 10px;
    /*    background-color: #DBDBDB;*/
    margin: 0 0 20px 0;
}
#faqs_section .answers .top {
    text-decoration:underline;
    color: navy;
    font-size: 12px;
    font-weight:bold;
}
#faqs_section .answers h4 a {
    text-decoration:none;
    color: inherit;
}
#faqs_section .answers h4 {
    padding: 10px 0 10px 10px;
    border: solid 1px #999;
    font-size:16px;
    font-weight:bold;
    background-color:#ccc;
}
#faqs_section .answers h5 {
    color: #222;
    font-size:14px;
    margin-bottom:0.4em;
    text-decoration:underline;
    cursor:pointer;
}

#faqs_section .answers img {
    margin: 20px 0 40px 0;
}

#faqs_section .anchor { }


/* ACCOUNT SETTINGS SCREENS */
div#account-settings-tabs div.panes {
    margin-top: 2em;
}

/* GROUPS */
#group-container {
    position:relative;
    padding: 20px;
    border: solid 1px #ccc;
    background-color: #e3e9f2;
    margin: 0 0 20px 0;
}

#group-container div#group-logo img {
    border: solid 1px #999;
}
#group-container div#group-logo {
    float:left;
    padding: 3px;
    border: solid 1px #999;
    background:#ccc;
}

#group-container div#description {
    margin:0 0 0 140px;
    padding:0;
}

div#group-container div.actions {
    margin: 17px 0 0 0;
}

#group-container #status {
    padding: 4px 8px 2px 8px;
    margin:0;
    position:absolute;
    top:5px;
    right: 5px;
    border: solid 1px #BEBEBE;
    font-size: 11px;
    background: #ecf3ff;
    color:#17587F;
    font-weight:bold;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

div#group-container div.notice {
    margin: 17px 0 0 0;
    padding: 8px 8px 17px 47px;
    background: #fafdbf url(images/icons/32_warning.png) 8px 10px no-repeat;
}

div#group-container hr {
    margin: 17px 0 0 0;
    height: 0;
    clear: both;
    border-width: 0;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #F5F5F5;
}

div#group-container div#description h3 {
    color: #17587F;
    font-weight:bold;
    margin:0 0 4px 0;
}

div#group-container div#description ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

div#group-details-tabs div.panes {
    padding-top:17px;
}

/* group topics */
div#tabs-discussion-topics {
    position:relative;
}

div#new-topic-link {
    position:absolute;
    top:-50px;
    right:-5px;
}

/* topics (comments) */
/* general container */
div#lesson-comments-container,
div#topic-comments-container {
    position:relative;
}

/* header */

div.lesson-comment-header {
    min-height: 2.8em;
}
div.lesson-comment-header h3.header {
    padding-right:260px;
    color: #17587F;
    font-weight:bold;
}

div#topic-comments-container h3.header .group-name {
    color: #17587F;
    font-weight:bold;
}

/* actions */

div#topic-comments-container div#actions {
    position:absolute;
    top:0;
    right:0;
}

/* the commenter */
div.commenter-container {
    float:left;
    position:relative;
    padding:17px;
    width:105px;
}
div.commenter-avatar {
    width:77px;
    padding: 3px;
    border: solid 1px #999;
    background:#ccc;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 10px rgba(0,0,0,.3);
}
div.commenter-container div.commenter-avatar img.avatar {
    border: solid 1px #999;
}

div.commenter-avatar a:link,
div.commenter-avatar a:visited,
div.commenter-avatar a:hover,
div.commenter-avatar a:active {
    border:0 none;
    text-decoration: none !important;
}

/* comment >> parent */
div#lesson-comments-container div.comment,
div#topic-comments-container div.comment  {
    position:relative;
    background: #E3E9F2;
    border: solid 1px #AAA;
    margin-bottom:5px;
}

/* comment */
div.comment-container {
    margin:0 0 0 135px;
    background: #F1F7FE;
    border-left: solid 1px #AAA;
    min-height:120px;
}
div.comment-container div.header {
    padding:7px 12px;
    border-bottom: solid 1px #AAA;
    background: #E5E5E5;
}
div.comment-container div.body {
    min-height:120px;
    padding:12px;
}
div.comment-container div.actions {
    text-align:right;
    padding:8px 7px 11px 7px;
    background: #F1F7FE;
}
div.comment-container div.count {
    position:absolute;
    top:7px;
    right:7px;
    font-size:28px;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}
