.fh-form ol,
.fh-form ul {
    list-style:none;
    margin:0;
    padding:0;
}
.fh-form li {
    position: relative;
}

.fh-form  {
    margin:0;
    padding:0;
    font-size: 12px;
    font-family: "Helvetica", "Arial", sans-serif;
}

.fh-form label {
    font-size:13px;
    font-weight:bold;
    color:#29384c;
    width:165px;
    text-align:right;
    display:block;
    float:left;
    /*line-height:32px;*/
    margin-top:8px;
    margin-right:10px;
}

.fh-form .unlabelled  { margin-left:175px;display:block; }

.fh-form .field-separator {
    display:block;
    margin-left:82px;
    font-weight:bold;
}

.fh-form .help {
    margin-left:175px;
    display:block;
}

.fh-form textarea,
.fh-form input[type=text],
.fh-form input[type=password] {
    width:400px;
    height:20px;
    border: 1px solid #8d9095;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #fff url(images/backgrounds/background-signup-inputs.png) repeat-x top left;
    font-size:13px;
    color:#29384c;
    padding:5px;
    padding-top:7px
}

.fh-form input[type=file] {
    width:420px;
    height:20px;
    border: 1px solid #8d9095;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #fff url(images/backgrounds/background-signup-inputs.png) repeat-x top left;
    font-size:13px;
    color:#29384c;
    padding:5px;
    padding-top:7px
}

.fh-form textarea {
    height:100px;
}

.fh-form select{
    font-size:13px;
    color:#29384c;
    margin-bottom:5px;
    margin-top:5px;
}

.fh-form ul.section {
    /* this dictates the overall width of the form */
    width:626px;
    border: 1px solid #c1cad5;
    border-top:1px solid #8f9aa7;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    background-color:#f1f7fe;
    margin-bottom:20px;
    float:left;
}


.fh-form h3 {
    margin:8px 0 6px 82px;
}

.fh-form h4 {
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
    font-size:12px;
    color:#011934;
    margin-left:82px;
}
.fh-form ul.section li {
    background-color:#e3e9f2;
    border-top:1px solid #f3f6f9;
    border-bottom:1px solid #c1cad5;
    padding:8px;
    position:relative;
    zoom:1;
}

.fh-form ul.section li.header {
    border:0;
    border-bottom: 1px solid #c1cad5;
    min-height:52px;
    background-color:transparent;
    position:relative;
    padding:0 12px 0 0;
}

.fh-form ul.section li.minor-header {
    display:block;
    padding-left:2em;
    font-weight:bold;
    background-color:transparent;
}

.fh-form ul.section li.header span {
    position:absolute;
    display:block;
    width:59px;
    height:62px;
    top:-15px;
    left:15px;
}

div.selector select#user_time_zone  {
    color: red !important;
    width: 300px !important;
}

/* USER AGREEMENT */
div#user-agreement h4 {
    color:#0350a6;
    margin-left:0;
    font-weight:bold;
    text-transform:uppercase;
}
ul#registation-info li span.heading {
    padding:0;
    color:#0350a6;
    padding:0;
    margin: 1em;
    text-transform:uppercase;
}

ul#registation-info div#user-agreement {
    background-color: #f1f7fe;
    margin:1em;
    padding: 1em;
    overflow:auto;
    height:100px;
    border:1px solid #c1cad5;
}

a.printer-friendly {
    position:absolute;
    top:1em;
    right: 2em;
}
a.printer-friendly:hover {
    border:0 none;
    text-decoration:underline;
}

.fh-form span.accept-agreement  {
    text-align:center;
    display:block;
}


.fh-form ul#lesson-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#avatar-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#privacy-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#profile-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#instructor-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#send-a-message-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#flag-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#give-gift-certificate-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#gift-certificate-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#confirm-give-gift-certificate-path-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#group-invitation-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#invitation-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#group-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#attachment-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#attachment-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#lesson-comment-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#lesson-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#advanced-search-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#order-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#password-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#password-reset-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#request-registration-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#registation-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#review-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#topic-comments-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#edit-topic-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}
.fh-form ul#group-topics-info.section li.header span {
    background: url(images/forms/signup-icon-company.png) no-repeat top left;
}

.fh-form ul.section li.heading {
    font-weight:bold;
    background-color:transparent;
    color:#0350A6;
    font-size:13px;
    padding-left:81px;
    padding-top:10px;
}

.fh-form ul.section li span.heading {
    font-weight:bold;
    color:#0350A6;
    font-size:13px;
    padding-left:81px;
    padding-top:10px;
}

.fh-form ul.section li.bottom {
    border:0;
    min-height:5px;
    background-color:transparent;
}

/* rating stars */
.fh-form  ul.ajaxful-rating li {
    padding:1px 0 0 0;
    border:0 none;
    position:static;
}

.fh-form #rating_average {
    position:absolute;
    left: 318px;
    top:16px;
}

.fh-form .ajaxful-rating .current-rating{
    position: absolute  !important;
}


/* UNIFORM JQUERY PLUGIN CSS */
div.checker {
    height: 18px;
    width: 18px;
    overflow: hidden;
    border: solid 1px #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff url(images/forms/bg.png) repeat-x left 10px;
    float: left;
    display: inline;
    margin-right: 10px;
    position: relative;
    margin-left:175px;
}

div.checker.focus {
    border-color: #999;
}

div.checker.focus span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.checker span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

div.checker span.checked {
    background: url(images/forms/check.gif) no-repeat center center;
}

div.checker span input {
    position: absolute;
    opacity: 0;
}

/* Radio box */

div.radio {
    height: 19px;
    width: 19px;
    overflow: hidden;
    background: #fff url(images/forms/bg.png) repeat-x left 10px;
    float: left;
    display: inline;
    margin-right: 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: solid 1px #ddd;
}

div.radio.focus {
    border-color: #999;
}

div.radio.focus span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
}

div.radio span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

div.radio span.checked {
    background: url(images/forms/radio.gif) no-repeat center center;
}

div.radio span input {
    position: absolute;
    opacity: 0;
}

/* Select Box */

div.selector {
    display: block;
    width: 150px;
    border: solid 1px #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    background: #f2f2f2 url(images/forms/bg.png) repeat-x left 12px;
    line-height: 22px;
    margin-top: 3px;
    text-shadow: 0 1px 0 #fff;
    height: 22px;
    color: #444;
    margin-left:175px;
}

div.selector select {
    width: 150px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.selector.focus {
    border-color: #999;
}

div.selector span {
    position: absolute;
    left: 6px;
    top: 0px;
    font-size: 1.1em;
    padding: 0;
    display: block;
    padding-right: 20px;
    background: url(images/forms/select.gif) no-repeat right 60%;
    right: 0;
}

div.selector.focus span {
    left: 5px;
}

div.selector select {
    position: relative;
    font-size: 1.1em;
    padding: 0;
    line-height: 23px;
    border: 0;
    margin: 0;
    padding-right: 40px;
}

/*  FORM ERRORS */

span.required-field {
    z-index: 1;
    background:transparent url("images/forms/asterisk.png") no-repeat top right;
    width:16px;
    height:16px;
    position:absolute;
    top:6px;
    right:10px;
}

span.error {
    color:#0350a6;
    top:9px;
    left:640px;
    width:276px;
    text-align:left;
    position:absolute;
    padding: 5px 5px 5px 26px;
    background: #fdffdf url("images/forms/error-circle.png") no-repeat 3px 3px;
    border:solid 2px #E3E9F2;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
span.valid {
    border: 0 none;
    position:absolute;
    top:24px;
    left:600px;
    height:16px;
    width:16px;
    background:url("images/forms/ok-circle.png") no-repeat 0px 0px;
}

.fh-form .errorExplanation {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.fieldWithErrors {
    padding: 2px;
    display: table;
}

#errorExplanation {
    /* this dictates the overall width of the errorExplaination box */
    width:612px;
    border: 2px solid #801609;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #fdffdf;
}

#errorExplanation h2 {
    background-color: #801609;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    margin: -7px;
    color: #f2f2f2;
    text-shadow: #333 2px 2px 1px;
}

#errorExplanation p {
    font-size: 12px;
    color: #333;
    margin-bottom: 0;
    margin: 14px 5px 5px 10px;
}

#errorExplanation ul {
    font-size: 12px;
    margin: 5px 5px 5px 10px;
}

/* CHARACTER COUNTER */
div.counter {
    margin:3px 0 0 175px;
}

div.counter .safe,
div.counter .over {
    padding:3px;
    font-weight:bold;
}

div.counter .safe { color: inherit;}
div.counter .over { color:red }


/* Deviation Advanced search form */
.fh-form.advanced ul.section {
    /* this dictates the overall width of the form */
    width:950px;
}

.fh-form.advanced div.collection {
    margin:0 0 0 165px;
}

.fh-form.advanced span.item {
    float: left;
    width:150px;
}
