#top-navigation-container {
    right:0;
}

#shadowbox-middle {
    margin-top: -6px;
}

#main-navigation li.selected.first
{
    border:solid 1px #fff;
    padding:0;
    margin:0;
    height:35px;
}

.widget-box-content .activity-feed li {
    zoom:1;
}
