#top-navigation-container {
    right:0;
}

#shadowbox-middle {
    margin-top: -6px;
}

#main-navigation li.selected.first
{
    border:solid 1px #fff;
    padding:0;
    margin:0;
    height:35px;
}

.secondary-sub-navigation ul.links li a.current,
.secondary-sub-navigation ul.links li a:hover {
    color: #555;
}
