.lessons-container { }

.lesson-list {
    margin:0;
    padding:0;
    list-style-type: none;
}

.lesson-list li {
    position:relative;
    float: left;
    width:148px;
    margin-right: 18px;
    margin-bottom: 22px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #999;
}

.lesson-list img {
    display: block;
    margin:0 0 6px 0;
    padding:0;
    border:solid 1px #D6D6D6;
}

li .duration {
    font-size:9px;
    padding: 0 2px;
    color: #fff;
    font-weight: bold;
    position:absolute;
    top:98px;
    left:0px;
    background: #555;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

.compact_container {
    padding:18px 0;
    margin:0;
    width: 668px;
}

.compact_container .item_container {
    float:left;
    padding: 0px;
    margin:0px 39px 40px 0px;
    width:126px;
}

/* single scrollable item */
.item_container  img {
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    cursor:pointer;
    width:120px;
    height:90px;
}

.item_container	.tn {
    position:relative;
}

.item_container	.duration {
    font-size:9px;
    padding: 0 2px;
    color: #fff;
    font-weight: bold;
    position:absolute;
    bottom:3px;
    left:3px;
    background: #555;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

.item_container	.title, .item_container	.created_at, .item_container	.instructor {
    font-size:11px;
}

/* active item */
.scrollable .active {
    /*
    border:1px solid #ccc;
    z-index:9999;
    position:relative;
    */
}
