.lessons-container {
    margin:0;
    padding:0;
}

.lessons-container .title {
    font-size:11px;
    color:#fff;
    font-weight:bold;
}

.lesson-container {
    position:relative;
    float:left;
    margin: 0 6px 22px 0;
    padding:12px 5px 10px 11px;
    background: url('/stylesheets/v2/images/backgrounds/image_holder.png') no-repeat scroll 0 0;
    width:168px;
    height:168px;
    font: 11px Arial, Helvetica, sans-serif;
    color: #999;
}

#category-show .lesson-container {
    margin: 0 26px 22px 0;
    padding:12px 5px 10px 11px;
}

#category-show .lesson-container.last {
    /*border: solid 1px red;*/
    margin-right:0;
    padding-right:0;
}

#category-show div.tab-container div.panes {
    padding:17px 0 0 17px;
    /*border: solid 1px red;*/
}

.lesson-container img {
    display: block;
    margin:0 0 6px 0;
}

.lesson-container .title {
    padding:0;
    margin:0;
    width:140px;
}

div.duration {
    font-size:9px;
    padding: 0 2px;
    color: #fff;
    font-weight: bold;
    position:absolute;
    top:110px;
    left:11px;
    background: #555;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

/* single scrollable item */
.item_container img {
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    cursor:pointer;
    width:120px;
    height:90px;
}

.item_container	.tn {
    position:relative;
}

.item_container	.duration {
    font-size:9px;
    padding: 0 2px;
    color: #fff;
    font-weight: bold;
    position:absolute;
    bottom:3px;
    left:3px;
    background: #555;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

.item_container	.title, .item_container	.created_at, .item_container	.instructor {
    font-size:11px;
}

/* active item */
/*
.scrollable .active {
border:1px solid #ccc;
z-index:9999;
position:relative;
}
*/


/* Category Round Up*/
.widget-box-content.categories {
    padding:17px 0 0 17px;
}
.category-container {
    float: left;
    padding:12px;
    margin: 0 17px 17px 0;
    height: 45px;
    width: 260px;
    background:#e8f5fb;
    color:#777;
}
.category-container {
    font-weight:bold;
}
.category-container a {
    text-decoration:none;
    color:#2786c2;
    font-weight:bold;
}
.category-container h3 {
    margin-bottom:11px;
}
.category-container h3 a:hover {
    text-decoration:underline;
    color:#17587F;
    border:0 none;
}
.category-container:hover {
    background:#bee5fc;
    color:#555;
}

/* Tags box */
.widget-box-content.tags {
    padding:17px;
}

/* Lessons you may like */
.lessons-you-may-like .lesson_brief  {
    font-size:11px;
}

.lessons-you-may-like .lesson_brief .title {
    font-style:italic;
}

.widget-box-content .lesson_brief li {
    position:relative;
    margin: 0;
    padding: 8px 8px 8px 54px;
    display:block;
    min-height: 45px;
}

.widget-box-content .lesson_brief li img.avatar {
    border: solid 1px #E3E3E3;
    position:absolute;
    left:8px;
    top:8px;
}
