/* TWEETS POD */
/*#latest_firehoze_tweets {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

#latest_firehoze_tweets .tweet_list {
    list-style-type: none;
    margin: 0;
}

#latest_firehoze_tweets .tweet_list li {
    padding: 10px;
    overflow: auto;
    border-bottom: solid 1px #CFCFCF;
}

#latest_firehoze_tweets .tweet_list li:last-child { 
    border: none;
}

#latest_firehoze_tweets .tweet_list li a {
    color: inherit;
}

#latest_firehoze_tweets .tweet_list .tweet_even {
    background-color: #FCFCFC; 
}

#latest_firehoze_tweets .tweet_list .tweet_avatar {
    padding-right: 5px;
    float: left; 
}
#latest_firehoze_tweets .tweet_list .tweet_avatar img {
    vertical-align: middle; 
}
*/