#profile-box {
    z-index:1;
    position:relative;
    margin:0;
    padding:20px;
    border: solid 1px #CCC;
    height:62px;
}

#profile-box .avatar {
    float:left;
    border: solid 1px #ccc;
}

#profile-box #content {
    padding:0;
    margin:0 0 0 80px;
}

#profile-box #content #balance {
    z-index:1;
    position: absolute;
    top:17px;
    right:17px;
}

#profile-box #content #action {
    z-index:1;
    padding:0;
    position: absolute;
    bottom:17px;
    right:17px;
}

/* Profile links */
ul.third-level-nav {
    display: block;
    margin: 0;
    padding:0;
}

ul.third-level-nav li {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0 12px;
    border-right: solid 1px #ccc;
}

ul.third-level-nav li:first-child { 
    padding-left: 0;
}

ul.third-level-nav li:last-child { 
    border: none;
}

ul.third-level-nav li a {
    border: 0 none;
    text-decoration: none;
    border-bottom: solid 1px #999;
}

ul.third-level-nav li a:hover {
    border-bottom: solid 2px #999;
}

ul.third-level-nav li.current a {
    font-weight:bold;
    text-decoration: none;
    border: 0 none;
}

/* filter by links */
dl.third-level-nav {
    width: auto;
    height: 19px;
    margin: 0;
}
dl.third-level-nav dt, dl.third-level-nav dd {
    float: left;
    display: inline;
}
dl.third-level-nav dt {
    font-weight: bold;
    letter-spacing: 0.02em;
}
dl.third-level-nav dd {
    margin: 0px;
    padding: 0 14px;
    border-right: solid 1px #ccc;
}

dl.third-level-nav dd a {
    margin: 0px;
    text-decoration: none;
    border: 0 none;
    text-decoration: none;
    border-bottom: solid 1px #999;
}

dl.third-level-nav dd:last-child { 
    border: none;
}


dl.third-level-nav a:hover {
    border-bottom: solid 2px #999;
}

dl.nav dd.active a {
    /*color: #fff;*/
}

/**********************************/
/*    NOT USING THIS RIGHT NOW    */
/**********************************/
ul.top-level-navigation {
    display: block;
    width: auto;
    height: 27px;
    margin: 0 0 16px 0;
}

ul.top-level-navigation li {
    list-style: none;
    float: left;
    display: inline;
    margin-right: 8px;
    border: solid 2px #F2F2F2;
    padding: 5px 12px  5px 12px ;
    color: #295F6D;
    background: #FFF;
}

ul.top-level-navigation li a {
    border: 0 none;
    text-decoration: none;
}

ul.top-level-navigation li:hover {
    border: solid 2px #F2F2F2;
    background: #F2F2F2;
}

ul.top-level-navigation li.current  {
    background: #CCC;
    border: solid 1px #CCC;
}

ul.top-level-navigation li.current a {
    text-shadow: #666 0 1px 1px;
    font-weight:bold;
    color: #fff;
}
