ul.top-level-navigation {
    display: block;
    width: auto;
    height: 27px;
    margin: 0 0 10px 0;
}

ul.top-level-navigation li {
    list-style: none;
    float: left;
    display: inline;
}

ul.top-level-navigation li a {
    text-decoration: none;
    margin: 0 12px 0 0;
    padding: 5px 12px;
    color: #295F6D;
    background: #FFF;
    border: solid 2px #F2F2F2;
}

ul.top-level-navigation li a:hover {
    border: solid 2px #F2F2F2;
    background: #F2F2F2;
}

ul.top-level-navigation li.current a {
    text-shadow: #666 0 1px 1px;
    background: #CCC;
    border: solid 1px #CCC;
    font-weight:bold;
    color: #fff;
}

#balance {
    text-align:right;
    float:right;
}

.top-level-navigation-box-outer {
    margin:0;
    padding:6px;
    background: #ccc;
    border: solid 1px #ccc;
}
.top-level-navigation-box-inner {
    margin:0;
    padding:15px;
    background: #F2F2F2;
    border: solid 1px #F2F2F2;
    /*		width:100%;*/
}

dl.top-level-navigation {
    display: block;
    width: auto;
    height: 27px;
    margin: 0;
}
dl.top-level-navigation dt,
dl.top-level-navigation dd a {
    float: left;
    display: inline;
}
dl.top-level-navigation dt {
    color:#555;
    font-size:18px;
    text-decoration: none;
    padding: 5px 0;
}

dl.top-level-navigation dd a {
    text-decoration: none;
    margin-left: 12px;
    padding: 5px 12px;
    color: #295F6D;
    background: #FFF;
    border: solid 1px #F2F2F2;
}

dl.top-level-navigation dd a:hover {
    border: solid 1px #F2F2F2;
    background: #74B3CF;
    color: #fff;
}
dl.top-level-navigation dd.current a {
    background: #295F80;
    border: solid 1px #295F80;
    font-weight:bold;
    color: #fff;
}
