ul.top-level-navigation {
    display: block;
    width: auto;
    height: 27px;
    margin: 0 0 16px 0;
}

ul.top-level-navigation li {
    list-style: none;
    float: left;
    display: inline;
    margin-right: 8px;
    border: solid 2px #F2F2F2;
    padding: 5px 12px  5px 12px ;
    color: #295F6D;
    background: #FFF;
}

ul.top-level-navigation li a {
    border: 0 none;
    text-decoration: none;
}

ul.top-level-navigation li:hover {
    border: solid 2px #F2F2F2;
    background: #F2F2F2;
}

ul.top-level-navigation li.current  {
    background: #CCC;
    border: solid 1px #CCC;
}

ul.top-level-navigation li.current a {
    text-shadow: #666 0 1px 1px;
    font-weight:bold;
    color: #fff;
}

#balance {
    text-align:right;
    float:right;
}

.top-level-navigation-box-outer {
    margin:0;
    padding:6px;
    background: #ccc;
    border: solid 1px #ccc;
}
.top-level-navigation-box-inner {
    margin:0;
    padding:15px;
    background: #F2F2F2;
    border: solid 1px #F2F2F2;
}

dl.nav {
    width: auto;
    height: 19px;
    margin: 0;
}
dl.nav dt, dl.nav dd {
    float: left;
    display: inline;
}
dl.nav dt {
    color: #999;
    font-weight: normal;
}
dl.nav dd a {
    border: 0 none;
    margin-left: 6px;
    padding: 5px 12px;
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: 0 none;

}
dl.nav a:hover {
    background: #eee;
}
dl.nav dd.active a {
    background: #2daebf;
    color: #fff;
}
