.nested-navigation {
    position: relative;
    z-index: 1;
}

.nested-navigation ul.links {
    padding:0;
    margin:0 0 23px 0;
}

.nested-navigation ul.links li {
    display: inline;
}

.nested-navigation ul.links li a {
    border:0 none;
    margin-right: 6px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.nested-navigation ul.links li a:link,
.nested-navigation ul.links li a:visited {
    color: #666;
    background: #CCCCCC;
    padding:4px 20px 6px 20px;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.nested-navigation ul.links li a:hover {
    color: #F2F2F2;
    background: #737373;
}

.nested-navigation ul.links li a.current {
    color: #F2F2F2;
    background: #737373;
}

.nested-navigation-panes {
    /*border:solid 1px lime;*/
}
