.nested-navigation {
    position: relative;
    z-index: 1;
}

div.nested-navigation div.loader {
    z-index: 10;
    height:24px;
    width:24px;
    position: absolute;
    top:51px;
    right:0px;
    background: transparent url("images/spinners/ajax_spinner_16.gif") no-repeat;
}

div.nested-navigation-panes div .pagination {
    margin:0;
    padding: 8px 26px 8px 0;
    text-align:right;
}

.nested-navigation  ul.links {
    background-color: #A9A9A9;
    padding:10px 0 12px 12px;
}

.nested-navigation ul.links li a {
    border:0 none;
    margin-left: 6px;
    padding: 5px 12px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.nested-navigation ul.links li {
    display: inline;
}

.nested-navigation ul.links {
    margin:0;
    padding-left:0px;
}

.nested-navigation ul.links li a:link,
.nested-navigation ul.links li a:visited {
    color: #F2F2F2;
    padding:4px 20px 6px 20px;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none
}

.nested-navigation ul.links li a:hover {
    background: #8C8C8C;
}

.nested-navigation ul.links li a.current {
    background: #737373;
    font-weight:bold;
}

.panes p {
    margin: 12px 0;
}

/*
.nested-navigation-panes {
     border:solid 1px #A9A9A9;
    border-width:1px 1px 1px 1px;
}
*/
