.sub-navigation {
    margin:0;
}

.sub-navigation-panes {
    margin:20px 0 34px 0;
}

.sub-navigation li {
    float:left;
    margin: 0 1px 0 0;
    padding:0;
    vertical-align: middle
}

.sub-navigation ul.buttons {
    margin:0;
    padding:0;
}

ul.buttons li {
    position: relative;
    float: left;
    width: auto
}
ul.buttons li {
    margin: 0 0 0 1px;
    display: inline
}
a.button {
    display: block;
    padding: 0.4em 1.4em;
    background: url(images/sub_navigation/button_bg.png) repeat-x left center;
    text-shadow: #333 0 1px 1px;
    color: #FFF; letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none
}
a.button:hover, ul.buttons li a.current {
    background-image: url(images/sub_navigation/button_bg_on.png)
}
a.button .top_left, a.button .top_right, a.button .bottom_left, a.button .bottom_right {
    overflow: hidden;
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 4px
}
a.button .top_left {
    top: 0;
    left: 0;
    background: url(images/sub_navigation/corners.png) no-repeat 0 0
}
a.button .top_right {
    top: 0;
    right: 0;
    background: url(images/sub_navigation/corners.png) no-repeat -4px 0
}
a.button .bottom_left {
    bottom: 0;
    left: 0;
    background: url(images/sub_navigation/corners.png) no-repeat 0 -4px
}
a.button .bottom_right {
    bottom: 0;
    right: 0;
    background: url(images/sub_navigation/corners.png) no-repeat -4px -4px
}
a.button:hover .top_left, ul.buttons li a.current .top_left {background-position: 0 -8px}
a.button:hover .top_right, ul.buttons li a.current .top_right {background-position: -4px -8px}
a.button:hover .bottom_left, ul.buttons li a.current .bottom_left {background-position: 0px -12px}
a.button:hover .bottom_right, ul.buttons li a.current .bottom_right {background-position: -4px -12px}
a.button:active, ul.buttons li a:focus {outline: none}


/* SUB-SUB-NAVIGATION */
.sub-sub-navigation ul {
    /*    width:auto;*/
}

.sub-sub-navigation-panes {
    padding:16px;
    /*    margin:0 0 34px 1px;*/
/*    border:solid 1px #D6D6D6;*/
}

.sub-sub-navigation ul.links li {
    margin: 0 0 0 1px;
    display: inline;
}

.sub-sub-navigation ul.links {
    margin:0 0 20px 0;
    padding-left:0px;
}

.sub-sub-navigation ul.links li a.current {
    font-weight:bold;
/*    border-bottom:solid 4px #ccc;*/
    color: inherit;
}

.sub-sub-navigation ul.links li a:hover {
    border-bottom:solid 4px #D6D6D6;
    color: inherit;
}

.sub-sub-navigation ul.links li a {
    color: #A6A6A6;
}

.sub-sub-navigation ul.links li a {
    padding:2px 20px 6px 20px;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none
}

.sub-sub-navigation ul.links {
    margin-bottom:8px;
}
