#top-navigation {
    float: right;
    margin: 8px 0 0 0;
    font: bold 13px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    text-shadow: #fff 0 1px 1px;
}

#top-navigation li {
    float: left;
    padding-right: 2px;
    background: url(images/top_navigation/nav-li-dark.png) no-repeat right;
    list-style-type:none;
    position: relative;
}

#top-navigation li a {
    float: left;
    padding: 1px 20px 5px;
    background: url(images/top_navigation/nav-a.png) repeat-x 0 0;
    color: #666;
    text-decoration: none;
}

#top-navigation li.with-subnav a  {
    padding: 1px 3px 5px 20px;
}

#top-navigation li.selected a,
#top-navigation li.selected a:hover {
    /*color: #0AAF30;*/  /*GREEN*/
    color: #BF1701;  /*RED LINK*/
    cursor: default;
}

#top-navigation li.selected a:focus {
    color: #069;
}

#top-navigation li a:hover,
#top-navigation li a:focus {
    /*color: #0AAF30;*/  /*GREEN*/
    color: #BF1701;      /*RED LINK*/
    text-decoration: none;
}

#top-navigation li a:active {
    padding-top: 2px;
    padding-bottom: 4px;
}

#top-navigation li.first a {
    background: url(images/top_navigation/nav-a-first.png) no-repeat 0 0;
    padding-left: 22px;
}

#top-navigation li.with-avatar a {
    padding-left: 12px;
}

#top-navigation .avatar {
    margin-top: 3px;
    margin-right: 8px;
    float: left;
    border: solid 2px #ccc;
    height: 22px;
    width: 22px;
}

#top-navigation li.last {
    background: none;
    padding: 0;
}

/* not used right now (search box is taken it's place)*/
#top-navigation li.last a {
    background: url(images/top_navigation/nav-a-last.png) no-repeat right;
    padding-right: 22px;
}

/* SEARCH BOX */
#searchwrapper {
    width:187px; /* image's actual height */
    height:36px; /* image's actual width size*/
    background: url(images/top_navigation/search_box.png) no-repeat;
    padding:0px;
    margin:0px;
    position:relative;
}

#searchwrapper form { display:inline ;}

input.searchbox {
    border:0px;
    background-color:transparent;
    position:absolute;
    top:4px;
    left:11px;
    width:132px;
    height:16px;
    color: #444;
    font-size:12px;
    margin:0.5em 0;
}

input.searchbox[type=text]:focus,
input.searchbox:focus {
    border:none;
}

.searchbox_submit {
    border:0px;
    border: none;
    background-color:transparent;
    position:absolute;
    top:9px;
    left:151px;
    width:20px;
    height:17px;
}

/* SUBNAV */
/*--Drop down trigger styles--*/
ul#top-navigation li span {
    width: 17px;
    height: 34px;
    float: left;
    background: #fff url(images/top_navigation/arrow_buttons.png) no-repeat left top;
    padding:0 14px 0 0;
    margin:0;
}
ul#top-navigation li span.subhover {
    background-position: left bottom;
    cursor: pointer;
    padding:0 14px 0 0;
    margin:0;
}

/*--Hover effect for trigger--*/
ul#top-navigation li ul.subnav {
    font: normal 13px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: none;
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    z-index:50000;
    left: 0; top: 34px;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    width: 168px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    background: #333;
    border: 1px solid #4F4F4F;
}
ul#top-navigation li ul.subnav li{
    margin: 0;
    padding: 0;
    border-top: 1px solid #555;
    /* border-bottom: 1px solid #252525; */ /* Create bevel effect */
    clear: both;
    width: 168px;
}

html ul#top-navigation li ul.subnav li a {
    color: #ccc;
    float: left;
    width: 145px;
    background: #444 url(images/top_navigation/dropdown_link_bg.gif) no-repeat 8px center;
    padding-left: 20px;
}

/*--Hover effect for subnav links--*/
html ul#top-navigation li ul.subnav li a:hover {
    background: #222 url(images/top_navigation/dropdown_link_bg.gif) no-repeat 8px center;
}
