<% pane = params[:pane] if params[:pane] %>
<% orders = @orders if pane == "orders" %>

<div id="<%= pane %>">
  <% if orders.present? %>
      <table>
        <tr>
          <th>Order Number</th>
          <th>Order Date</th>
          <th>Amount</th>
        </tr>
        <%= render :partial => 'orders/v2/order', :collection => orders %>
      </table>
  <% else %>
      No lessons
  <% end %>
</div>
