<% pane = params[:pane] if params[:pane] %>
<% groups = @groups if pane == "groups" %>

<%= image_tag("general/spinners/ajax-loader_small_arrows.gif", :class => "loader") %>
<div id="<%= pane %>">
  <table>
    <tr>
      <th colspan="2">
        Group
      </th>
      <th>
        Relationship
      </th>
      <th>
        Category
      </th>
    </tr>
    <% if groups.empty? %>
        <tr>
          <td colspan="4">
            You do not belong to any groups
          </td>
        </tr>
    <% else %>
    <% paginated_section  groups, :params => { :pane => pane } do %>
      <%= render :partial => 'categories/group', :collection => user.groups.ascend_by_name %>
    <% end %>
    <% end %>
  </table>
</div>
