<div class="span-8">
  <div class="blue-box">
    <ul id="categories-header" class="section">
      <li class="header">
        <span></span>
        <h3>Browse Groups by Categories</h3>
        <h4>Groups are wicked</h4>
      </li>
      <li id="categories-roundup" class="clearfix">
        <%= render :partial => 'categories/v2/category', :collection => @categories, :locals => { :mode => "groups" } %>
      </li>
    </ul>
  </div>
</div>
