<table>
  <tr>
    <th>
      Acquired At
    </th>
    <th>
      Type
    </th>
    <th>
      Order Number
    </th>
    <th>
      Price Paid
    </th>
    <th>
      Redeemed At
    </th>
    <th>
      Redeemed For
    </th>
    <th>
      Expiration Date
    </th>
  </tr>
  <%= render :partial => 'credit', :collection => user.credits.all(:order => "created_at DESC") %>
</table>