Replace this with the mosiacs tab
<% if (followed_instructors = user.followed_instructors.present?) %>
<ul>
  <% followed_instructors.each do |instructor| %>
  <li>
    <%= link_to_profile(instructor) %>
  </li>
  <% end %>
</ul>
<% end %>