<%
top_level_navigation = [
  [:latest_news, {
      :name => 'Latest News',
      :location =>  my_firehoze_index_path
    }],
  [:my_stuff, {
      :name => 'My Stuff',
      :location =>  my_stuff_my_firehoze_path
    }],
  [:account_history, {
      :name => 'Account History',
      :location => account_history_my_firehoze_path
    }]
]

instructor_link = [:instructor, {
    :name => 'Instructor Dashboard',
    :location =>  instructor_my_firehoze_path
  }]

top_level_navigation << instructor_link if current_user.verified_instructor?
nav_count = 0
%>

<ul class="third-level-nav">
  <% top_level_navigation.each do |key, item|
    css = []
    nav_count += 1
    css << "last" if nav_count == top_level_navigation.size
    css << "current" if @secondary_nav_current.to_s == key.to_s
  %>
    <li<%= " class='#{css.join(" ").to_s}'" unless css.empty? %>><%= link_to item[:name], item[:location] %></li>
  <% end %>
</ul>
