<div id="profile-box">
  <%= avatar_tag user, :size => :smaller %>
  <div id="content">
    <h3><%= user.full_name %>'s firehoze</h3>
    <%= render :partial => 'nav' %>
    <%= render :partial => 'balance', :locals => { :user => user} %>
  </div>
</div>
