<h4>Latest Tweets from Firehoze</h4>
<div id="latest_firehoze_tweets" class="box">
  <%= render :partial => 'tweet', :collection => @tweets %>
</div>
<%= link_to "See all", "http://twitter.com/firehoze", :popup => true %>
