<h4>Latest Tweets from Firehoze</h4>
<div id="latest_firehoze_tweets" class="box">
  <p>BOB -- please go ahead and put tweets in here. I'd recommend a named_scope with the option to pass the number of latest tweets desired.</p>
  <p>[i.e., Tweet.lastest(3)]</p>
</div>
