/*--- Set Sprite Image ---*/
#id0,
#id1,
#id2{
	background-image : url("./sprite.png") ;
}

/*--- filename : shadow-box-top.png ---*/
#id0 {
	width : 1000px ;
	height : 55px ;
	background-position : left top ;
	background-repeat : no-repeat ;
}

/*--- filename : shadow-box-bottom.png ---*/
#id1 {
	width : 1000px ;
	height : 120px ;
	background-position : left -75px ;
	background-repeat : no-repeat ;
}

/*--- filename : shadow-box-middle.png ---*/
#id2 {
	width : 1000px ;
	height : 5px ;
	background-position : left -215px ;
	background-repeat : no-repeat ;
}