<p>
  Hi <%= h @to_user.full_name %>,
</p>
<p>
  A Firehoze user has sent you a message:
</p>
<p>
  <%= @msg %>
</p>
<p>
  Sincerely, <%= h @from_user.full_name %>
</p>
<p>
  <%= link_to 'Sign In', @url %>
</p>
