<p>
  Hi <%= @lesson.instructor.full_name %>,
</p>
<p>
  Your lesson "<%= @lesson.title %>" failed processing with the following error:
  <%= @lesson.lesson.processed_videos.by_format('Flash').last.video_transcoding_error %>
</p>
<p>
  Firehoze system adminstrators have been notified of this issue and are looking into the problem.
</p>
<p>
  <%= link_to 'Sign In', @url %>
</p>
