<p>
  Hi <%= h @lesson.instructor.full_name %>,
</p>
<p>
  Your lesson "<%= h @lesson.title %>" has been successfully processed and is ready for viewing.
</p>
<p>
  <%= link_to 'Sign In', @url %>
</p>
