<table>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Email</th>
        <th>Login IP</th>
        <th>Logged In At</th>
    </tr>
    <%= render @user_logons %>
</table>
<%= will_paginate @user_logons %>
<br/>
Rows to Display Per Page: <%= per_page_select(user_logons_path) %>
