<% title "Invitation to Join Group #{ h @invitation.group.name}" -%>

<h3>Invitation to Join Group <%= h @invitation.group.name %></h3>
<p>
  You have been invited to join the Firehoze Group "<%= h @invitation.group.name %>": <%= h @invitation.group.description %>
</p>
<% if @invitation.message and !@invitation.message.blank? %>
    <p>
      Message: <%= @invitation.message %>
    </p>
<% end %>
<p>
  Firehoze Groups are mini communities of users who share a common interest. Group members can share information, engage
  in online discussion, and suggestion lessons to their peers which would be of interest.
</p>