div {
	/*border: 1px solid red;*/
}

/* top nav */
#top_nav_links {
    /*	border: 1px solid green;*/

    text-align:right;
}

#top_nav_links li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}

/* main_nav */
#main_nav ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #4F4F4F;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
}

#main_nav ul li { display: inline; }

#main_nav ul li a {
    padding: 0.2em 1em;
    background-color: #4F4F4F;
    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#main_nav ul li a:hover {
    background-color: #8F8F8F;
    color: #fff;
}

.lesson_container, .more, .lesson_left, .lesson_center, .lesson_right {
    margin:0;
    padding:0;
    /*border: 1px solid blue;*/
}

.tag_cloud {
    padding:14px;
    border:1px solid #999;
}
