/* GENERAL */

div {
    /*border: 1px solid red;*/
}

/* TOP NAV */
#top_nav_links {
    text-align:right;
}

#top_nav_links li
{
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}

/* MAIN NAVIGATION */

#main_nav ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #4F4F4F;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
}

#main_nav ul li { display: inline; }

#main_nav ul li a {
    padding: 0.2em 1em;
    background-color: #4F4F4F;
    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#main_nav ul li a:hover {
    background-color: #8F8F8F;
    color: #fff;
}


/* LESSONS */

.lesson_container, .more, .lesson_left, .lesson_center, .lesson_right {
    font-size: 11px;
    margin:0;
    padding:0;
}

.tag_cloud {
    padding:14px;
    border:1px solid #999;
}

#lesson_list_collection
{
    padding-top:20px;
    background-color: #fff;
    border: solid 1px #999;
}


/* styled like an <h4> */
.lesson_title_link {
    font-size: 1.2em;
    line-height: 1.25;
}

img.lesson_tn {
    border: solid 1px #999;
    height: 91px;
    width: 136px;
}

/* FORMS */

.button-to {
    float: left;
    margin:0;
    padding:3px 3px 5px 0;
}
