/* GENERAL */

/* psuedo-header classes */
.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: normal; color: #111; }
.h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
.h2 { font-size: 2em; margin-bottom: 0.75em; }
.h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

.hidden {
    display:none;
}

div {
    /*border: 1px solid red;*/
}

.spacer {
    border-top: solid 1px #cfcfcf;
    margin: 20px 0;
    padding:0;
    clear:both;
}

.transparent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.recaptchatable * {
    background-color: #fff;
}

/* FOOTER */
#footer #content {
    text-align:center;
    border: solid 1px #ccc;
    background-color: #efefef;
    padding: 10px;
    margin:0 0 10px 0;
}

/* TOP NAV */
#top_nav_links {
    text-align:right;
}

#top_nav_links li {
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}

/* MAIN NAVIGATION */
#main_nav ul {
    padding-left: 0;
    margin-left: 0;
    background-color: #4F4F4F;
    color: White;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
}

#main_nav ul li { display: inline; }

#main_nav ul li a {
    padding: 0.2em 1em;
    background-color: #4F4F4F;
    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#main_nav ul li a:hover {
    background-color: #8F8F8F;
    color: #fff;
}

/* LOGIN and REGISTRATION */
.info {
    border: solid 1px #ccc;
    background-color: #efefef;
    padding: 24px;
}

/* LESSONS */

/* marketing upsell text */
#marketing_fpo {
    color: #777;
    border: solid 2px #ccc;
    background-color: #efefef;
    font-size:16px;
}

#marketing_fpo h2 {
    color:#444;
}

#marketing_fpo_left h2, #marketing_fpo_right h2 {
    text-align:center;
}

#marketing_fpo_left {
    padding: 40px 40px 10px 40px;
    border-right: solid 2px #ccc;
}

#marketing_fpo_right {
    padding: 40px 40px 10px 40px;
}


/* lesson_collections */
.lesson_container, .more, .lesson_left, .lesson_center, .lesson_right {
    margin:0;
    padding:0;
}

#tag_cloud {
    padding:14px;
    border: solid 1px #AFAFAF;
}

/*#other_lessons_by {
    border: solid 1px #AFAFAF;
}

#other_lessons_by .header {
    margin:0;
    padding:4px 4px 4px 14px;
}

#other_lessons_by #inner {
    padding:4px 0 4px 14px;
    border-top: solid 1px #eee;
    height: 300px;
    overflow: auto;
}
*/
#lesson_list_collection {
    padding-top:20px;
    background-color: #fff;
    border: solid 1px #cfcfcf;
}

/* styled like an <h4> */
.lesson_title_link {
}

.lesson_center div {
    margin: 0 0 5px 0;
    padding:0;
}

.lesson_instructor_avatar {
    margin: 0;
    padding:0;
    border: solid 1px #cfcfcf;
    width: 110px;
    height: 110px;
}

img.lesson_tn {
    border: solid 1px #cfcfcf;
    width: 146px;
    height: 110px; /* 4:3 aspect ratio */
}

#bought_this_video_also_bought {
    padding:24px;
    border: solid 1px #AFAFAF;
}

#what_do_students_ultimately {
    padding:24px;
    border: solid 1px #AFAFAF;
}

#what_do_students_ultimately .lesson {
    background:url(../../../images/scrollable/h300.png) repeat-x;
    padding:5px;
}

#what_do_students_ultimately .lesson_tn  {
    border: solid 1px #cfcfcf;
    width: 100px;
    height: 75px; /* 4:3 aspect ratio */
}

#what_do_students_ultimately .even  {
}

#what_do_students_ultimately .odd  {
}

/* LESSON_SHOW */
#lesson_container #banner {
    padding: 10px 0;
    border: solid 1px #999;
    background-color: #e3e3e3;
}

#banner_title {  font-size: 1.4em; margin: 0 0 0 10px; }

#lesson_container #banner #rating { }

#lesson_container #banner #rating #stats {
    height:18px;
    text-align:right;
    vertical-align: middle;
    padding: 4px 0;
}

#lesson_container #banner #rating #stars {
    float:right;
}

#lesson_description {
    padding-left: 10px;
}

.tags_lesson_show {
    margin:10px 0 0 0;
    border: solid 1px #999;
    background-color: #e3e3e3;
    padding: 10px;
}

#instructor_accordion_container {
    height: 300px;
}

#instructor_accordion .ui-accordion-content {
    padding:0 8px 15px 15px;
}

#instructor_accordion .lesson_brief .title {
    font-style:italic;
}

#instructor_accordion .lesson_brief .synopsis {
    margin:0 0 10px 0;
}

#lesson_stats_accordion .ui-accordion-content {
    padding:0 2px 15px 15px;
}

.adjacent_icon {
    float: left; margin-right: .3em;
}

/* HOME */
#user_accordion_container {
    height: 300px;
}

#user_accordion .ui-accordion-content {
    padding:0 2px 15px 15px;
}

#user_accordion .content * {
}

#user_accordion .lesson_brief .title {
    font-style:italic;
}

#user_accordion .lesson_brief .synopsis {
    margin:0 0 10px 0;
}

/* USER SHOW */
#user_show {
    margin:0;
    padding:0;
}

#user_show #name_plate {
    border: solid 1px #999;
    background-color: #efefef;
    padding: 10px 0;
}

#user_show #name {
    padding: 0 0 0 10px;
}

#user_show #avatar {
    border: solid 1px #999;
    width:227px;
    height:227px;
}

/* FORMS */
.lesson_center .button-to, #lesson_description .button-to {
    float: left;
    margin:0;
    padding:3px 3px 5px 0;
}

.flash {
    display: none;
    position:absolute;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #999;
    background-color: #EEEEEE;
    width: 100%;
}

#centered_flash {
    text-align: center;
    padding:18px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    font-size: 1.2em;
    line-height: 1.25;
    font-weight:bold;
}

.error_msg {
    color: red;
}

.notice_msg {
    color: green;
}

#avatar_form input.submit {
    /*font-size: 30px;*/
}


/* Reviews */
div.review {
    margin:0;
    padding:0;
}

.action_box {
    padding:10px;
    text-align:right;
}

div.review .helpful_phrase {
    color: #8F8F8F;
    font-style: italic;
}

div.review .headline {
    color: #6F6F6F;
    /*    margin:8px 0;*/
}

div.review .timestamp {
    color: #8F8F8F;
    font-style: italic;
    margin-bottom:8px;
}

div.review .instructor_avatar {
    margin: 0;
    padding:0;
    border: solid 1px #cfcfcf;
    width: 110px;
    height: 110px;
}

div.review .actions .button-to {
    float: left;
    margin:0;
    padding:3px 3px 5px 0;
}

div.review .rating { }

div.review .banner .rating .stats {
    height:18px;
    text-align:right;
    vertical-align: middle;
    padding: 4px 0;
}

div.review .banner .rating .stars {
    float:right;
}

.adjacent_icon {
    float: left; margin-right: .3em;
}

#rating_container {
    position:relative;
    margin:0;
    padding:0;
}

#rating_average {
    position:absolute;
    top:6px;
    left:140px;
    font-size:12px;
}


/* LESSON COMMENTS */
div.lesson_comment .timestamp {
    color: #8F8F8F;
    font-style: italic;
    margin-bottom:8px;
}

div.lesson_comment .private {
    font-weight:bold;
    color: #8F8F8F;
    margin-bottom:8px;
}

div.lesson_comment .commenter_avatar {
    margin: 0;
    padding:0;
    border: solid 1px #cfcfcf;
    width: 110px;
    height: 110px;
}

div.lesson_comment .actions .button-to {
    float: left;
    margin:0;
    padding:3px 3px 5px 0;
}

/* USER AGREEMENT */

#user_agreement {
    font-size:0.83em;  /* 0.83em == 10px */
    background-color: #fff;
    padding: 0 20px;
    margin: 20px 0;
    border:solid 1px #555;
    height: 200px;
    overflow: auto;
}

#instructor_agreement {
    padding: 0 20px;
    margin: 20px 0;
    border:solid 1px #ccc;
    height: 200px;
    overflow: auto;
}

/* ADMIN */
.search_box {
    border: solid 1px #ccc;
    background-color: #efefef;
    padding: 10px;
}

/* CART */
#line_items  td.price {
    text-align:center;
}

#line_items th {
    text-align:center;
}
