div#header div.container {
  position:relative;
  z-index:1 !important;  
}

#main-navigation * {z-index: 20 !important; }
/*div.pagination { position:relative; z-index:1 !important;}*/

div.container { position:relative; z-index:1 !important;}
div.container div.content {position:relative; z-index:1 !important;}
div.container div.content div#logo {position:relative; z-index:1 !important;}

div.small-lesson-container { z-index:1 !important; }

#top-navigation-container { z-index:1 !important; }
ul#top-navigation li ul.subnav { z-index: 2000 !important; }
ul#top-navigation li ul.subnav li { z-index:2500 !important;}
html ul#top-navigation li ul.subnav li a { z-index:3000 !important; }

.lessons-container { z-index: 300 !important;}

div.lesson-tooltip { z-index:400 !important;}

/*#tiptip_holder { z-index: 350 !important;}*/

ul.subnav li,
li.with-subnav { 
  position:relative;
  color:red !important;
  z-index:2500 !important; 
}

#shadowbox-top { z-index: 1 !important; }
#shadowbox-middle { z-index: 1 !important; }

#profile-box { z-index:1; }
#profile-box #content #balance { z-index:1; }
#profile-box #content #action { z-index:1; }

/* PANES */
.panes { z-index:100; }

div.widget-box-header { z-index: 1; }
div.widget-box-header img.loader { z-index: 10; }
#search-results { z-index:1; }
div.nested-navigation { z-index: 1;}
span.required-field { z-index: 1;}
.with-button a.rounded, .with-button a.minibutton { z-index:100; }
