/* FORMS: In-field labels */
form#inline,
form#edit_lesson,
form#flag,
form#lesson,
form#lesson_comment,
form#review
{
    padding: 30px 40px 15px 40px;
    background-color: #eee;
    border:solid 10px #ccc;
    margin-bottom:20px;
}

/* Account forms */

form#avatar_form,
form#author,
form#roles,
#password,
form#privacy,
form#profile
{
    padding: 30px 40px 15px 30px;
    background-color: #eee;
    border:solid 1px #ccc;
    margin-top:10px;
}

form#privacy ul {
    list-style: none;
}

form#privacy li label {
    margin-left:5px;
    font-size: 12px;
    padding-top:5px;
}

form#profile p input,
form#profile p textarea {
    margin:0 0 20px 0;
}

form.login,
form.register,
form.password_reset {
    width:420px;
}

form fieldset {
    border: none;
    padding: 0;
    margin:0;
}

form legend,
form .sublegend {
    line-height:2em;
    color: #333;
    padding: 0;
    margin:0;
    text-transform: uppercase;
}

#password h3  {
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
}

form,
form legend a,
form fieldset input,
form fieldset textarea,
form label {
    font-family: Helvetica, Arial;
    font-size: 12pt;
}

form legend a,
form .sublegend a {
    font-size: inherit;
}

form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}


form fieldset select  {
    font-size: 12pt;
    color: #3F3F3F;
`}

form fieldset p input,
form fieldset p textarea {
    display: block;
    padding: 4px;
    width: 400px;
    margin: 0;
}

/* deviate on create lesson width */
#lesson fieldset p input, #edit_lesson fieldset p input,
#lesson fieldset p textarea, #edit_lesson fieldset p textarea {
    width: 530px;
}

/* deviate on create review width */
#review fieldset p input, #review fieldset p input,
#review fieldset p textarea, #review fieldset p textarea {
    width: 530px;
}

/* deviate on create review width */
#flag fieldset p input, #flag fieldset p input,
#flag fieldset p textarea, #flag fieldset p textarea {
    width: 530px;
}

form fieldset p label {
    width: 380px;
    display: block;
    margin: 5px 5px 5px 6px;
    padding: 0;
}

form fieldset p textarea {
    padding: 2px;
    width: 404px;
}

/* deviate on create lesson width */
form.lesson fieldset p textarea {
    width: 530px;
}

form fieldset p textarea,
form fieldset p input {
    border: solid 1px #ccc;
}

form fieldset p label,
form fieldset div {
    color: #777;
}

form fieldset div {
    padding: 10px 0;
}

form .help {
    font-size: 10pt;
    color: #777;
    padding:0 0 10px 0;
    margin:0;
}

form a {
    font-size: 12px;
}

form input {
    font-size: 12pt;
}

/* CHARACTER COUNTER */
.counter {
    margin: 0;
    padding: 0  0 10px 5px;
}

.counter .safe, .counter .over {
    padding:3px; color:white; font-weight:bold;
}

.counter .safe { color: inherit;}
.counter .over {background:red;}
