form.edit_user label.error {
    margin-left: 20px;
}

form#lesson label.error, 
form#flag label.error, 
form#new_user label.error, 
form#review label.error, 
form#lesson_comment label.error {
	margin:0 0 0 580px;
	width: 290px;
}

form#edit_lesson label.error {
	margin:25px 0 0 580px;
	width: 290px;
}

form#order label.error {
	margin:0 0 0 430px;
	width: 450px;
}

.error { padding: .3em; margin-bottom: 2em; border: 2px solid #ddd; }
