form.edit_user label.error {
    margin-left: 20px;
}

form#lesson label.error, form#review label.error, form#review label.error, form#lesson_comment label.error {
	margin:0 0 0 580px;
	width: 290px;
}

form#edit_lesson label.error {
	margin:25px 0 0 580px;
	width: 290px;
}
