<?xml version="1.0" encoding="utf-8" ?>
<cu3er>
  <settings>
    <general ui_visibility_time="6" />
    <auto_play>
      <defaults symbol="circular" time="6"/>
      <tweenIn x="890" y="30" width="35" height="35" tint="0xFFFFFF"/>
    </auto_play>

    <prev_button>
      <defaults round_corners="5,5,5,5"/>
      <tweenIn scaleX="1.2" /> 
      <tweenOver tint="0xFFFFFF" scaleX="1.1" scaleY="1.1"/>
      <tweenOut tint="0x000000"/>
    </prev_button>

    <prev_symbol>
      <tweenOver tint="0x000000"/>
    </prev_symbol>

    <next_button>
      <defaults round_corners="5,5,5,5"/>
      <tweenOver tint="0xFFFFFF" scaleX="1.1" scaleY="1.1"/>
      <tweenOut tint="0x000000"/>
      <tweenIn scaleX="1.2" /> 
    </next_button>

    <next_symbol>
      <tweenOver tint="0x000000"/>
    </next_symbol>

    <description>
      <defaults round_corners="0, 0, 0, 0" 
        heading_text_size="42" 
        heading_text_color="0xffffff" 
        heading_text_margin="0, 0, 0, 10"  
        paragraph_text_size="18" 
        paragraph_text_margin="0, 0, 20, 20" 
        paragraph_text_color="0xFFFFFF" />
        <tweenIn x="0" y="170" width="950" height="80" alpha="0.70"/>
        <tweenOver alpha="0.80"/>
      </description>
    </settings>

    <slides> 
      <!-- slide 1 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_aaron_fothering.jpg</url>
        <description>
          <heading>Reach</heading>
          <paragraph>for support you can depend on ... </paragraph>
        </description>
      </slide>

      <!-- transition 1-to-2  -->
      <transition num="4" direction="left" shader="flat" />

      <!-- slide 2 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_catch_wave.jpg</url>
        <description>
          <heading>Balance</heading>
          <paragraph>challenges in life ...</paragraph>
        </description>
      </slide>


      <!-- transition 2-to-3  -->
      <transition num="4" direction="right" shader="flat" />

      <!-- slide 3 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_mon_skier.jpg</url>
        <description>
          <heading>Turn</heading>
          <paragraph>to solutions that work ...</paragraph>
        </description>
      </slide>

      <!-- transition 3-to-4  -->
      <transition num="6" slicing="horizontal" direction="right" duration="0.8" delay="0.05" z_multiplier="5"/>

      <!-- slide 4 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_lizzie_simpkin.jpg</url>
        <description>
          <heading>Push</heading>
          <paragraph>for great goals ...</paragraph>
        </description>
      </slide>		

      <!-- transition 4-to-5  -->
      <transition num="6" slicing="vertical" direction="down" shader="flat" delay="0.05" z_multiplier="4" />

      <!-- slide 5 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_ammie_mullins-2.jpg</url>
        <description>
          <heading>Stride</heading>
          <paragraph>to be noticed ...</paragraph>
        </description>
      </slide>

      <!-- transition 5-to-6  -->
      <transition num="6" slicing="vertical" direction="down" shader="phong" delay="0.05"/>

      <!-- slide 6 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_wheelchair_rugby.jpg</url>
        <description>
          <heading>Find</heading>
          <paragraph>the support you need ...</paragraph>
        </description>
      </slide>

      <!-- transition 6-to-7  -->
      <transition num="6" slicing="vertical" direction="up" shader="flat" delay="0.05" z_multiplier="4" />

      <!-- slide 7 -->
      <slide>
        <url>images/cuber/ableroad/AR_image_tanni_grey.jpg</url>
        <description>
          <heading>Coast</heading>
          <paragraph>towards smooth transitions ...</paragraph>
        </description>
      </slide>

    </slides>
  </cu3er>

