<table>
  <tr>
    <th colspan="2">
      Group
    </th>
    <th>
      Relationship
    </th>
    <th>
      Category
    </th>
  </tr>
  <% if user.groups.empty? %>
      <tr>
        <td colspan="4">
          You do not belong to any groups
        </td>
      </tr>
  <% else %>
      <%= render :partial => 'categories/group', :collection => user.groups.ascend_by_name %>
  <% end %>
</table>