<div class="widget-box">
  <div class="widget-box-header">
    <span class="h4">All Group Tags</span>
  </div>
  <div class="widget-box-content tags">
    <%= render :partial => "groups/tag_cloud", :object => @tags %>
  </div>
</div>