<table>
  <tr>
    <th colspan="2">
      Group
    </th>
    <th>
      Relationship
    </th>
    <th>
      Category
    </th>
  </tr>
  <%= render :partial => 'categories/group', :collection => groups, :locals => { :user => user } %>
</table>