<table>
    <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Name</th>
        <th>Active</th>
        <th>Time Zone</th>
        <th>Success/Failure<br/>Login Count</th>
        <th>Last Login At</th>
        <th>Last Login IP</th>
        <th>Current Login At</th>
        <th>Current Login IP</th>
        <th>Action</th>
    </tr>
  <%= render @users %>
</table>
<%= will_paginate @users %>
