<div id="password">
  <h3><%= link_to "Reset Password", reset_password_user_path(@user),  :method => :post %></h3>
  <% if @current_user.is_admin? %>
  <p class="help">(this will send an email to <%= mail_to h(@user.email) %>)</p>
  <% end -%>
</div>