<% path = current_user.present? ? my_firehoze_index_path(:reset => "y") : root_path(:reset => "y") %>

<%
navigation = []
navigation << [:categories, {:name => 'Categories',:location =>  list_admin_categories_path }] if current_user.is_an_admin?
navigation << [:lessons, { :name => 'Lessons', :location =>  list_admin_lessons_path('search[order]' => 'descend_by_created_at') }] if current_user.is_an_admin? or current_user.is_a_moderator?
navigation << [:logons, { :name => 'Logons', :location =>  user_logons_path }] if current_user.is_an_admin? or current_user.is_a_communitymgr?
navigation << [:flags, {:name => 'Flags', :location =>  flags_path }] if current_user.is_a_moderator?
navigation << [:giftcerts, { :name => 'Gift Certs', :location =>  list_admin_gift_certificates_path('search[order]' => 'ascend_by_id') }] if current_user.is_a_paymentmgr?
navigation << [:groups, { :name => 'Groups', :location =>  list_admin_groups_path('search[order]' => 'ascend_by_name') }] if current_user.is_an_admin? or current_user.is_a_moderator?
navigation << [:jobs, { :name => 'Jobs', :location =>  periodic_jobs_path }] if current_user.is_an_admin?
navigation << [:orders, { :name => 'Orders', :location =>  orders_path }] if current_user.is_an_admin? or current_user.is_a_paymentmgr?
navigation << [:payment_levels, { :name => 'Pay Levels', :location =>  payment_levels_path }] if current_user.is_an_admin?
navigation << [:payments, { :name => 'Payments', :location =>  payments_path }] if current_user.is_a_paymentmgr?
navigation << [:skus, { :name => 'SKUs', :location =>  skus_path }] if current_user.is_an_admin?
navigation << [:users, { :name => 'Users', :location =>  list_users_path('search[order]' => 'ascend_by_login') }] if current_user.is_an_admin? or current_user.is_a_communitymgr?
%>

<ul id="main-navigation" class="admin">
  <% navigation.each do |key, item| %>
    <% if navigation.first[0] == key and @current.to_s == key.to_s %>
      <li id="first"></li>
      <li <%= 'class="selected first"' if @current.to_s == key.to_s %>><%= link_to item[:name], item[:location] %></li>
    <% else %>
      <li <%= 'class="selected"' if @current.to_s == key.to_s %>><%= link_to item[:name], item[:location] %></li>
    <% end %>
  <% end %>
</ul>