<div id="ie6" class="flash">
  <div id="centered">
    <span class="h4">We're Sorry &mdash; your web browser is very outdated.</span>
    <p>We don't support Internet Explorer 6. <br />You can easily upgrade to the latest version here &rarr; <a href='http://www.microsoft.com/windows/internet-explorer'>Internet Explorer 8</a></p>
  </div>
</div>
