<%= link_to "New SKU", new_sku_path if current_user.is_admin? %>
<table>
    <tr>
      <th>SKU</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    
    <%= render :partial => 'sku', :collection => @skus %>
    
  </table>
<%= will_paginate @skus %>
<br/>
Rows to Display Per Page: <%= per_page_select(skus_path) %>