<%= link_to "New SKU", new_sku_path if current_user.is_sysadmin? %>
<table>
    <tr>
      <th>SKU</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    
    <%= render :partial => 'sku_item', :collection => @skus %>
    
  </table>
<%= will_paginate @skus %>