<% title "SKUs" -%>
<% @current = 'skus' %>

<h3>SKUs</h3>
<p><%= link_to(content_tag(:span, 'New SKU'), new_sku_path, :class => :minibutton) if current_user.is_an_admin? %></p>
<table>
  <tr>
    <th>SKU</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <%= render :partial => 'sku', :collection => @skus %>
</table>
<%= will_paginate @skus %>
<p class="mt-1em">Rows to Display Per Page: <%= per_page_select(skus_path) %></p>
