<div id="enroll_instructor">
  <h3>Become a <%= t('lesson.instructor').capitalize %></h3>
  <%= button_to "#{t('lesson.instructor').capitalize} Signup Wizard", instructor_signup_wizard_account_url(@user, :protocol => SECURE_PROTOCOL), :method => :get %>
</div>
