<table>
  <tr>
    <th>
      Order Number
    </th>
    <th>
      Order Date
    </th>
    <th>
      Amount
    </th>
  </tr>
  <%= render :partial => 'users/forms/order', :collection => @user.orders %>
</table>