<% pane = params[:pane] if params[:pane] %>
<% payments = @payments if pane == "payments" %>

<p>Current Earnings Owed To You: <%= link_to_if current_user.unpaid_credits_amount > 0, number_to_currency(current_user.unpaid_credits_amount), show_unpaid_payment_path(current_user) %></p>

<div id="<%= pane %>">
  <% if payments.present? %>
    <%= will_paginate payments, :params => { :pane => pane } %>
    <table>
      <tr>
        <th>Payment #</th>
        <th>Paid On</th>
        <th>Amount</th>
      </tr>
      <%= render :partial => 'accounts/forms/payment', :collection => payments %>
    </table>
  <% else %>
    You haven't received any payments yet
  <% end %>
</div>
