<% form_for(:user, :url => update_author_account_path(@user), :html => { :method => :put, :id => "author" }) do |f| %>
    <%= f.error_messages %>

    <%= author_progress %>
    <fieldset>
      <legend>Update Author Information</legend>
      <p>
       <I><B>UNDER CONSTRUCTION</B></I>
      </p>

    </fieldset>
    <p>
      <%= f.submit "Update", :disable_with => translate('general.disable_with') %>
      <%= link_to 'Cancel', home_path %>
    </p>
<% end %>