<h3>Firehoze Policies</h3>

<div class="tab-container policies">
  <ul class="tabs">
    <% POLICIES.each do | policy | %>
      <% if policy == tab or (tab == "policies" and policy == @default_page) %>
        <li><a class="current"><%= policy.humanize.titleize %></a></li>
      <% else %>
        <li><%= link_to "#{policy.humanize.titleize}", page_path(policy) %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="panes">
  <%= render :partial => "pages/policies/#{tab}" %>
</div>
