<% title "About Us" %>

<%= javascript 'footer' %>
<h3>Vision</h3>
<p><%= t('general.company') %>’s vision is to provide people with impaired mobility, their families, and caregivers with a pre-eminent online destination for education and community, anchored by best-in-class video content on coping with daily mobility challenges. This authoritative, relevant content is the core of a community whereby individuals with mobility impairment, their families, and caregivers can connect with others, share information and resources, and gain strength and education to allow them to meet and surmount the daily challenges of living with disability.</p>

<h3>What Makes AbleRoad Unique?</h3>
<ul>
  <li><strong>Singular focus</strong> on providing resources and community aimed at meeting the daily needs of people with mobility impairment, their families, and caregivers</li>
  <li><strong>Best-in-class “one stop shopping” content,</strong> informed by our leadership team’s personal and professional experiences with the challenges of impaired mobility</li>
  <li><strong>Deep relationships</strong> and brand-enhancing partnerships with multiple leading advocacy groups in the disability and mobility spaces</li>
  <li><strong>Diversified business model with broad commercial reach</strong>  that leverages the same content across relevant markets to generate revenues simultaneously from consumers, health care facilities, and major corporations</li>
</ul>
