<% title "About Us" %>

<%= javascript 'footer' %>
<h3>What is Firehoze?</h3>
<p>Watch and learn! Firehoze provides short, targeted video lessons designed to supplement learning activities &mdash; whether you're in or out of the classroom.</p>

<p>A lot is covered in class. <strong>Have you ever left a lecture more confused than when you entered?</strong> Firehoze provides video tutorials so you can quickly gain clarity on those concepts for which you require help.</p>

<p>Homework giving you a headache? Get an explanation that makes sense&#0133;or a new way of thinking about it. Miss a lecture? No problem. We'll add meaning to those notes you borrowed; or help bring back that “ah-ha!” moment you had months ago as you study for that exam.</p>

<h3>Or become a contributor and give something back!</h3>
<p><strong>Are you a tutor or TA? Or just love to teach?</strong> We’re looking for dynamic contributors to provide students with enhanced comprehension. Make money for being the smart person you are.</p>

<h3>We follow a couple of basic principles</h3>

<ul>
  <li>Provide students with access to high-quality lessons regardless of financial means or location. <%= link_to "Browse lessons now", categories_path %>.</li>
  <li>Split revenues of the revenues with Firehoze instructors. <%= link_to "Learn More", page_path('firehoze_for_instructors') %>.</li>
  <li>Offer an educational community platform that institutions and schools can access for free, helping them to further support the learning initiatives of their diverse student population. <%= link_to "Find out how", page_path('firehoze_for_schools') %>.</li>
</ul>

<h3>Clever, but can't I find this for free?</h3>
<p>Perhaps&#0133;but rather than watching a splice of a PBS special or hoping an hour-long online lecture will provide an answer to your immediate problem, <strong>get an answer now from a subject matter expert</strong>&#0133;for $0.99! If this doesn’t sound like a value, consider the cost of a private tutor or the impact of failing.</p>

<p>Firehoze is also more than just a quick lesson – join or create an on-line study group, access all your lessons and notes in your “my firehoze” site, get community updates, follow your favorite tutors, and access help 24/7 regardless of location.</p>

<p><strong>Come join us</strong>&#0133;become an inspired learner or an inspirational contributor.</p>

<p>Whether it's a subject you love or hate, now you can at least understand it! Or get paid to help those who don't.</p>
