<% title "About Us" %>

<%= javascript 'plugins/footer' %>
<h3>What's Firehoze all about?</h3>
<p>Watch and learn! Firehoze provides short, single concept video lessons designed to supplement learning activities –
  whether you're in or out of the classroom.</p>

<p>Look, a lot is covered in class. Have you ever left a lecture more confused than when you entered? Firehoze provides
  video tutorials so you can quickly gain clarity on those concepts requiring a refresher.</p>

<p>Homework giving you a headache? Get an explanation that makes sense...or a new way of thinking about it. Miss a
  lecture? No problem. We'll add meaning to those notes you borrowed; or help bring back that “ah-ha!” moment you had
  months ago as you study for that exam.</p>

<h3>
  Or become a contributor and give something back!
</h3>
<p>Got something to say? Want to get something back for all those lectures you sat through? We’re looking for dynamic
  contributors with style to provide students with enhanced comprehension. Make money for being the smart person you
  are.</p>

<h3>We follow a couple of basic principles …</h3>

<ul>
  <li>Keep it just as good for students as it is for those teaching...and vice versa.</li>
  <li>Keep it affordable. Knowledge is priceless, but it doesn’t have to be expensive.</li>
  <li>Who says teachers are underpaid? The majority of the royalty of any purchased lesson goes to that person who
    created it.
  </li>
</ul>
<p>
  It’s as simple as, well…ABC.
</p>

<h3>
  Clever, but can't I find this for free?
</h3>
<p>
  Perhaps! But rather than watching a splice of a PBS special or hoping an hour-long online lecture will provide an
  answer to your immediate problem, get an answer now from a subject matter expert…for one dollar! If this doesn’t sound
  like a value try dividing your tuition by the number of yearly classes you’re taking in college…or consider the cost
  of a private tutor.
</p>

<p>Oh, and we let you control your site so when exam time comes around, review and study groups are when and where you
  want...</p>

<p>Come join us...become an inspired learner or an inspirational contributor.</p> 

<p>Whether it's a subject you love or hate, now you can at least understand it! Or get paid to help those who don't.</p>
