<h1>What's Firehoze all about?</h1>

<p>
  Firehoze provides short video tutorials on key math and science concepts.
</p>
<p>
  Supplement your learning activities by finding teaching styles that fits your individual learning style and finally
  gain clarity on those topics that are giving you difficulty. Create a single learning hub in MyFirehoze where you
  organize, collect and annotate lessons, share notes with friends or for group learning, and easily review for quizzes
  and exams.
</p>
<p>
  Or become a contributor and help the community. We can't have enough great contributors – we are constantly looking
  for teachers and tutors alike to provide students with new ways to enhance comprehension. Each one of you will bring
  new enthusiasm and a different perspective a lesson. Oh, and then of course there's the money side...make money while
  you sleep for just doing what you naturally do so well.
</p>
<h2>
  We have a couple of basic principles – keep it win-win for students and teachers...
</h2>
<ul>
  <li>
    Keep it affordable so means doesn't dictate access (no student should be limited by their ability to pay for great
    teachers)
  </li>
  <li>
    Give the biggest rewards to those teaching (the majority of the royalty of any downloaded lesson goes to that person
    who created it)
  </li>
</ul>
<p>
  No really, it's that simple.
</p>

<h2>
  So what? Can't I find this for free?
</h2>
<p>
  Hey, maybe you can but we believe rather than watching a splice of a PBS special or hoping an hour-long lecture would
  provide an answer to an immediate problem, learners should be able to get an answer immediately rather than endlessly
  culling through sites hoping to run across it. Who better to get if from than by those who know...the subject matter
  experts. And it's a buck – how much is your time worth? Heck, how much is a good explanation worth?
</p>
<p>
  Oh, and we let you put your site together so when that exam comes around...review and study groups are painless...or
  at least as painless as studying can be.
</p>
<p>
  Come join us...become an inspired learner, become an inspirational contributor. If there's anything everyone deserves,
  it's to be excited by what you're learning and by those who are teaching it! Or at least understand it...even if you
  don't like it.
</p>