<% title "About Us" %>

<%= javascript 'footer' %>
<h3>Vision</h3>
<p>RISE:2012 will showcase the breadth and depth of innovative thinking at Northeastern, including topics in Physical & Life Sciences, Engineering, Humanities, Arts & Design, Computer & Information Sciences, Health Sciences, Law, Business and Social Sciences. In addition, our “Faculty Works” scholarly presentation honors faculty who published books or produced major artistic works in 2011.</p>

<h3>RISE:2012</h3>
<ul>
  <li><strong>
    Thursday, March 29, 2012
    Expo 10am – 2pm
    at Cabot Physical Education Center</strong></li>

  <li><strong>
  Awards Ceremony 3pm – 5pm
    at 450 Dodge Hall</strong></li>
</ul>