<h4>It looks like you're running on a very old version of Internet Explorer.</h4>
<p>
  You may experience problems in viewing the Firehoze website with your current browser.
</p>
<p>
  For the best viewing experience, please upgrade to a new version of
  <a href="http://www.microsoft.com/windows/internet-explorer">Internet Explorer</a>.
  <%= link_to image_tag('/images/general/browsers/internet_explorer'), "http://www.microsoft.com/windows/internet-explorer" %>
</p>

 <p>Alternatively, we strongly recommend one of these other excellent browsers:</p>
<ul>
  <li>Firefox (link to firefox)</li>
  <li>Chrome (link to firefox)</li>
  <li>Safari (link to firefox)</li>
</ul>