<h2>Uh oh</h2>
<h3>It looks like you're running on a very old version of Internet Explorer.</h3>

<p>Here's the deal.  You are using a browser that is over 9 years old.  It's a bit old and a bit unreliable, and although it's possible to use it -- we don't have the resource to make sure our site still support Internet Explorer 6. </p>
<p>So as a result, you will have problems viewing our site. We apologize.</p>
<p>So what you are options? </p>

<h3>Upgrade your browser today! </h3>

<p>We know it's a hassle, but you'll be happier with a more updated browser. </p>

<h3>Why?</h3>

<h4>Because, a modern browser will be </h4>
<ol>
  <li>more secure</li>
  <li>faster</li>
  <li>offer more option</li>
</ol>



<p>
  For the best viewing experience, please upgrade to a new version of
  <a href="http://www.microsoft.com/windows/internet-explorer">Internet Explorer</a>.
  <%= link_to image_tag('/images/general/browsers/internet_explorer'), "http://www.microsoft.com/windows/internet-explorer" %>
</p>

<p>Alternatively, we strongly recommend one of these other excellent browsers:</p>
<ul>
  <li>Firefox (link to firefox)</li>
  <li>Chrome (link to firefox)</li>
  <li>Safari (link to firefox)</li>
</ul>