<div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our Videos"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Return to Home Page"), lessons_path, :class => 'large-button call-to-action') %></div>
<h3>AbleRoad for Institutions</h3>
<h4>AbleRoad is a community generated catalog of short, targeted videos designed to provide quick how-to’s that help you overcome daily challenges.</h4>
<p>Although most large medical centers currently purchase large libraries of educational content aimed at patient / family education, AbleRoad fills a significant need for specific coverage of disability / mobility impairment issues, identified by several hospital patient education experts.  By re-distributing our content through this existing “narrowcasting” format, we build brand awareness and credibility; extend our market reach into a highly engaged population of people with acute disability issues.</p>
<p>AbleRoad augments available instructional videos and content supplied by hospital discharge departments.  Institutions get quality content and post-operative patients get first hand guidance that speeds up their recovery and builds a base for an ongoing active lifestyle.</p>
<p>AbleRoad engages directly with transition coaches institutions are able to:</p>
<h4>Provide their entire population with a dynamic tool to accelerate access to how-to’s and relevant product information 24/7</h4>
<p>AbleRoad is more than just a one-time video session; it is a dynamic "learning hub" that puts people at the heart of learning, surrounded by a community of experts and peers who are there to help support these efforts.</p>
<p>People are able to:</p>
<ul>
  <li>Quickly access high-quality help from expert coaches and peers around the clock, regardless of location or financial means through targeted sessions, virtual experience groups, topic discussions, and more.</li>
  <li>Tap into a community of experts and peers to further comprehension and understanding.</li>
  <li>Join or create virtual experience groups, helping to augment existing on-site group activity or connect off-site members into a centralized community.</li>
  <li>Create a personal virtual learning hub, allowing them to organize and store sessions, track study group activity, and more — allowing them to easily review and share with any new caregiver throughout the year.</li>
  <li>Easily identify sessions that others with similar challenges have found beneficial, as well as additional sessions offered by their favorite coach or alternative session available on the same topic.</li>
  <li>Access help from transition coaches and peers around the clock and regardless of location.</li>
</ul>
 <p>AbleRoad’s initial content vertical is a comprehensive set of video education and resources for those who have experienced recent mobility impairment, their families, and caregivers – “The First 90 Days”. Each vertical encompasses 200-250 short-form video segments of 3-5 minutes, each around a single topical area. All content will be universally accessible.</p>
<p>Through our expert leadership team and partners, we have created a comprehensive “taxonomy” of content for “The First 90 Days” – see appendix for a detailed selection of video categories.  Our content is organized around key categories focused on people with disabilities and their families with everyday, pragmatic issues related to mobility impairments. Importantly, although our content is geared toward the “incident” newly-disabled population, much of it is also highly relevant to the “prevalent” population, providing AbleRoad access to both markets.  Our content is organized into the following sub-verticals:</p>
<ul>
  <li>Coming Home – An Overview</li>
  <li>Personal Mobility</li>
  <li>Home Accommodations</li>
  <li>Connections</li>
  <li>Healthcare / Personal Care</li>
  <li>Financial / Legal</li>
  </ul>
<p>AbleRoad uses this highly-relevant video content to nucleate a community of engaged users. Registered users provide commentary and feedback on videos that we use to guide quality control and drive content iteration / expansion.  Members also are able to point the community to additional external resources – providing AbleRoad with “on-the-ground” competitive intelligence.</p>
<p>Users interested in accessing the full body of knowledge around “The First 90 Days” can subscribe to an “all-you-can-eat” package providing them with full library access.</p>
<p>Importantly, because current Internet searches for most topics related to “The First 90 Days” yield sparse high-quality results, AbleRoad capitalizes on the first-mover opportunity to leverage search engine optimization to ensure that users looking for relevant information will find AbleRoad on the first search.</p>
