<div id="actions" style="text-align:right"><%= link_to(content_tag(:span, "Browse Our Lessons"), categories_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Register for Free"), new_registration_path, :class => 'large-button call-to-action') %><%= link_to(content_tag(:span, "Return to Home Page"), lessons_path, :class => 'large-button call-to-action') %></div>
<h3>Firehoze for Schools</h3>
<h4>Firehoze is a community generated catalog of short, targeted video lessons designed to complement the classroom learning experience.</h4>
<ul>
  <li><strong>Institutions</strong> &ndash; maximize investment in tutoring resources and improve their retention rates</li>
  <li><strong>Students</strong> &ndash; easily and affordably get the extra help they need around the clock from a community of experts</li>
  <li><strong>Tutors</strong> &ndash; earn the commissions they deserve to help offset educational and living expenses</li>
  <li><strong>Professors and Teachers</strong> &ndash; gain access a powerful tool that helps their students accelerate and succeed</li>
</ul>

<p>Firehoze is dedicated to providing high-quality lessons. Students can search and browse by subject in order to quickly identify those lessons best suited to their needs. To direct students to the best information available on a subject, every lesson offers a free preview, a community-generated rating and reviews by other students. Lessons also include a discussion board enabling students are able to engage in online dialog with the instructor and with other students. </p>

<p>Firehoze engages directly with instructors (teachers and tutors) so
  <strong>at no cost</strong> institutions are able to:</p>

<h4>Provide their entire student population with a dynamic tool to accelerate learning activities 24/7</h4>
<P>Firehoze is more than just a one-time video lesson, it is a dynamic "learning hub" that puts students at the heart of learning, surrounded by a community of experts and peers who are there to help support these efforts.</P>
<p>Students are able to:</p>
<ul>
  <li>Quickly access high-quality help from tutors and peers around the clock, regardless of location or financial means through lessons, virtual study groups, topic discussions, and more.</li>
  <li>Tap into a community of experts and peers to further comprehension and understanding.</li>
  <li>Join or create virtual study groups, helping to augment existing on-site group activity or connect off-site students into a centralized community.</li>
  <li>Create a personal virtual learning hub, allowing them to organize and store lessons, track study group activity, and more &mdash; allowing them to easily study and do exam preparation throughout the year.</li>
  <li>Easily identify lessons that others with similar learning patterns have found beneficial, as well as additional lessons offered by their favorite instructor or alternative lessons available on the same subject.</li>
  <li>Access help from instructors and peers around the clock and regardless of location.</li>
</ul>
<h4>Support different learning styles</h4>
<p>Firehoze enables institutions to support varied learning styles of their student population by offering students a mixture of teaching styles from which to choose. All lessons offer a free 30-second preview so students can test style and content before making a selection. As students identify those instructors that best match their teaching style, they are able to easily see all lessons taught by this instructor, request specific lessons, as well as follow them to track activity and new lesson additions. Students are also guided to lessons that others with their similar learning patterns have purchased, as well as alternative lessons available on the same subject.</p>

<h4>Schools can further promote available tutoring resources and expand traditional tutoring services</h4>
<p>Firehoze allows students to become familiar with an institution’s tutoring department and the teaching styles of those within it. As students browse and preview lessons, they are able to identify instructors who would be most effective for them based on teaching style and hours of availability. This encourages students who may not typically seek out tutoring resources, or be aware of those available, to take advantage of this valuable resource.</p>
<p>Firehoze also allows institutions to support their students' learning activities 24/7 with an on-demand resource that goes beyond the physical reach of the classroom or learning center by providing critical lessons to those who are not able to take advantage of traditional resources.</p>
<p>This also helps institutions maximize their investment in tutoring resources while positively impacting student performance and retention rates.</p>

<h4>Provide tutors with an additional income opportunity</h4>
<p>Tutors have the opportunity to earn up to half of the royalties from each purchase of their lessons helping them offset educational and living expenses. This passive income opportunity makes it possible for those with full schedules to still have an opportunity to increase their income stream.</p>

<h4>Make critical lessons available to those unable to take advantage of current resources, or just need a little extra help to accelerate.</h4>
<p>Further support those students who are not able to take advantage of existing tutoring resources or office hours, such as student athletes, working students, or those affected by illness, injury or family emergencies.</p>

<h4>Use Firehoze in the classroom</h4>
<p>Teachers and TAs can use Firehoze as a dynamic tool in and out of the classroom to enhance learning activities, promote class engagement and conversations outside the walls of the classroom, as well as support the learning efforts of students facing various challenges that may force them to miss class, or those who just need a little extra help to accelerate.</p>

<h4>Give students the opportunity to grow career interests in a safe environment</h4>
<p>Students looking to a career in teaching have the opportunity to apply techniques real-time, engage with students from diverse backgrounds, and hone teaching skills. Entrepreneurial students have a safe environment to learn valuable business and communication skills as they find ways to develop and further expand their material. Instructors have a dedicated personal page where they are able to promote their expertise, available tutoring hours, as well as other lessons they have to offer. Firehoze instructors are able to monitor lesson metrics through their personal Instructor Dashboard to help them identify opportunities to improve existing lessons or create additional lessons to meet community demand.</p>