<% title "Instructor How To's" -%>

<p>We have a variety of how-to's to help get you started creating and recording lessons.</p>

<p>Looking for more? Recommend additional how to topics you would find helpful via the Feedback button, and check out what
  others in the community are doing in the Firehoze Instructor Group.</p>

<h3>Get started creating your first lesson</h3>

<h4>1. Getting started</h4>

<ul>
  <li>Steps in creating a lesson</li>
  <li>Brainstorm topics, and get inspired</li>
</ul>

<h4>2. I have a topic, now what?</h4>
<ul>
  <li>Example lesson outline</li>
  <li>How do I create a lesson?</li>
  <li>Tips for grabbing attention</li>
  <li>What makes a great lesson: Tips and tricks</li>
  <li>Other methods for lesson creation</li>
</ul>

<h4>3. <%= link_to "Get set-up to record", page_path("instructor-howto-recording") %></h4>


<h4>4. <%= link_to "Upload your lesson", page_path("instructor-howto-uploading") %></h4>


<h3>Build your audience and earn more cash</h3>
<ul>
  <li>Get more viewers, make more cash</li>
  <li>How to get better reviews</li>
  <li>Create/engage in a group</li>
  <li>Make sure your lesson can easily be found</li>
  <li>Promote your live-tutoring business</li>
  <li>Use it in the classroom</li>
</ul>

<h3>Check out the Firehoze Instructor Group to learn how others in the Firehoze community are doing it and share your
  tips.</h3>


