<h3>Recording How To's</h3>
<p>Lesson done and ready to record? Here are some recommendations and tips to get you on your way.</p>
<ul>
  <li>Recording method and Firehoze recommendations</li>
  <li>Optimize your video lesson for the Firehoze site</li>
  <li>CamStudio/PPT video</li>
  <li>How to download & configure CamStudio</li>
  <li>How to set-up CamStudio for slides</li>
  <li>Audio/mic set-up</li>
  <li>Troubleshooting</li>
  <li>Recording FAQs (link to recording FAQ section)</li>
</ul>

<p><%= link_to "Back to Instructor How To's", page_path("instructor-howto-main") %></p>