<% title "Instructor Guides" -%>

<h3>Not sure where to start?</h3>
<p>Below are some tips and tricks to get you on the path to making great video lessons.</p>

<ul>
  <li><%= link_to "The Basics of Creating your First Video Lesson", "http://amazonassets.simplecdn.net/docs/howto_make_videos.pdf" %></li>
  <li><%= link_to "Screen Capture Software Evaluation", page_path("instructor_guides_capture_options")%></li>
  <p>Check out these high level Pros and Cons on what might be the best screen capture tool for you.</p>
  <li>Recording Techniques</li>
  <p>Here are a few favorite methods your peers are using to create their lessons.</p>
</ul>