<% title "Getting Started...What Next?" -%>
<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="howtos_section">
  <div class="answers">
    <h3>Getting Started...What Next?</h3>

    <h5>Example lesson outline</h5>

    <div>
      <h4>The Intro</h4>

      <p>You have 30-sec. to let them know exactly why your lesson is best.</p>

      <p>Title slide – have a slide with the title of the concept you're covering.</p>

      <p>Introduce what they are going to learn.</p>
      <ul>
        <li>The topic and what the student is going to learn</li>
        <li>What class or subject it is best for (e.g. “this lesson is for calculus II...” or “this lesson aligns to BU's M302c...”)</li>
        <li>What the student should be able to answer or solve by the end of lesson</li>
        <li>Are there any pre-requisites/concepts the student should understand</li>
        <li>Is it one of a series of videos you have created</li>
      </ul>
      <p>Vocabulary/Formulas</p>
      <ul>
        <li>Call out key word definitions</li>
        <li>Define formula values</li>
      </ul>


      <h4>The Explanation</h4>

      <p>Outline the lesson</p>
      <ul>
        <li>Outline key points or important things to remember (bullets)</li>
        <li>If possible, break into steps (1, 2, 3...)</li>
      </ul>
      <p>Start explanation</p>

      <p>Per slide:</p>
      <ul>
        <li>Call out any important areas/points the student should note/remember</li>
        <li>If using examples, choose one common variation and one tricky variation</li>

        <p>
          <b>TIP:</b> When explaining, help your student recognize the difference with both visual and verbal ques, such as
        </p>
        <ul>
          <li>"Common questions/problems you might see are..."</li>
          <li>"When you see X, think Y..."</li>
          <li>"When you see this, it means A..."</li>
        </ul>
        <li>Throughout your explanation, share tricks or secrets to help your student more easily remember, or solve, the concept you are covering</li>
      </ul>


      <h4>Test Comprehension</h4>

      <p>Add practice problems or common questions the student may encounter on this topic.</p>
      <ul>
        <li>Provide examples of both common and tricky/more complicated variations of problems or questions students may encounter.</li>
        <li>Before revealing answers, tell the student to Pause video so they can solve the problems before you reveal the answers.</li>
        <li>Give your student the time to pause the video and wait approximately 15-seconds before revealing the answers.</li>
      </ul>
      <h4>Conclusion</h4>

      <p>Thank your student for watching.</p>

      <p>Encourage them to contact you with any questions.</p>

      <p>Encourage them to follow you and request topics.</p>

    </div>
    <h5>Tips for grabbing attention <i>(missing)</i></h5>
    <h5>What makes a great lesson: Tips and tricks <i>(missing)</i></h5>
    <h5>Other methods for lesson creation <i>(missing)</i></h5>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorh5nk">return to top</a></p>
</div>
<p><%= link_to "Back to Instructor How To's", page_path("instructor-howto-main") %></p>
