<% title "Screen Capture Options – Pros & Cons" -%>

<h3>SCREEN CAPTURE OPTIONS – Pros & Cons</h3>

<h4>Jing Pro (<a href="http://www.jingproject.com/pro/">http://www.jingproject.com/pro/</a>)</h4>

<p>Best for:</p>
<ul>
  <li>Those looking for something easy to use and intuitive</li>
  <li>Further editing will not be preformed as it allows for live swapping of a web cam view of the speaker with a
    capture frame.
  </li>
</ul>

<p>Pros:</p>
<ul>
  <li>Easy to use</li>
  <li>Clean, user-friendly interface</li>
  <li>Well-supported with video tutorials since made by prominent software provider</li>
  <li>Live swapping of a web cam view of the speaker with a capture frame</li>
  <li>Native MP4 encoding</li>
</ul>

<p>Cons:</p>
<ul>
  <li>Can only capture up to 5 min video</li>
  <li>Costs $15 per year</li>
  <li>Limited output options -- it only allows for SWF and MP4, no compression codec option</li>
  <li>Audio can sound soft or garbled so a quiet space is needed</li>
</ul>


<h4>CamStudio (<a href="http://camstudio.org/">http://camstudio.org/</a>)</h4>

<p>Best for:</p>
<ul>
  <li>Those looking for features to support a higher level of video production</li>
  <li>Desire to do further editing of captured video</li>
</ul>

<p>Pros:</p>
<ul>
  <li>Free and open source</li>
  <li>More expansive feature set – codec choice, intelligent capture moving the frame to follow the cursor during
    capture
  </li>
</ul>

<p>Cons:</p>
<ul>
  <li>User interface isn't terribly pretty</li>
  <li>Additional features can make for a slower learning curve</li>
</ul>

<h4>ScreenToaster (<a href="http://www.screentoaster.com/)">http://www.screentoaster.com/)</a></h4>

<p>Best for:</p>
<ul>
<li>Those looking for something easy to use and intuitive</li>
<li>Option to redub your video after capture</li>
  </ul>

<p>Pros:</p>
<ul>
  <li>Free</li>
  <li>No software to download</li>
  <li>More intelligent audio than Jing – allows the user to select a target playback rate and redub the audio post
    capture
  </li>
  <li>Captures live from a webcam and show the video as a picture in picture in the corner of the screen capture.</li>
  <li>Output to .mov (QuickTime)</li>
</ul>

<p>Cons</p>
<ul>
  <li>User interface isn't as elegant as Jing</li>
  <li>Limited post-editing options</li>
  <li>No compression options</li>
</ul>