<% title "Uploading How To's" -%>
<h3>Uploading How To's</h3>

<p>Ready to share your lesson with the community. Here are some tips and advice to get your lesson online and seen.</p>
<ul>
<li>Best video formats for uploading</li>
<li>How to upload</li>
<li>Tagging tips</li>
<li>Why add Synopsis and Notes</li>
<li>How to add attachments/why</li>
<li>Tools for video conversion</li>
<li>Troubleshooting</li>
<li><%= link_to "More Uploading FAQs", page_path("faqs", :anchor => "contributing-uploading-lessons") %></li>
</ul>
<p><%= link_to "Back to Instructor How To's", page_path("instructor-howto-main") %></p>