<div class="min-height-300">
  <div class="warning">
    <h3>We've received your request...</h3>
    <p>A representative from Firehoze will contact you about becoming a Firehoze instructor. Thank you.</p>
  </div>
</div>
