<li>
  <%= l(video_status_change.created_at) %>:
  <%=h video_status_change.from_status %>
  <% if video_status_change.from_status then %>
      ->
  <% end %>
  <%=h video_status_change.to_status %>
  <%=h video_status_change.message %>
</li>