<tr>
    <td><%= l(video_status_change.created_at, :format => :long) %></td>
    <td><%= video_status_change.from_status %></td>
    <td><%= video_status_change.to_status %></td>
    <td><%= video_status_change.message %></td>
</tr>