/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body { 
  font-size: 75%;
  color: #222; 
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
/* --------------------------------------------------------------
   grid.css - mirror version of src/grid.css
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 985px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(grid.png); 
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-25, div.span-26, div.span-27, div.span-28, div.span-29, div.span-30, div.span-31, div.span-32, div.span-33, div.span-34, div.span-35, div.span-36, div.span-37, div.span-38, div.span-39, div.span-40 {
  float: left;
  margin-right: 15px;
}

/* The last column in a row needs this class. */
.last, div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 10px; }
.span-2  { width: 35px; }
.span-3  { width: 60px; }
.span-4  { width: 85px; }
.span-5  { width: 110px; }
.span-6  { width: 135px; }
.span-7  { width: 160px; }
.span-8  { width: 185px; }
.span-9  { width: 210px; }
.span-10  { width: 235px; }
.span-11  { width: 260px; }
.span-12  { width: 285px; }
.span-13  { width: 310px; }
.span-14  { width: 335px; }
.span-15  { width: 360px; }
.span-16  { width: 385px; }
.span-17  { width: 410px; }
.span-18  { width: 435px; }
.span-19  { width: 460px; }
.span-20  { width: 485px; }
.span-21  { width: 510px; }
.span-22  { width: 535px; }
.span-23  { width: 560px; }
.span-24  { width: 585px; }
.span-25  { width: 610px; }
.span-26  { width: 635px; }
.span-27  { width: 660px; }
.span-28  { width: 685px; }
.span-29  { width: 710px; }
.span-30  { width: 735px; }
.span-31  { width: 760px; }
.span-32  { width: 785px; }
.span-33  { width: 810px; }
.span-34  { width: 835px; }
.span-35  { width: 860px; }
.span-36  { width: 885px; }
.span-37  { width: 910px; }
.span-38  { width: 935px; }
.span-39  { width: 960px; }
.span-40  { width: 985px; margin: 0; }

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24, input.span-25, textarea.span-25, input.span-26, textarea.span-26, input.span-27, textarea.span-27, input.span-28, textarea.span-28, input.span-29, textarea.span-29, input.span-30, textarea.span-30, input.span-31, textarea.span-31, input.span-32, textarea.span-32, input.span-33, textarea.span-33, input.span-34, textarea.span-34, input.span-35, textarea.span-35, input.span-36, textarea.span-36, input.span-37, textarea.span-37, input.span-38, textarea.span-38, input.span-39, textarea.span-39, input.span-40, textarea.span-40 {
  border-left-width: 1px!important;
  border-right-width: 1px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

input.span-1, textarea.span-1 { width: -2px!important; }
input.span-2, textarea.span-2 { width: 23px!important; }
input.span-3, textarea.span-3 { width: 48px!important; }
input.span-4, textarea.span-4 { width: 73px!important; }
input.span-5, textarea.span-5 { width: 98px!important; }
input.span-6, textarea.span-6 { width: 123px!important; }
input.span-7, textarea.span-7 { width: 148px!important; }
input.span-8, textarea.span-8 { width: 173px!important; }
input.span-9, textarea.span-9 { width: 198px!important; }
input.span-10, textarea.span-10 { width: 223px!important; }
input.span-11, textarea.span-11 { width: 248px!important; }
input.span-12, textarea.span-12 { width: 273px!important; }
input.span-13, textarea.span-13 { width: 298px!important; }
input.span-14, textarea.span-14 { width: 323px!important; }
input.span-15, textarea.span-15 { width: 348px!important; }
input.span-16, textarea.span-16 { width: 373px!important; }
input.span-17, textarea.span-17 { width: 398px!important; }
input.span-18, textarea.span-18 { width: 423px!important; }
input.span-19, textarea.span-19 { width: 448px!important; }
input.span-20, textarea.span-20 { width: 473px!important; }
input.span-21, textarea.span-21 { width: 498px!important; }
input.span-22, textarea.span-22 { width: 523px!important; }
input.span-23, textarea.span-23 { width: 548px!important; }
input.span-24, textarea.span-24 { width: 573px!important; }
input.span-25, textarea.span-25 { width: 598px!important; }
input.span-26, textarea.span-26 { width: 623px!important; }
input.span-27, textarea.span-27 { width: 648px!important; }
input.span-28, textarea.span-28 { width: 673px!important; }
input.span-29, textarea.span-29 { width: 698px!important; }
input.span-30, textarea.span-30 { width: 723px!important; }
input.span-31, textarea.span-31 { width: 748px!important; }
input.span-32, textarea.span-32 { width: 773px!important; }
input.span-33, textarea.span-33 { width: 798px!important; }
input.span-34, textarea.span-34 { width: 823px!important; }
input.span-35, textarea.span-35 { width: 848px!important; }
input.span-36, textarea.span-36 { width: 873px!important; }
input.span-37, textarea.span-37 { width: 898px!important; }
input.span-38, textarea.span-38 { width: 923px!important; }
input.span-39, textarea.span-39 { width: 948px!important; }
input.span-40, textarea.span-40 { width: 973px!important; }

/* Add these to a column to append empty cols. */

.append-1  { padding-right: 25px; } 
.append-2  { padding-right: 50px; } 
.append-3  { padding-right: 75px; } 
.append-4  { padding-right: 100px; } 
.append-5  { padding-right: 125px; } 
.append-6  { padding-right: 150px; } 
.append-7  { padding-right: 175px; } 
.append-8  { padding-right: 200px; } 
.append-9  { padding-right: 225px; } 
.append-10  { padding-right: 250px; } 
.append-11  { padding-right: 275px; } 
.append-12  { padding-right: 300px; } 
.append-13  { padding-right: 325px; } 
.append-14  { padding-right: 350px; } 
.append-15  { padding-right: 375px; } 
.append-16  { padding-right: 400px; } 
.append-17  { padding-right: 425px; } 
.append-18  { padding-right: 450px; } 
.append-19  { padding-right: 475px; } 
.append-20  { padding-right: 500px; } 
.append-21  { padding-right: 525px; } 
.append-22  { padding-right: 550px; } 
.append-23  { padding-right: 575px; } 
.append-24  { padding-right: 600px; } 
.append-25  { padding-right: 625px; } 
.append-26  { padding-right: 650px; } 
.append-27  { padding-right: 675px; } 
.append-28  { padding-right: 700px; } 
.append-29  { padding-right: 725px; } 
.append-30  { padding-right: 750px; } 
.append-31  { padding-right: 775px; } 
.append-32  { padding-right: 800px; } 
.append-33  { padding-right: 825px; } 
.append-34  { padding-right: 850px; } 
.append-35  { padding-right: 875px; } 
.append-36  { padding-right: 900px; } 
.append-37  { padding-right: 925px; } 
.append-38  { padding-right: 950px; } 
.append-39  { padding-right: 975px; } 

/* Add these to a column to prepend empty cols. */

.prepend-1  { padding-left: 25px; } 
.prepend-2  { padding-left: 50px; } 
.prepend-3  { padding-left: 75px; } 
.prepend-4  { padding-left: 100px; } 
.prepend-5  { padding-left: 125px; } 
.prepend-6  { padding-left: 150px; } 
.prepend-7  { padding-left: 175px; } 
.prepend-8  { padding-left: 200px; } 
.prepend-9  { padding-left: 225px; } 
.prepend-10  { padding-left: 250px; } 
.prepend-11  { padding-left: 275px; } 
.prepend-12  { padding-left: 300px; } 
.prepend-13  { padding-left: 325px; } 
.prepend-14  { padding-left: 350px; } 
.prepend-15  { padding-left: 375px; } 
.prepend-16  { padding-left: 400px; } 
.prepend-17  { padding-left: 425px; } 
.prepend-18  { padding-left: 450px; } 
.prepend-19  { padding-left: 475px; } 
.prepend-20  { padding-left: 500px; } 
.prepend-21  { padding-left: 525px; } 
.prepend-22  { padding-left: 550px; } 
.prepend-23  { padding-left: 575px; } 
.prepend-24  { padding-left: 600px; } 
.prepend-25  { padding-left: 625px; } 
.prepend-26  { padding-left: 650px; } 
.prepend-27  { padding-left: 675px; } 
.prepend-28  { padding-left: 700px; } 
.prepend-29  { padding-left: 725px; } 
.prepend-30  { padding-left: 750px; } 
.prepend-31  { padding-left: 775px; } 
.prepend-32  { padding-left: 800px; } 
.prepend-33  { padding-left: 825px; } 
.prepend-34  { padding-left: 850px; } 
.prepend-35  { padding-left: 875px; } 
.prepend-36  { padding-left: 900px; } 
.prepend-37  { padding-left: 925px; } 
.prepend-38  { padding-left: 950px; } 
.prepend-39  { padding-left: 975px; } 


/* Border on right hand side of a column. */
div.border {
  padding-right: 6px;
  margin-right: 8px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 19px;
  margin-right: 20px;
  border-right: 1px solid #eee;
}


/* Use these classes on an element to push it into the 
next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -25px; }
.pull-2 { margin-left: -50px; }
.pull-3 { margin-left: -75px; }
.pull-4 { margin-left: -100px; }
.pull-5 { margin-left: -125px; }
.pull-6 { margin-left: -150px; }
.pull-7 { margin-left: -175px; }
.pull-8 { margin-left: -200px; }
.pull-9 { margin-left: -225px; }
.pull-10 { margin-left: -250px; }
.pull-11 { margin-left: -275px; }
.pull-12 { margin-left: -300px; }
.pull-13 { margin-left: -325px; }
.pull-14 { margin-left: -350px; }
.pull-15 { margin-left: -375px; }
.pull-16 { margin-left: -400px; }
.pull-17 { margin-left: -425px; }
.pull-18 { margin-left: -450px; }
.pull-19 { margin-left: -475px; }
.pull-20 { margin-left: -500px; }
.pull-21 { margin-left: -525px; }
.pull-22 { margin-left: -550px; }
.pull-23 { margin-left: -575px; }
.pull-24 { margin-left: -600px; }
.pull-25 { margin-left: -625px; }
.pull-26 { margin-left: -650px; }
.pull-27 { margin-left: -675px; }
.pull-28 { margin-left: -700px; }
.pull-29 { margin-left: -725px; }
.pull-30 { margin-left: -750px; }
.pull-31 { margin-left: -775px; }
.pull-32 { margin-left: -800px; }
.pull-33 { margin-left: -825px; }
.pull-34 { margin-left: -850px; }
.pull-35 { margin-left: -875px; }
.pull-36 { margin-left: -900px; }
.pull-37 { margin-left: -925px; }
.pull-38 { margin-left: -950px; }
.pull-39 { margin-left: -975px; }
.pull-40 { margin-left: -1000px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24, .pull-25, .pull-26, .pull-27, .pull-28, .pull-29, .pull-30, .pull-31, .pull-32, .pull-33, .pull-34, .pull-35, .pull-36, .pull-37, .pull-38, .pull-39, .pull-40 {float: left; position:relative;}

.push-1 { margin: 0 -25px 1.5em 25px; }
.push-2 { margin: 0 -50px 1.5em 50px; }
.push-3 { margin: 0 -75px 1.5em 75px; }
.push-4 { margin: 0 -100px 1.5em 100px; }
.push-5 { margin: 0 -125px 1.5em 125px; }
.push-6 { margin: 0 -150px 1.5em 150px; }
.push-7 { margin: 0 -175px 1.5em 175px; }
.push-8 { margin: 0 -200px 1.5em 200px; }
.push-9 { margin: 0 -225px 1.5em 225px; }
.push-10 { margin: 0 -250px 1.5em 250px; }
.push-11 { margin: 0 -275px 1.5em 275px; }
.push-12 { margin: 0 -300px 1.5em 300px; }
.push-13 { margin: 0 -325px 1.5em 325px; }
.push-14 { margin: 0 -350px 1.5em 350px; }
.push-15 { margin: 0 -375px 1.5em 375px; }
.push-16 { margin: 0 -400px 1.5em 400px; }
.push-17 { margin: 0 -425px 1.5em 425px; }
.push-18 { margin: 0 -450px 1.5em 450px; }
.push-19 { margin: 0 -475px 1.5em 475px; }
.push-20 { margin: 0 -500px 1.5em 500px; }
.push-21 { margin: 0 -525px 1.5em 525px; }
.push-22 { margin: 0 -550px 1.5em 550px; }
.push-23 { margin: 0 -575px 1.5em 575px; }
.push-24 { margin: 0 -600px 1.5em 600px; }
.push-25 { margin: 0 -625px 1.5em 625px; }
.push-26 { margin: 0 -650px 1.5em 650px; }
.push-27 { margin: 0 -675px 1.5em 675px; }
.push-28 { margin: 0 -700px 1.5em 700px; }
.push-29 { margin: 0 -725px 1.5em 725px; }
.push-30 { margin: 0 -750px 1.5em 750px; }
.push-31 { margin: 0 -775px 1.5em 775px; }
.push-32 { margin: 0 -800px 1.5em 800px; }
.push-33 { margin: 0 -825px 1.5em 825px; }
.push-34 { margin: 0 -850px 1.5em 850px; }
.push-35 { margin: 0 -875px 1.5em 875px; }
.push-36 { margin: 0 -900px 1.5em 900px; }
.push-37 { margin: 0 -925px 1.5em 925px; }
.push-38 { margin: 0 -950px 1.5em 950px; }
.push-39 { margin: 0 -975px 1.5em 975px; }
.push-40 { margin: 0 -1000px 1.5em 1000px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25, .push-26, .push-27, .push-28, .push-29, .push-30, .push-31, .push-32, .push-33, .push-34, .push-35, .push-36, .push-37, .push-38, .push-39, .push-40 {float: right; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
.prepend-top { 
  margin-top:1.5em; 
}
.append-bottom { 
  margin-bottom:1.5em; 
}

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
/* -------------------------------------------------------------- 
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input[type=text],
input.text, input.title, 
textarea, select { 
  background-color:#fff; 
  border:1px solid #bbb; 
}
input[type=text]:focus, 
input.text:focus, input.title:focus, 
textarea:focus, select:focus { 
  border-color:#666; 
}

input[type=text], 
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio], 
input.checkbox, input.radio { 
  position:relative; top:.25em; 
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
