<table>
    <tr>
      <th>Item Type</th>
      <th>Flagged Item</th>
      <th>Action</th>
    </tr>
    
    <%= render :partial => 'flag', :collection => @flags %>
    
  </table>
<%= will_paginate @flags %>