<table>
  <tr>
    <th>Acquired At</th>
    <th>Type</th>
    <th class="center">Order Number</th>
    <th class="center">Price Paid</th>
    <% if show_redeemed %>
      <th>Redeemed At</th>
      <th>Redeemed For</th>
    <% end %>
    <% if show_expired %>
      <th>Expiration Date</th>
    <% end %>
  </tr>
  <%= render :partial => 'credits/credit', :collection => credits, :locals => { :show_redeemed => show_redeemed, :show_expired => show_expired } %>
</table>
