<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="howtos_section">
  <div class="answers">
    <h4>Getting started</h4>

    <h5>How do I select a good topic?</h5>

    <div>
      <p>As you are brainstorming topic ideas, below are some questions that might help guide that process:</p>
      <ol>
        <li>What concepts do I find myself frequently explaining?</li>
        <li>Is there a concept that is often explained in a confusing manner? Or that a particular professor explains in a confusing manner? </li>
        <li>Is there a concept that has a nuance that is often misunderstood? </li>
        <li>Are there tricks I could share with students on how to solve or apply a concept?</li>
        <li>Is there a concept that is taught in a particular way for the class, or a particular section of it that students should know about it? </li>
        <li>Is there a common misused or incorrect application of a certain concept? For example, you might put together a lesson explaining how not to use a certain concept.</li>
      </ol>
    </div>

    <h5>How do I become an instructor?</h5>

    <div>
      <p>Easily...</p>
      <ol>
        <li>Navigate to <%= link_to_if current_user, "My Firehoze", my_firehoze_index_path(:anchor => "credits") %>.</li>
        <li>Click the "Become an Instructor" button to walk through the Instructor Signup Wizard.</li>
        <li>Complete all steps in the wizard.</li>
        <li>Start teaching!</li>
      </ol>
    </div>

    <h5>How do I create a lesson?</h5>

    <div>
      <h6>Step 1: Pick a topic</h6>
      <p>Choose a concept within your preferred subject that your students or classmates have frequently found difficult.</p>
      <p>Not sure where to start? Check out How do I select a topic? Tips for selecting a good topic.</p>

      <h6>Step 2: Outline your topic</h6>
      <p>Outline the topic, starting with the objective of the lesson.</p>
      <p><em>Think about:</em></p>
      <ul>
        <li>What key things should a student know by the end of the lesson?</li>
        <li>Is there any key terminology that should be defined upfront?</li>
        <li>Think of 1-2 examples that would be useful.</li>
        <li>Are there any nuances that are often overlooked? Are there any tricks that help with solving/applying this concept?</li>
      </ul>
      <p>
        <b>TIP:</b> If applicable, add practice problems or questions to the end of your lesson that students should be able to answer once they've watched your video. Suggest they pause the lesson to complete the problems before the answers are revealed.
      </p>

      <h6>Step 3: Choose your medium</h6>
      <p>Once you've outlined your topic, decide how you will present it, such as powerpoint slides (a community favorite), a graphics tablet, etc. Prepare slides ahead of time and use pause/record shortcuts while preparing your thoughts or screen transitions during a recording session. Incorporate text and other images to reduce the amount of handwriting when using a drawing tablet (click here for an example).</p>
      <p><em>Think about:</em></p>
      <ul>
        <li>How legible is your handwriting?</li>
        <li>Keep your slides simple. This helps your students focus on those areas that are most important.</li>
      </ul>
      <p><b>TIP:</b> Since your lesson will have audio, delete any text that doesn't add to the lesson.</p>

      <h6>Step 4: Practice</h6>
      <p>Practice giving the lesson, timing yourself and identifying any additional examples or graphics that may be be useful to include.</p>
      <p><em>Think about:</em></p>
      <ul>
        <li>Are you speaking slowly enough? Remember, while you know this information, this may be the first time your student has heard it.</li>
        <li>Are there any key points you want to make? Have you made them?</li>
        <li>What would make it easier to give this lesson? (additional notes, different examples, etc)</li>
      </ul>
      <p>
        <b>TIP:</b> If you find yourself “reading” your slides rather than explaining the concept seen on the slides, delete extra text that does not add to the explanation.
      </p>

      <h6>Step 5: Select your recording option</h6>
      <p>You can use a camcorder or if you are using slides or a graphics tablet, you will need screen capture software.</p>
      <p>
        <b>TIP:</b> If you are on a PC and using slides, we recommend CamStudio for screen capture. It's free and easy to use. Click here for other recording options.
      </p>

      <h6>Step 6: Practice recording</h6>
      <p>Practice giving your lesson with the screen recording software, or however you will be recording your lesson. For tips on configuring CamStudiol to record slides, refer to the PDF CamStudio Setting for PowerPoint.</p>

      <h6>Step 7: Record</h6>
      <p>Record your tutorial. Click here for help ||add link|| troubleshooting recording issues. Or visit the <%= link_to 'Help Center', page_path("help_center") %>.</p>

      <h6>Step 8: Upload to Firehoze!</h6>
      <p><em>Think about:</em></p>
      <ul>
        <li>Add enough tags to ensure your students can find your lesson. Tags can be broad, such as subject or concept key words, or specific, such as school name, course number and/or section.</li>
        <li>Add a clear synopsis.</li>
        <li>Highlight any nuances or tricks that you include in your lesson to help students identify differences between your lesson and others they may be looking at.</li>
      </ul>

      <h6>Step 9: Repeat!</h6>
    </div>


  </div>
  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a>
  </p>
</div>
