<% content_for :head do -%>
    <a name="top" id="top" class="anchor"></a>
<% end -%>

<div id="howtos_section">
  <div class="answers">
    <h4>I have a topic, now what?</h4>

    <h5>How do I outline a lesson?</h5>

    <div>
      <p>View the following for an example of what an outline would look like for a typical lesson:</p>
      <h6>The Intro</h6>
      <p>You have 30-sec. to let them know exactly why your lesson is best.</p>
      <p>Title slide – have a slide with the title of the concept you're covering.</p>

      <p>Introduce what they are going to learn.</p>
      <ul>
        <li>The topic and what the student is going to learn</li>
        <li>What class or subject it is best for (e.g. “this lesson is for calculus II...” or “this lesson aligns to BU's M302c...”)</li>
        <li>What the student should be able to answer or solve by the end of lesson</li>
        <li>Are there any pre-requisites/concepts the student should understand</li>
        <li>Is it one of a series of videos you have created</li>
      </ul>
      <p>Vocabulary/Formulas</p>
      <ul>
        <li>Call out key word definitions</li>
        <li>Define formula values</li>
      </ul>

      <h6>The Explanation</h6>
      <p>Outline the lesson</p>
      <ul>
        <li>Outline key points or important things to remember (bullets)</li>
        <li>If possible, break into steps (1, 2, 3...)</li>
      </ul>
      <p>Start explanation</p>

      <p>Per slide:</p>
      <ul>
        <li>Call out any important areas/points the student should note/remember</li>
        <li>If using examples, choose one common variation and one tricky variation</li>

        <p>
          <b>TIP:</b> When explaining, help your student recognize the difference with both visual and verbal ques, such as
        </p>
        <ul>
          <li>"Common questions/problems you might see are..."</li>
          <li>"When you see X, think Y..."</li>
          <li>"When you see this, it means A..."</li>
        </ul>
        <li>Throughout your explanation, share tricks or secrets to help your student more easily remember, or solve, the concept you are covering</li>
      </ul>

      <h6>Test Comprehension</h6>
      <p>Add practice problems or common questions the student may encounter on this topic.</p>
      <ul>
        <li>Provide examples of both common and tricky/more complicated variations of problems or questions students may encounter.</li>
        <li>Before revealing answers, tell the student to Pause video so they can solve the problems before you reveal the answers.</li>
        <li>Give your student the time to pause the video and wait approximately 15-seconds before revealing the answers.</li>
      </ul>

      <h6>Conclusion</h6>
      <p>Thank your student for watching.</p>
      <p>Encourage them to contact you with any questions.</p>
      <p>Encourage them to follow you and request topics.</p>
    </div>

    <h5>What makes a great lesson?</h5>

    <div>

      <p>What makes for a great tutorial? Here are a few things to keep in mind when putting together your lessons.</p>

      <h6>Provide a clear objective.</h6>
      <p>Provide a clear objective of the lesson so a student can quickly determine whether it will answer the question they are struggling with. (Remember, a student will have 30 seconds during the preview to quickly determine if this lesson will help them.)</p>

      <h6>Use a logical progression.</h6>
      <p>A well laid out, logical progression through a topic helps to avoid confusion. Think about when you were first taught this concept – what helped you to understand it?</p>

      <h6>Use examples.</h6>
      <p>Use 1-2 examples during your lesson that would be commonly seen, or alternatively, that you have found cause the most difficulty, to demonstrate the main variances that might be commonly seen in the application of the concept or changes in values.</p>

      <h6>Provide practice problems.</h6>
      <p>At the end of the lesson, provide example problems or questions that students should be able to answer. Suggest that the student pauses the lesson to complete the problems before the answer are revealed.</p>

      <h6>Practice.</h6>
      <p>Practice enough to try to limit these distracting pauses such as “umm...” or “ahhh...”.</p>

      <h6>Tell them a secret.</h6>
      <p>Call out any tricks or commonly overlooked nuances during your lesson. We all love to know the “secret” to solving a problem or answering a question. Sprinkling these types of “jems” throughout your lesson will not only help your students, but also help you grow a loyal following.</p>

      <h6>Tips for different methods...</h6>
      <p>If using a graphics tablet, incorporate text and other images to reduce the amount of handwriting used.</p>
      <p>If using slides, incorporate a title slide and an intro slide clearly stating the objective of the lesson.</p>

    </div>

    <h5>What methods could I use to create a lesson?</h5>

    <div>
      <p>You can use a variety of methods for creating a lesson, such as:</p>
      <ul>
        <li>Slides + screen capture software –> Easiest and cheapest option</li>
        <li>Tablet computer + screen capture software</li>
        <li>Video camera</li>
        <p>If using a whiteboard or chalkboard, keep in mind, it's the lesson that is of interest so try to focus the capture frame on the board, not the surrounding area. For whiteboards, test marker colors you plan to use to make sure viewers will be able to see them clearly.</p>
        <li>Your choice of multimedia tools, such as Flash</li>
      </ul>
    </div>
  </div>

  <p>&nbsp;&uarr;<a href="#top" class="top anchorLink">return to top</a></p>

</div>
