<% if (followers.present?) %>
  <ul class="followers-mosaic">
    <% followers.each do |follower| %>
      <li><%= avatar_link_to(follower, :size => :tiny) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No followers at this time.</p>
<% end %>
