<% title "Grant a Gift Certificate" -%>

<h3>Grant a Gift Certificate</h3>
<% form_for(:gift_certificate, :url => grant_gift_certificates_url(@gift_certificate)) do |f| %>
    <%= f.error_messages %>

    Quantity:
    <%= f.text_field :credit_quantity %>
    <br/>
    User:
    <%= f.select :user_id, options_from_collection_for_select(User.ascend_by_login, :id, :login) %>
    <br/>

    <%= f.submit "Create", :disable_with => translate('general.disable_with') %>
<% end %>