<table>
  <tr>
    <th>
      Lesson
    </th>
    <th>
      Category
    </th>
    <th>
      Rating
    </th>
    <th>
      Created At
    </th>
    <th>
      Students
    </th>
    <th>
      Revenue
    </th>
  </tr>
  <%= render :partial => 'instructed_lesson', :collection => user.instructed_lessons %>
</table>