<% lessons = object %>

<span id="loader" class="hidden"><%= image_tag("general/spinners/ajax-loader_small_arrows.gif") %></span>

<div id="lessons">
  <%= will_paginate @lessons %>
  <ul class="lesson-list">
    <%= render :partial => "lessons/ajaxed_lesson", :collection => @lessons  %>
  </ul>
  <%= will_paginate @lessons %>
</div>
