<%
   lesson = object
   options ||= {}
   css_classes = options[:css_classes]
%>

<% if lesson.owned_by?(current_user) or lesson.can_edit?(current_user) or lesson.owned_by?(current_user) %>
    <% groups = current_user.groups(:select => [:id, :name]) %>
    <% unless groups.empty? %>
        <div<%= " class='#{css_classes}'" unless css_classes.blank? -%>>
          <b>Add Lesson to <%= groups.size > 1 ? 'Groups' : 'Group' %>:</b>
          <% groups.each do |group| %>
              <br/>
              <%= link_to h(group.name), group_path(group) %>&nbsp;&nbsp;
              <%= link_to_add_remove_group lesson, group %>
          <% end %>
    <% end %>
    </div>
<% end %>