<%
if current_user
  highest_rated = Lesson.ready.highest_rated.not_owned_by(current_user).paginate :page => params[:page], :per_page => @per_page
else
  highest_rated = Lesson.ready.highest_rated.paginate :page => params[:page], :per_page => @per_page
end
%>

<div class="lesson_container">
  <%= lessons_header(:highest_rated) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => highest_rated %>
</div>

<%= render :partial => "lessons/pagination", :object => highest_rated, :locals => { :collection => :highest_rated } %>
