<%
highest_rated = Lesson.ready.highest_rated.paginate :page => params[:page], :per_page => @per_page
%>

<div class="lesson_container">
  <%= lessons_header(:highest_rated) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => highest_rated %>
</div>

<div class="more">
  <%= render :partial => "lessons/pagination", :object => highest_rated, :locals => { :collection => :highest_rated } %>
</div>
<hr />
