<%
newest = Lesson.ready.newest.paginate :page => params[:page], :per_page => @per_page
%>
<div class="lesson_container">
  <%= lessons_header(:newest) %>
  <%= render :partial => "lessons/lesson_extended", :collection => newest %>
  <%= render :partial => "lessons/pagination", :object => newest, :locals => { :collection => :newest } %>
</div>
