<%
newest = Lesson.ready.newest.paginate :page => params[:page], :per_page => @per_page
%>

<div class="lesson_container">
  <%= lessons_header(:newest) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => newest %>
</div>

<div class="more">
  <%= render :partial => "lessons/pagination", :object => newest, :locals => { :collection => :newest } %>
</div>
<hr />