<%
if current_user
  count = Lesson.ready.newest.not_owned_by(current_user).size
  newest = Lesson.ready.newest.not_owned_by(current_user).paginate :page => params[:page], :per_page => @per_page
else
  newest = Lesson.ready.newest.size
  newest = Lesson.ready.newest.paginate :page => params[:page], :per_page => @per_page
end
%>

<div class="lesson_container">
  <%= lessons_header(:newest) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => newest %>
</div>

<%= render :partial => "lessons/pagination", :object => newest, :locals => { :collection => :newest, :options => { :count => count } } %>
