<%
   owned_lessons = current_user.lessons + current_user.instructed_lessons
   owned_lessons = owned_lessons.paginate :page => params[:page], :per_page => @per_page
%>

<div class="lesson_container">
  <%= lessons_header(:owned_lessons) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => owned_lessons %>
</div>

<div class="more">
  <%= render :partial => "lessons/pagination", :object => owned_lessons, :locals => { :collection => :owned } %>
</div>
<hr/>