<%
   recently_browsed = current_user.visited_lessons.paginate :page => params[:page], :per_page => @per_page
%>

<div class="lesson_container">
  <%= lessons_header(:recently_browsed) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => recently_browsed %>
</div>

<div class="more">
  <%= render :partial => "lessons/pagination", :object => recently_browsed, :locals => { :collection => :recently_browsed } %>
</div>
<hr />
