<%
if current_user then
  count = current_user.visited_lessons.size
  recently_browsed = current_user.visited_lessons.paginate :page => params[:page], :per_page => @per_page
end
%>

<div class="lesson_container">
  <%= lessons_header(:recently_browsed) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => recently_browsed %>
</div>

<%= render :partial => "lessons/pagination", :object => recently_browsed, :locals => { :collection => :recently_browsed, :options => { :count => count } } %>
