<%
tag = params[:tag]
tagged_with = Lesson.find_tagged_with(tag).paginate :page => params[:page], :per_page => @per_page
%>
<div class="lesson_container">
  <%= lessons_header(:tagged_with, tag) %>
  <%= render :partial => "lesson_extended", :collection => tagged_with %>
  <%= render :partial => "pagination", :object => tagged_with, :locals => { :collection => :tagged_with } %>
</div>
