<% 
lesson = object 
options ||= {}
css_classes = options[:css_classes]
%>

<% unless lesson.tag_counts.empty? %>
<div<%= " class='#{css_classes}'" unless css_classes.blank? -%>>
  <span class="ui-icon ui-icon-tag adjacent_icon"></span><b>Tags:</b>
  <% lesson.tag_counts.each do |tag| %>
    <%= link_to tag.name, list_lessons_path(:collection => :tagged_with, :tag => tag.name) %>
  <% end %>
</div>
<% end %>
