<div class="upload_warning notice clearfix">
  <%= image_tag 'spinners/ajax-loader-bar.gif', :alt => 'Uploading, pleasing standby ...' %>
  <h4>Don't leave the page...the upload will take a while &mdash; but it's still working</h4>
  <span class="help">(Leaving this page before the upload has completed will result in making your lesson unavailable to others)</span>
  <br />
  <br />
  <h4>Did you know you can shrink your video files to make lesson uploads faster?</h4>
  <span class="help">Check out the <%= t('lesson.instructor').capitalize %> t('lesson.Lesson') entitled <%= link_to "My video file is very large and takes forever to upload. What can I do?", page_path('instructor-how-tos', :anchor => "uploading"), :popup => true %> (Clicking on the link will not interrupt your lesson upload).</span>
</div>
