<div class="upload_warning notice clearfix">
  <%= image_tag 'spinners/ajax-loader-bar.gif', :alt => 'Uploading, pleasing standby ...' %>
  <h4>Don't leave the page...the upload will take a while &mdash; but it's still working</h4>
  <span class="help">(Leaving this page before the upload has completed will result in making your lesson unavailable to others)</span> 
</div> 
