<%
if current_user then
  wishlist = current_user.wishes
end
%>
<% if wishlist.empty? %>
  <div class="content">You have no items in your wishlist</div>
<% else %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => wishlist %>
<% end %>