<%
   if current_user then
       wishlist = current_user.wishes
   end
%>

<div class="lesson_container">
  <%= lessons_header(:wishlist) %>
  <%= render :partial => "lessons/lesson_#{lesson_format}", :collection => wishlist %>
</div>

<div class="more">
  <%= render :partial => "lessons/pagination", :object => wishlist, :locals => { :collection => :wishlist } %>
</div>
<hr/>