<div style="position:relative;margin:-20px 0 20px 0;">
  <div style="height:32px; width:32px;">
    <div id="loader" style="display:none">
      <%= image_tag("general/spinners/ajax-loader_small_spinner.gif") %>
    </div>
  </div>
  <div class="h3" style="margin: 10px 0 0 0px;"><%= t("lesson.#{@collection}") %></div>
</div>

<div id="lessons">
  <%= render 'lessons', :locals => { :lesson_format => @lesson_format } %>
</div>
