<div class="widget-box">
  <div class="widget-box-header">
    <span class="h4">All <%= t('lesson.lesson').capitalize %> Tags</span>
  </div>
  <div class="widget-box-content tags">
    <%= render :partial => "lessons/tag_cloud", :object => @tags %>
  </div>
</div>
