<% title "Edit How To" -%>

<%= render :partial => 'form', :locals => { :new_lesson => false, :heading => "Edit How To #{link_to(h(@lesson.title), lesson_path(@lesson))}", :subtext => "<h4>Update attributes for the #{t('lesson.lesson')}</h4>" } %>
