<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<h3><%= t('general.lessons').capitalize %></h3>
<p><%= link_to "View As Table", list_admin_lessons_path %></p>

<%= @graph %>
<br />
<br />
<%= @graph2 %>
