<table>
  <tr>
    <th>Title</th>
    <th>Instructor</th>
    <th>Created At</th>
    <% if current_user.try("is_sysadmin?") %>
        <th>State</th>
    <% end %>
    <th>Action</th>
  </tr>
  <%= render @lessons %>
</table>
<%= will_paginate @lessons %>
