<%# javascript 'pagination' %>

<h3><%= t('lesson.recently_browsed') %></h3>

<div id="loader" class="hidden">
  <%= image_tag("general/spinners/ajax-loader_small_arrows.gif") %>
</div>

<div id="lessons">
  <%= render 'lessons' %>
</div>