<% title "Create #{t('lesson.lesson')}" -%>

<%= render :partial => 'form', :locals => { :new_lesson => true, :heading => "Create How To", :subtext => "<h4>Upload your #{t('lesson.lesson')} video to create your #{t('lesson.lesson')}.</h4><h4>The video file for your how to must be less than #{number_to_human_size(APP_CONFIG[CONFIG_MAX_VIDEO_SIZE].megabytes)}. You can find a complete list of supported file types in the #{ link_to 'Instructor How To', page_path('instructor-how-tos', :anchor => 'uploading')} area.</h4><h4>Check out the Instructor How To entitled #{link_to "My video file is very large and takes forever to upload. What can I do?", page_path('instructor-how-tos', :anchor => "uploading")} for hints on how to speed your #{t('lesson.lesson')} uploads.</h4>" } %>
