<% # STUDENTS WHO BOUGHT THIS VIDEO ALSO BOUGHT...  -%>
<div>
  <%= render :partial => 'lesson_buy_pairs', :object => @lesson -%>
</div>

<% # WHAT DO STUDENTS ULTIMATELY BUY AFTER BROWSING THIS ITEM?  -%>
<div>
  <%= render :partial => 'lesson_buy_patterns', :object => @lesson -%>
</div>
