<% title "Groups that include &quot;#{h @lesson.title}&quot;" -%>
<% @current = 'groups' %>
<div class="info with-button">
  <p>Groups are virtual communities within Firehoze that make it easy to communicate and collaborate with other users who share your interests. </p>
  <p>Group moderators can assign to their groups lessons which they think would be of interest to their members.</p>
  <%= link_to "Create a New Group", new_group_path, :class => :rounded %>
</div>

<div class="span-8">
  <%= render :partial => "groups/v2/groups", :collection => @groups %>
</div>
<div class="span-3 last">
  <%= render :partial => 'lessons/groups', :locals  => {:lesson => @lesson } %>
</div>
