<h3>Firehoze Content License Agreement</h3>
<p>
  This Agreement governs the terms by which members and clients of Firehoze Inc., obtain the right to use lessons,
  video, flash, illustrations, animations, footage, screen capture, notes and other media content provided by members
  of the Firehoze.com community through the web site or sites created and or owned by Firehoze Inc., and located by not
  limited to the URL <a href="http://www.firehoze.com">www.firehoze.com</a> (the “Site”). This Content License Agreement
  is in addition to the Terms of Use
  applicable to the Site and to the Membership Agreement that all persons providing content to or downloading or
  streaming content from the Site have previously entered into. In the event of any inconsistency between this
  Agreement, the Membership Agreement and the Terms of Use (both of which are incorporated into this Agreement by
  reference), the terms of this Agreement shall govern.
</p>
<ol>
<li>Background of Agreement</li>
<ol>
  <li type=a>
    This is a fairly lengthy document, and it contains many important provisions that affect your rights and
    obligations. By selecting the correct box at the end of this Agreement and typing “I Agree” or otherwise
    signifying your acceptance, you accept this Agreement either for yourself or on behalf of your employer or the
    entity that is identified as the member account holder, and agree to be bound by its provisions. If you are
    accepting on behalf of your employer or the entity that is the member account holder, you represent and warrant
    that you have full legal authority to bind your employer or such other entity. If you do not have such authority
    or you do not accept or agree with these terms, do not accept the Agreement and do not download the Content.
  </li>

  <li type=a>
    In this Agreement: (i) “you” or the “Client” means you or, if you are accepting on behalf of your employer or
    member account entity, then “you” means that employer or entity and affiliates; (ii) “Firehoze” or “we” means
    Firehoze inc., operator of the Site; and (iii) “Content” means any lesson, screen capture, photographic image,
    illustration, animation, Flash file, film or video, visual representation generated optically, electronically,
    digitally or by any other means or in any media or other material that you are downloading from the Site, together
    with any accompanying material including but not limited to notes, text documents, word processing documents,
    slide presentations, flash cards, spreadsheets, etc.
  </li>
</ol>
<li>Standard License Terms</li>
<p>
  You may only use the Content for those specified purposes which are Permitted Uses (as defined below). For clarity,
  you may not use the Content in products for resale, license or other distribution, unless (ii) if the original
  Content has been fundamentally modified or transformed sufficiently that it constitutes an original work entitling
  the author or artist to copyright protection under applicable law, and where the primary value of such transformed
  or derivative work is not recognizable as the Content nor is the Content capable of being downloaded, extracted or
  accessed by a third party as a stand-alone file (satisfaction of these conditions will constitute the work as a
  “Permitted Derivative Work” for the purposes of this Agreement). For example, you cannot superficially modify the
  Content, and sell it to or share it with others for consumption, reproduction or re-sale. These uses will not be
  permitted as or constitute Permitted Derivative Works. If there is any doubt that a work is a Permitted Derivative
  Work, you should contact Firehoze’s Client Relations for guidance. Any use of the Content that is not a Permitted
  Use shall constitute infringement of copyright.
</p>
<li>Permitted Standard License Uses:</li>
<ol>
  <li type=a>
    You may only use the Content for those specified purposes which are Permitted Uses (as defined below). For
    clarity, you may not use the Content in products for resale, license or other distribution, unless (ii) if the
    original Content has been fundamentally modified or transformed sufficiently that it constitutes an original work
    entitling the author or artist to copyright protection under applicable law, and where the primary value of such
    transformed or derivative work is not recognizable as the Content nor is the Content capable of being downloaded,
    extracted or accessed by a third party as a stand-alone file (satisfaction of these conditions will constitute the
    work as a “Permitted Derivative Work” for the purposes of this Agreement). For example, you cannot superficially
    modify the Content, and sell it to or share it with others for consumption, reproduction or re-sale. These uses
    will not be permitted as or constitute Permitted Derivative Works. If there is any doubt that a work is a
    Permitted Derivative Work, you should contact Firehoze’s Client Relations for guidance. Any use of the Content
    that is not a Permitted Use shall constitute infringement of copyright.
  </li>
  <li type=a>
    Permitted Uses. Subject to the restrictions described under Prohibited Uses below, the following are “Permitted
    Uses” of Content:
    <ol>
      <li>View or stream the content upto 100 times for personal use.</li>
      <li>any other uses approved in writing by Firehoze.</li>
    </ol>
    <p>If there is any doubt that a proposed use is a Permitted Use, you should contact Firehoze’s Client Relations
      for guidance.</p>
  </li>
</ol>
<li>Standard License Prohibitions</li>
<ol>
  <li type=a>
    Prohibited Uses. You may not do anything with the Content that is not expressly permitted in the preceding section
    or permitted by an Extended License. For greater certainty, the following are “Prohibited Uses” and you may not:
    <ol>
      <li>incorporate the Content in any product that results in a re-distribution or re-use of the Content or is
        otherwise made available in a manner such that a person can extract or access or reproduce the Content as an
        electronic file;
      </li>
      <li>use the Content in a fashion that is considered by Firehoze (acting reasonably) as or under applicable law
        is considered pornographic, obscene, immoral, infringing, defamatory or libelous in nature, or that would be
        reasonably likely to bring any person or property reflected in the Content into disrepute;
      </li>
      <li>use or display any Content that features a model or person in a manner that (i) would lead a reasonable
        person to think that such person uses or personally endorses any business, product, service, cause,
        association or other endeavor; or (ii) that depicts such person in a potentially sensitive subject matter,
        including, but not limited to mental and physical health issues, social issues, sexual or implied sexual
        activity or preferences, substance abuse, crime, physical or mental abuse or ailments, or any other subject
        matter that would be reasonably likely to be offensive or unflattering to any person reflected in the Content;
      </li>
      <li>to the extent that source code is contained within the Content, reverse engineer, decompile, or disassemble
        any part of such source code;
      </li>
      <li>remove any notice of copyright, trade-mark or other proprietary right from any place where it is on or
        embedded in the Content;
      </li>
      <li>sub-license, re-sell, rent, lend, assign, gift or otherwise transfer or distribute the Content or the rights
        granted under this Agreement;
      </li>
      <li>install and use the Content in more than one location at a time or post a copy of the Content on a network
        server or web server for use by other users;
      </li>
      <li>use or display the Content in an electronic format that enables it to be downloaded or distributed via
        mobile devices or shared in any peer-to-peer or similar file sharing arrangement other than that provided by
        Firehoze;
      </li>
      <li>use the Content for editorial purposes without including the following credit adjacent to the Content:
        "&copy;Firehoze.com/[Instructor’s Member Name]; or
      </li>
    </ol>
  </li>
</ol>
<li>Term of Agreement</li>
<ol>
  <li type=a>
    This Agreement is effective until it is terminated. You can terminate this Agreement by destroying the Content and
    any Permitted Derivative Works, along with any copies or archives of it or accompanying materials (if applicable),
    and ceasing to use the Content for any purpose. The Agreement also terminates without notice from Firehoze if at
    any time you fail to comply with any of its terms. Upon termination, you must immediately (i) cease using the
    Content and for any purpose; (ii) destroy or delete all copies and archives of the Content or accompanying
    materials; and (iii) if requested, confirm to Firehoze in writing that you have complied with these requirements.
  </li>
  <li type=a>
    Firehoze reserves the right to elect at a later date to revoke or amend the license granted by this Agreement and
    replace the Content with an alternative for any reason. Upon notice, sent to the address or contact information
    provided by you for your member account, or such other address as you may advise us in writing to use, from time
    to time, of such replacement, the license for the replaced Content immediately terminates for any products that do
    not already exist, and this license automatically applies to the replacement Content. You agree not to use the
    replaced Content, or any Permitted Derivative Works, for future products and to take all reasonable steps to
    discontinue use of the replaced Content, or any Permitted Derivative Works, in products that already exist.
  </li>
</ol>
<li>Limited Representations and Warranties</li>
<ol>
  <li type=a>
    The Site acts as an exchange of Content between those who provide Content to the Site and those who wish to use
    such Content. Firehoze grants no rights and makes no warranties regarding the use of names, people, trademarks,
    trade dress, patented or copyrighted designs or works of art or architecture or other forms of intellectual
    property represented in any Content. While we have made reasonable efforts to correctly categorize and keyword the
    Content, Firehoze does not warrant the accuracy of such information.
  </li>
  <li type=a>
    THE CONTENT IS PROVIDED “AS IS” WITHOUT REPESENTATION, WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR
    IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR
    CONDITIONS OF MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. FIREHOZE DOES NOT REPRESENT OR WARRANT THAT
    THE CONTENT WILL MEET YOUR REQUIREMENTS OR THAT ITS USE WILL BE UNINTERRUPTED OR ERROR FREE. THE ENTIRE RISK AS TO
    THE QUALITY AND PERFORMANCE OF THE CONTENT IS WITH YOU. SHOULD THE CONTENT PROVE DEFECTIVE, YOU (AND NOT FIREHOZE)
    ASSUME THE ENTIRE RISK AND COST OF ALL NECESSARY CORRECTIONS.
    <br /><br />
    IN PARTICULAR AND WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, IF YOU ARE DOWNLOADING OR STREAMING CONTENT
    THAT IS IN A FLASH FORMAT OR FILE (WHETHER .FLV, .SWF OR OTHERWISE) FIREHOZE MAKES NO REPRESENTATION OR WARRANTY
    RESPECTING SUCH CONTENT WHATSOEVER, WHETHER AS TO OWNERSHIP, TECHNICAL OR LEGAL COMPLIANCE, OR OTHERWISE.
  </li>
  <li type=a>
    Certain jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to
    you. You have specific rights under this warranty, but you may have others, which vary from jurisdiction to
    jurisdiction.
  </li>
</ol>
<li>Limitation of Warranties and Liability</li>
<ol>
  <li type=a>
    Firehoze’s entire liability and your exclusive remedy, with respect to any claims arising out of your use of the
    Content, or out of your actions in downloading the Content, shall be as follows:
  </li>
  <ol>
    <li>You may, upon request to Firehoze, be permitted to download or stream the Content again, at a location
      Firehoze will provide for you;
    </li>
    <li>If you continue to be unable to download the Content, Firehoze will refund the fee actually paid by you or
      provide equivalent credit(s) for such Content, provided Firehoze determines in its sole and absolute discretion
      that you have been unable to download such Content successfully.
    </li>
  </ol>
  <li type=a>
    IN NO EVENT SHALL FIREHOZE OR ANY OF ITS AFFILIATES OR CONTENT PROVIDERS OR THEIR RESPECTIVE DIRECTORS, OFFICERS,
    EMPLOYEES, SHAREHOLDERS, PARTNERS OR AGENTS BE LIABLE FOR ANY INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR
    CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING DAMAGES FOR LOSS OF PROFITS, INTERRUPTION, LOSS OF BUSINESS
    INFORMATION, OR ANY OTHER PECUNIARY LOSS) IN CONNECTION WITH ANY CLAIM, LOSS, DAMAGE, ACTION, SUIT OR OTHER
    PROCEEDING ARISING UNDER OR OUT OF THIS AGREEMENT, INCLUDING WITHOUT LIMITATION YOUR USE OF, RELIANCE UPON, ACCESS
    TO, OR EXPLOITATION OF THE CONTENT, OR ANY PART THEREOF, OR ANY RIGHTS GRANTED TO YOU HEREUNDER, EVEN IF WE HAVE
    BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER THE ACTION IS BASED ON CONTRACT, TORT (INCLUDING
    NEGLIGENCE), INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS OR OTHERWISE.
  </li>
  <li type=a>
    IN ANY EVENT, THE TOTAL MAXIMUM AGGREGATE LIABILITY OF FIREHOZE UNDER THIS AGREEMENT, THE LICENSE PROVIDED
    HEREUNDER, OR THE USE OR EXPLOITATION OF ANY OR ALL OF THE CONTENT IN ANY MANNER WHATSOEVER SHALL BE LIMITED TO
    THE FEES ACTUALLY PAID BY YOU TO FIREHOZE UNDER THIS AGREEMENT IN RESPECT OF THE USE OF THE RELEVANT CONTENT.
  </li>
  <li type=a>
    SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
    DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
  </li>
</ol>
<li>Indemnification</li>
<p>You agree to indemnify, defend and hold Firehoze, its affiliates, its Content providers and their respective
  directors, officers, employees, shareholders, partners and agents (collectively, the “Firehoze Parties”) harmless from
  and against any and all claims, liability, losses, damages, costs and expenses (including reasonable legal fees on a
  solicitor and client basis) incurred by any Firehoze Party as a result of or in connection with any breach by you or
  anyone acting on your behalf of any of the terms of this Agreement. </p>
<li>General Provisions</li>
<ol>
  <li type=a>
    You specifically agree and acknowledge that you have, in addition to the terms of this Agreement, reviewed the terms
    of the Membership Agreement and Terms of Use and any other agreements which may be incorporated by reference
    therein, and to the extent of their incorporation in this Agreement you agree to be bound by them.
  </li>
  <li type=a>
    Firehoze’s failure to insist upon or enforce strict performance of any provision of this Agreement shall not be
    construed as a waiver of any provision or right.
  </li>
  <li type=a>
    This Agreement is personal to you and is not assignable by you without Firehoze’s prior written consent. Firehoze
    may assign this Agreement without your consent to any other party so long as such party agrees to be bound by its
    terms.
  </li>
  <li type=a>
    If all or part of any provision of this Agreement is wholly or partially unenforceable, the parties or, in the event
    the parties are unable to agree, a court of competent jurisdiction, shall put in place of such whole or part
    provision an enforceable provision or provisions, that as nearly as possible reflects the terms of the unenforceable
    whole or part provision.
  </li>
  <li type=a>
    You agree to pay and be responsible for any and all sales taxes, use taxes, value added taxes and duties imposed by
    any jurisdiction as a result of the license granted to you, or of your use of the Content, pursuant to this
    Agreement.
  </li>
  <li type=a>
    This Agreement will be governed under the laws of the Commonwealth of Massachusetts and the federal laws of the
    United States of America applicable therein (without reference to conflicts
    of laws principles). This Agreement will not be governed by the United Nations Convention on Contracts for the
    International Sale of Goods, the application of which is expressly excluded. You consent to service of any required
    notice or process upon you by registered mail or overnight courier with proof of delivery notice, addressed to the
    address or contact information provided by you at the time the Content was downloaded, or such other address as you
    may advise us in writing to use, from time to time.
  </li>
  <li type=a>
    The parties have requested that this Agreement and all related documents be drawn up in English.
  </li>
</ol>
<li>Contact</li>
<p>If you have concerns relating to this Agreement, please contact Firehoze
  <a href="javascript:location='mailto:\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0">
    <script type="text/javascript">document.write('\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script>
  </a></p>
<li>Acknowledgement</li>
<p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND HAD AN OPPORTUNITY TO SEEK INDEPENDENT LEGAL
  ADVICE PRIOR TO AGREEING TO IT. IN CONSIDERATION OF FIREHOZE AGREEING TO PROVIDE THE CONTENT, YOU AGREE TO BE BOUND BY
  THE TERMS AND CONDITIONS OF THIS AGREEMENT. YOU FURTHER AGREE THAT IT IS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE
  AGREEMENT BETWEEN YOU AND FIREHOZE, WHICH SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT, ORAL OR WRITTEN, AND ANY OTHER
  COMMUNICATION BETWEEN YOU AND FIREHOZE RELATING TO THE SUBJECT OF THIS AGREEMENT.</p>
</ol>
<p>&copy; Firehoze Inc., 2009. All rights reserved. Firehoze Inc., and Firehoze&reg; are trademarks of Firehoze inc. Flash&reg; is a registered trademark of Adobe Inc.</p>
