<h3>Firehoze Copyright Policy</h3>
<p>We don't control the content on our site. Our users post the content on Firehoze—including videos, comments, and
  ratings. Our community guidelines and clear messaging on the site make it clear that users must own or have permission
  from copyright holders to post any videos or other content.</p>
<p>We take copyright issues very seriously. We prohibit users from uploading infringing material and we cooperate with
  copyright holders to identify and promptly remove infringing content.</p>
<p>1. If you are a copyright owner or an agent thereof and believe that any User Submission or other content infringes
  upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by
  providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further
  detail): </p>
<ul>
  <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that
    is allegedly infringed;
  </li>
  <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a
    single online site are covered by a single notification, a representative list of such works at that site;
  </li>
  <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and
    that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the
    service provider to locate the material;
  </li>
  <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone
    number, and, if available, an electronic mail;
  </li>
  <li>A statement that you have a good faith belief that use of the material in the manner complained of is not
    authorized by the copyright owner, its agent, or the law; and
  </li>
  <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are
    authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
  </li>
</ul>
<p>Firehoze's designated Copyright Agent to receive notifications of claimed infringement can be contacted via email:
  <a href="javascript:location='mailto:\u0063\u006f\u0070\u0079\u0072\u0069\u0067\u0068\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u0063\u006f\u0070\u0079\u0072\u0069\u0067\u0068\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script></a>.
  For clarity, only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical
  support, and other communications should be directed to Firehoze customer service through
  <a href="http://www.firehoze.com/">www.firehoze.com</a> or
  <a href="javascript:location='mailto:\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0"><script type="text/javascript">document.write('\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script></a>.
  You acknowledge that if you fail to comply with all of the requirements of this Section 5(D), your DMCA notice may not
  be valid.</p>
<p>2. Counter-Notice. If you believe that your User Submission that was removed (or to which access was disabled) is not
  infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to
  the law, to post and use the content in your User Submission, you may send a counter-notice containing the following
  information to the Copyright Agent: </p>
<ul>
  <li>Your physical or electronic signature;</li>
  <li>Identification of the content that has been removed or to which access has been disabled and the location at which
    the content appeared before it was removed or disabled;
  </li>
  <li>A statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a
    misidentification of the content; and
  </li>
</ul>
<p>If a counter-notice is received by the Copyright Agent, Firehoze may send a copy of the counter-notice to the
  original complaining party informing that person that it may replace the removed content or cease disabling it in 10
  business days. Unless the copyright owner files an action seeking a court order against the content provider, member
  or user, the removed content may be replaced, or access to it restored, in 10 to 14 business days or more after
  receipt of the counter-notice, at Firehoze's sole discretion.</p>
