  <p>
    <em>[Instructor Agreement Placeholder]</em><br />
    Praesent tincidunt placerat eleifend. Mauris vehicula ullamcorper ante fermentum rhoncus. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Cras malesuada malesuada dictum. Etiam adipiscing condimentum
    purus, in bibendum arcu porta a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Duis magna diam, blandit egestas porta in, rhoncus a tellus. Nullam ut velit elit. Cras est nulla, rutrum vel feugiat
    tristique; volutpat vel mi. Proin nec nisi ut arcu pulvinar cursus. Suspendisse pellentesque bibendum neque et
    commodo. Nunc blandit fermentum venenatis. Nam nec laoreet nunc. Vestibulum quis dui vitae sem dapibus porttitor sit
    amet in eros.
  </p>
  <p>
    Nam posuere condimentum massa, sit amet venenatis est ornare eu. Pellentesque hendrerit, risus sit amet pretium
    tempus, massa nisi auctor enim, sed sollicitudin elit orci facilisis neque. Aliquam ullamcorper felis nec nisl tempus
    ac scelerisque ipsum posuere? Suspendisse ut nisi nec urna luctus elementum. Nam ac commodo ligula. Morbi quis lacus
    sed mauris posuere sodales. Ut pulvinar, sem facilisis porta accumsan, felis sapien sagittis turpis, vitae commodo
    urna lorem eget mi. Cras porta scelerisque auctor. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Vivamus vitae eros id quam dignissim pharetra. Sed laoreet, magna sed dictum commodo, purus
    tellus scelerisque urna, sed aliquam orci tortor ut leo!
  </p>
  <p>
    Ut feugiat elit a eros vestibulum semper. Morbi vehicula pretium turpis nec gravida. Aenean sodales ligula vitae
    turpis pellentesque congue iaculis libero auctor. Praesent ut lorem massa, eu tincidunt massa. Phasellus tempus auctor
    cursus. Nam mollis congue aliquet. Nulla sit amet nisl eget nunc malesuada luctus non vel odio. Sed eu sem lacus!
    Curabitur mattis metus id neque gravida malesuada. Praesent blandit lobortis purus, eget iaculis odio elementum sed.
    Praesent ut leo at erat pulvinar fermentum vel id tortor. Vivamus egestas adipiscing nulla, ut ultricies turpis
    posuere vel! Morbi consectetur est id erat euismod luctus. Etiam tempor egestas mi eget blandit. Cras velit ante,
    vestibulum aliquet mollis vel, convallis a libero. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Quisque in ullamcorper risus. Curabitur est metus, viverra vitae laoreet lobortis,
    sollicitudin vel leo.
  </p>
  <p>
    Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla rutrum
    dolor augue, ac mattis tortor. Etiam vulputate massa a orci congue pulvinar. Vivamus eget odio vitae augue vehicula
    malesuada. Vestibulum condimentum nunc ac dui sagittis ultricies. Praesent gravida accumsan tellus, quis tempor sapien
    suscipit eu. Donec faucibus arcu sed lorem blandit convallis euismod eros cursus. Nullam aliquet, nulla at vestibulum
    aliquet, risus felis condimentum ligula, et tincidunt tortor nunc ut turpis! Donec sagittis consectetur urna, vehicula
    semper turpis volutpat non. Maecenas iaculis magna in erat porttitor tempor. Ut vel ipsum libero. Ut magna risus,
    mattis ut laoreet ut, venenatis at risus. Proin malesuada mollis quam pulvinar consectetur. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
  <p>
    Proin eleifend, nunc rutrum euismod facilisis, odio turpis convallis diam, id semper est magna eget urna? Integer ante
    sapien, ultrices in convallis et, malesuada sit amet ipsum! Phasellus leo quam, vehicula in tempus vel, venenatis ac
    ante. Proin purus odio, convallis vel cursus et; blandit in erat. Suspendisse ornare tincidunt congue. Lorem ipsum
    dolor sit amet, consectetur adipiscing elit. Nunc adipiscing sapien imperdiet dolor placerat pulvinar consectetur quam
    aliquet? Vestibulum feugiat pharetra quam; a tincidunt leo luctus at. Proin eget leo non tellus rutrum hendrerit. Sed
    sed odio nisi. Nam vel posuere nisi. Nulla lorem mauris, ornare ut tincidunt in, tincidunt ut mi.
  </p>
  <p>
    Integer fringilla scelerisque eleifend. Ut placerat accumsan laoreet! Proin mattis vehicula elementum! Nulla lobortis
    velit dui
  </p>
<p>
  <%= link_to "Printer Friendly Version", instructor_agreement_accounts_path, :popup => true %>
</p>
