<div class="policies">
  <h3>Firehoze Instructor Agreement (Exclusive)</h3>
  <p>
    This Agreement governs the terms by which instructors, tutors or other persons provide lessons, instructional videos
    and other media content to members of the Firehoze.com community, on an <b>exclusive</b> basis through the web site
    located at <a href="http://www.Firehoze.com">www.firehoze.com</a> (the "Site"), and to other prospective purchasers
    through other distribution venues. This Instructor’s Agreement is in addition to the Terms of Use applicable to the
    Site and to the Membership Agreement that all persons providing content to or downloading and/or streaming content
    from the Site have previously entered into. In the event of any inconsistency between this Agreement, the Membership
    Agreement and the Terms of Use, the terms of this Agreement shall govern.
  </p>
  <ol>
    <li>Background of Agreement
      <ol>
        <li>Members that accept this Agreement, qualify for the exclusivity program of Firehoze Inc., ("Firehoze") whereby in
          return for increased compensation, instructors agree to provide exclusivity to Firehoze for lessons, instructional
          videos and other media content produced by them.
        </li>
        <li>This is a fairly lengthy document, and it contains many important provisions that affect your rights and
          obligations. By ticking the correct box at the end of this Agreement and typing "I agree", this becomes a binding
          legal agreement between any member intending to upload data or materials onto the Site on an exclusive basis for the
          relevant category of content (in this agreement referred to as "you" or the "Supplier") and Firehoze, operator of
          the
          Site. We encourage you to print a copy of the Agreement for your records.
        </li>
        <li>The Supplier wishes to appoint Firehoze as its exclusive agent to license, sublicense and distribute Exclusive
          Content (as defined below) produced by the Supplier on the terms and conditions set forth in this Agreement and
          Firehoze's form of Content License agreement, as such agreement may be amended from time to time or modified for
          certain clients consistent with the rights granted herein (the “Content License Agreement”), or any distribution
          partner license agreement provided that such agreement is consistent with rights granted to Firehoze herein.
        </li>
        <li>Upon accepting the terms of this Agreement, you may make Exclusive Content available to Firehoze by following the
          "Upload" procedures identified on the Site. Each upload of Exclusive Content will be governed by the terms and
          conditions of this Agreement.
        </li>
        <li>This Agreement remains in full force and effect until terminated in accordance with its terms. If at any time the
          terms and conditions of this Agreement are no longer acceptable to the Supplier, you must follow the termination
          procedures set forth below under "Term and Termination".
        </li>
      </ol>
    </li>

    <li>Provision of Exclusive Content
      <ol>
        <li>In this Agreement, "Exclusive Content" means, as applicable to Supplier, either or both of: (i) Static Content,
          Flash Content, Screen Capture Content, and (ii) Motion or Video Content; together in any case with (iii) descriptive
          and other information, documents relating to such Static Content, Flash Content, Screen Capture Content and Motion
          or
          Video Content, as the case may be (collectively, “Content”) or otherwise required to enable Firehoze to realize the
          commercial potential of the rights granted in the Content ("Descriptive Information"); but shall not include (1)
          Content that is produced as "work for hire" within the meaning of United States federal copyright legislation or is
          otherwise the result of a specific commission by a bona fide client of the Supplier evidenced by written agreement
          where the Content deliverable from such commission is for the personal use of the client and not for resale or
          license
          to any other person or entity, except to the extent Supplier retains in such Content any royalty free rights of the
          type outlined in the Content License Agreement; (2) Content that is "Rights Managed", which is defined as Content
          produced by the Supplier and licensed for a fee that is based on one or more limited uses and for which usage
          history
          is tracked; (3) Content that is of a category not currently offered for sale by Firehoze (such as stand alone audio
          files); or (4) other Content specifically designated by the Supplier and agreed by Firehoze as being non-exclusive
          Content.
        </li>
        <li>The Supplier will provide Exclusive Content to Firehoze using the Upload procedures and policies of the Site or
          such
          other procedures and policies as the parties may mutually agree. Firehoze, in its sole discretion, may determine
          which
          of such Exclusive Content is suitable for posting on the Site or other means of distribution, and only such
          Exclusive
          Content as it deems suitable will be considered "Accepted Exclusive Content" for the purposes of applicable
          provisions
          of this Agreement.
        </li>
        <li>In addition to the terms of this Agreement, the parties acknowledge that Firehoze's exclusivity program and the
          provision of all Exclusive Content are subject to the policies and procedures outlined in the relevant portions of
          the
          Site, the terms of which are incorporated by reference into this Agreement. Any breach of the rules relating to the
          exclusivity program and acceptable Exclusive Content outlined in the Site will be deemed to be a breach of this
          Agreement.
        </li>
      </ol>


    <li>Grant of Authority
      <ol>
        <li>The Supplier hereby appoints Firehoze as Supplier's exclusive agent and sole distributor to sell, license or
          sublicense Exclusive Content to third parties within the jurisdictions of Firehoze's business, and to collect and
          remit funds in connection with those endeavours on the terms set forth in this Agreement. For all Exclusive Content,
          Supplier grants Firehoze:
          <ol>
            <li>The exclusive right and license to use, reproduce, distribute, redistribute, sublicense, publish, republish,
              upload,
              post, transmit, transcode, crop, package, repackage and sell products, or publicly perform or display the
              Exclusive
              Content to prospective purchasers and licensees: (i) through the Site; (ii) through other venues owned or operated
              by
              Firehoze or its affiliates from time to time, and(iii) through third party distributors and alliance or channel
              partners of Firehoze, and
            </li>
            <li>The right to grant perpetual, world-wide, non-exclusive and non-transferable licenses or sub-licenses to
              end-users
              in accordance with the terms of the Content License Agreement as such agreement may be amended from time to time
              or
              modified for certain clients consistent with the rights granted herein or any distribution partner license
              agreement
              provided that such agreement is consistent with rights granted to Firehoze herein.
            </li>
          </ol>
        </li>

        <li>Firehoze and its distribution partners may post, reproduce, modify, display, make derivative works or otherwise
          use
          any Exclusive Content for their own business purposes relating to the promotion of the Site, the Exclusive Content
          and
          their distribution programs, and expand the market for the sale or licensing of Exclusive Content (including,
          without
          limitation, the use of the Exclusive Content and the Supplier's registered and unregistered trademarks for
          marketing,
          sales and promotional efforts whether on the Site or through third parties). The Supplier agrees that Firehoze shall
          have exclusive rights to design marketing literature for the Exclusive Content, at its own expense, and the Supplier
          agrees to cooperate in that regard. No compensation shall be due to the Supplier for use of Exclusive Content for
          such
          business purposes.
        </li>
        <li>The Parties agree that all rights, including title and copyright, in and to the Exclusive Content will be retained
          by the Supplier, and no title or copyright is transferred or granted in any way to Firehoze or any third party
          except
          as provided in this Agreement and license agreements which Firehoze is authorized to enter into on the Supplier's
          behalf.
        </li>
      </ol>
    </li>

    <li>Intellectual Property Matters

      <ol>
        <li>The Supplier acknowledges that Firehoze prohibits any Exclusive Content, Descriptive Information or any other
          material that infringes on any patent, trademark, copyright, trade secret, right to privacy, right to publicity, or
          any other applicable law or proprietary right to be uploaded to the Site.
        </li>
        <li>By uploading Exclusive Content, you are warranting that you own all proprietary rights, including copyright, in
          and
          to the Exclusive Content with full power to grant the rights contemplated to be provided in the Content License
          Agreement or distribution partner license agreements in such Exclusive Content, and that you are not making any of
          the
          Exclusive Content available to or through any other distributor, website or other marketing, distribution, sale or
          licensing venue of any kind not specifically permitted herein. In addition, to the extent that the Exclusive Content
          contains images of people or persons, you represent and warrant that you have obtained as part of the Descriptive
          Information a valid and binding model release from all required parties in substantially the same form as a [model
          release] that will permit the uses for such Exclusive Content contemplated in this Agreement and the Content License
          Agreement. You also warrant that where required by applicable law, you have also obtained a valid and binding
          release
          in substantially the same form as a [property release] relating to identifiable property contained in the Exclusive
          Content that might sensibly lead to the identity of or be required by the owner of such property to permit the uses
          under the Content License Agreement.
        </li>
        <li>The Supplier agrees that neither Firehoze nor any of its directors, officers, employees, partners, affiliates or
          agents shall be liable for any damages, whether direct, indirect, consequential or incidental, arising out of the
          use
          of, or the inability to use any Exclusive Content or Descriptive Information, or any error, omission or other matter
          relating to a model or property release respecting Exclusive Content or Descriptive Information.
        </li>
      </ol>
    </li>

    <li>Compensation
      <ol>
        <li>Firehoze agrees to pay a portion of the fees collected in respect of Accepted Exclusive Content that is purchased
          by
          end-users according to the rate schedule for Content, as the case may be, set forth on Appendix "A" to this
          Agreement
          (the "Rate Schedule") and the license or sale of Exclusive Content recorded by Firehoze. The parties acknowledge
          that
          the Rate Schedule is subject to change in the sole discretion of Firehoze in the ordinary course of its business
          without notice by posting such changes on the Site. If at any time the Rate Schedule is not acceptable to the
          Supplier, you may refrain from providing additional Exclusive Content or terminate this Agreement in accordance with
          its terms.
        </li>
        <li>In response to a written request, Firehoze will endeavor to make payment of fees in respect of purchased Accepted
          Exclusive Content on a monthly basis on or about the 20th day of the month following the purchase of Accepted
          Exclusive Content, except when sales reporting from a distribution partner is delayed, in which case payments will
          be
          made in the month following the date such sale is reported, provided such fees aggregate a minimum of US$50, failing
          which fees owing will be retained until they exceed such minimum. In all cases, payment of fees to the Supplier will
          be net of: (i) applicable taxes or other withholdings required by applicable law; (ii) bad debts or other
          uncollectible sums; (iii) where purchases or licenses are by other than the credit system, fees payable to financial
          institutions for the processing of any credit card, debit card, e-cheque, paypal or alternative payment method; (iv)
          returns and refunds; (v) legal and other reasonable fees incurred in enforcing this Agreement or the agreements
          contemplated herein; and (vi) any amounts owing by the Supplier to Firehoze under this Agreement or otherwise.
        </li>
        <li>Without limiting the generality of the foregoing, Firehoze is entitled to set-off against any amount owing to
          Supplier, all amounts to which Firehoze is or may be entitled under this Agreement or otherwise at law, including
          withholding amounts as security for any pending or threatened claim relating to any matter which is the subject of a
          representation, warranty or indemnity of Supplier under this Agreement.
        </li>
        <li>The parties further agree that Firehoze shall not be required to pay royalties or fees to the Supplier if Firehoze
          is restrained or otherwise prevented from using rights granted under this Agreement relating to Exclusive Content
          because those rights are found to be an infringement or contravention of the intellectual or other property rights
          of
          a third party, or if Firehoze discovers or determines in its reasonable discretion that the Exclusive Content
          provided
          by the Supplier appears for sale or license or give-away elsewhere in contravention of this Agreement
        </li>
        <li>In the event Firehoze facilitates a sale or license of Exclusive Content that requires an amendment to the
          standard
          Content License Agreement to facilitate such transaction, Firehoze shall be entitled to deduct a reasonable
          administration fee relating to such sale or license, in addition to its share of the revenue relating to such sale.
        </li>
      </ol>
    </li>

    <li>Passwords
      <ol>
        <li>You acknowledge and agree that you will be responsible for each and every access or use of the Upload portions of
          the
          Site that occurs in conjunction with your Member Name and such passwords, and that Firehoze is authorized to accept
          your Member Name and password as conclusive evidence that you wish to upload Exclusive Content pursuant to this
          Agreement. Firehoze shall have no liability or responsibility to monitor the provision of Exclusive Content under
          your
          member name and password.
        </li>
      </ol>
    </li>

    <li>Managing Exclusive Content
      <ol>
        <li>Firehoze has policies and processes which must be adhered to prior to Content being posted on the Site or
          otherwise being offered for sale or license, and Firehoze agrees to give priority to the posting of Exclusive
          Content within
          the general constraints of its business. Notwithstanding that some qualitative standards are required to be met,
          Firehoze does not and cannot review all Exclusive Content or Descriptive Information uploaded to the Site and is not
          responsible for the content, quality, or consequences of your uploading such Exclusive Content or Descriptive
          Information. Notwithstanding the foregoing, Firehoze reserves the right to delete, move, refuse to accept or edit
          any
          communication or Exclusive Content that it may determine, in its sole discretion, violates or may violate this
          Agreement, the intellectual or proprietary rights of others, any of its policies or is otherwise unacceptable in its
          discretion, and you hereby agree to forfeit any fees payable in respect of such Content to Firehoze or as it may
          direct. Firehoze shall have the right but not the obligation to correct any errors or omissions in any Exclusive
          Content or Descriptive Information, as it may determine in its sole discretion. You acknowledge that any screening
          of
          Exclusive Content or Descriptive Information performed by Firehoze to determine Accepted Exclusive Content is done
          as
          a courtesy only.
        </li>
        <li>You further agree that any Exclusive Content that is not accepted by Firehoze and does not form Accepted Exclusive
          Content cannot be sold, licensed or otherwise made available to purchasers, licensees or other potential users
          without
          the prior written consent of Firehoze. Firehoze reserves the right to sell non-accepted Exclusive Content through
          another site or distribution venue determined by it, the compensation for which will be subject to a new rate
          schedule
          agreed between the parties.
          <br/>
          NOTICE: You acknowledge that the Exclusive Content you provide pursuant to this Agreement that becomes Accepted
          Exclusive Content may be purchased or licensed by members of the Site or distribution partner sites with the
          intention
          that they will adhere to the terms of the Content License Agreement or any distribution partner license agreement.
          Where Firehoze becomes aware of the breach of a license agreement by a user of Exclusive Content, it agrees that it
          will take initial steps in accordance with its usual business practices for the exclusivity program to request that
          the offending party refrain from its prohibited use of such Exclusive Content. Firehoze will use commercial efforts
          to
          further assist in the protection of your intellectual property rights, at your request and expense.
        </li>
        <li>Notwithstanding the foregoing, given the exigencies of the educational videos, educational information, and other
          content and the prevalence of royalty-free content, Firehoze cannot take responsibility for the compliance by
          purchasers and licensees of the terms of such agreements. Accordingly, you acknowledge and agree to the possibility
          of
          Exclusive Content being used in a manner that is not contemplated in this Agreement or the Content License Agreement
          or any distribution partner license agreement, and you agree that notwithstanding any rights you may have to pursue
          the licensees of such Exclusive Content at law, Firehoze shall have no liability to you or any person claiming
          through
          you for any breach by a licensee of the terms of any agreement respecting Accepted Exclusive Content.
        </li>
      </ol>
    </li>

    <li>Confidential Information
      <ol>
        <li>The Supplier acknowledges that the Confidential Information (defined below) which it obtains through the entering
          into of this Agreement, the use of the Site and the provision of Exclusive Content constitutes valuable,
          confidential,
          proprietary information of Firehoze and its licensors, and agrees that during the term of this Agreement and
          thereafter it shall not, without the express written consent of Firehoze, use or disclose to any other person any
          such
          Confidential Information, except as specifically authorized under this Agreement.
        </li>
        <li>For the purposes of this Agreement, "Confidential Information" means any and all data, information, documents,
          software or materials relating to the business and management of Firehoze, its members, affiliates, licensors or
          licensees, that is designated as confidential or ought reasonably to be considered confidential, including but not
          limited to: their business model and operations, processes, products, designs, pricing, promotions, business plans,
          business opportunities, alliances, Content, graphics, documentation, finances, research, development, know-how,
          trade-secrets, training materials, personnel, identities or personal information of any kind pertaining to members,
          clients, methodologies, Site content belonging to others and other intellectual property.
        </li>
      </ol>
    </li>

    <li>Representations and Warranties
      <ol>
        <li>The Supplier hereby represents and warrants as follows:
          <ol>
            <li>The Supplier has the legal capacity and authority to enter into this Agreement, is the sole and exclusive owner
              of
              the Exclusive Content, has the right to grant all of the license rights contemplated to be provided under this
              Agreement, and has not granted any rights or licenses to any Exclusive Content or any other intellectual property
              or
              technology that would conflict with this Agreement;
            </li>
            <li>no portion of the Content as delivered to Firehoze from time to time, contains any disabling mechanism or
              protection
              feature designed to prevent its use, copying or enjoyment in the manner contemplated in this Agreement, and all
              Content will be free of any virus, worm, lock, or other mechanism or device that may be used to modify, delete,
              damage
              or disable the Site or the Content or any other hardware or computer system, or which would otherwise render
              inaccessible or impair the use of the Content or the Site in any way;
            </li>
            <li>the Content will include all necessary Descriptive Information to enable its effective marketing on the Site,
              which
              Descriptive Information will be complete and accurate in all material respects, and will not include false,
              misleading
              or inapplicable metadata intended to or which has the effect of keyword “doping” or improperly altering search
              results
              that would otherwise be applicable to such Content; and
            </li>
            <li>the Content delivered to Firehoze hereunder represents original creations and expressions of subject matter, and
              no
              Content or Descriptive Information infringes any copyright, trademark, right of privacy or right of publicity or
              other
              proprietary right of any third party, or defames or casts into disrepute in any manner any third party.
            </li>
          </ol>
        </li>
        <li>You represent and warrant that you shall not: (i) license your own Exclusive Content (except occasionally and then
          only for legitimate creative purposes); or (ii) predominately license the content of only a few contributors. You
          agree that you will not collude with another Firehoze member to have that member do either of (i) or (ii) above for
          your benefit. You acknowledge that genuine subscription customers typically license files from many contributors and
          you agree that your subscription licensing behavior will conform to this typical conduct. In addition to any other
          available remedies, if you breach this paragraph Firehoze may immediately terminate this Agreement and/or, if
          applicable, cancel your subscription package without any refund to you. You further agree to forfeit any royalties
          earned by you in connection with your misconduct.
        </li>
      </ol>
    </li>

    <li>Indemnity
      <ol>
        <li>You agree to indemnify, defend and hold Firehoze and its affiliates, and their respective directors, officers,
          employees, shareholders, agents and licensees of Exclusive Content (collectively, the "Firehoze Parties") harmless
          from and against any and all claims, liability, losses, costs and expenses (including reasonable legal fees on a
          solicitor and client basis) incurred by any Firehoze Party as a result of or in connection with: (i) any use or
          alleged use of the Site or provision of Content under your Member Name by any person, whether or not authorized by
          you; (ii) or resulting from any communication made or Content uploaded under your Member Name; (iii) any breach by
          you
          of this Agreement; or (iv) any claim threatened or asserted against any Firehoze Party to the extent such claim is
          based upon a contention that any of the Exclusive Content used within the scope of this Agreement infringes any
          copyrights, trade secrets, trademarks, right of privacy, right of publicity or other intellectual or other property
          rights of any third party.
        </li>
        <li>Firehoze reserves the right, at your expense, to assume the exclusive defense and control of any matter otherwise
          subject to indemnification by you, and in such case, you agree to cooperate with Firehoze's defense of such claim.
        </li>
        <li>The Supplier agrees that Firehoze shall have the right to determine whether and to what extent to proceed against
          a
          licensee or other third party (an "Infringer") for any violation of the Content License Agreement, other license
          agreement or alleged infringement of other rights of the Supplier. The Supplier hereby releases Firehoze from any
          and
          all claims the Supplier might have, either directly or indirectly, arising out of or in connection with a
          determination by Firehoze to proceed or not to proceed against any Infringer in any instance. Firehoze hereby agrees
          that any monetary recovery it receives as a result of any legal or enforcement action taken against any such
          Infringer, to the extent such monies are intended to compensate Firehoze for lost licensing fees or statutory
          damages,
          shall, after deduction of all costs and expenses incurred in gaining such recovery ( including, without limitation,
          reasonable counsel and experts' fees and disbursements on a solicitor and client basis) incurred by or on behalf of
          Firehoze in connection with such action, be divided between the Supplier and Firehoze pursuant to the provisions of
          the Compensation section above. In the event Firehoze elects not to proceed against an Infringer, the Supplier shall
          have the right to proceed against such Infringer for such license violation or infringing action. The Supplier
          hereby
          agrees that any monetary recovery it receives as a result of any legal action taken against any such Infringer, to
          the
          extent such monies are intended to compensate the Supplier for lost licensing fees or include statutory damages,
          shall, after deduction of all costs and expenses incurred in gaining such recovery (including, without limitation,
          reasonable counsel and experts' fees and disbursements on a solicitor and client basis), be divided between the
          Supplier and Firehoze pursuant to the provisions of the Compensation section above.
        </li>
      </ol>
    </li>

    <li>Term and Termination
      <ol>
        <li>This Agreement is effective until terminated. You may terminate this Agreement with respect to Static and Flash
          Content and Video Content, or both, at any time by giving thirty (30) days written notice specifying the category or
          categories of Exclusive Content to which termination applies to Firehoze using [help@Firehoze.com] or such other
          means
          of written notice acceptable to Firehoze which enables confirmation of your identity and your intention to
          terminate.
          Firehoze may also terminate this Agreement with respect to Static and Flash Content, Screen Capture Content and
          Video
          Content, or a combination thereof, for any reason by giving you thirty (30) days notice by e-mail at the last
          address
          contained in your membership information. If Firehoze terminates your membership pursuant to the terms of the
          Membership Agreement, such termination shall be deemed to be notice of termination of this Agreement with respect to
          all Content, as well.
        </li>
        <li>Either party may terminate this Agreement upon written notice effective upon being sent to the last address
          included
          on the Site, if the other party (i) liquidates all or substantially all of its assets, dissolves as a corporation
          other than through inadvertence, or otherwise ceases to do business in a material way, or (ii) makes an assignment
          for
          the benefit of creditors, or (iii) files a petition in bankruptcy, petitions or applies for a receiver or trustee
          for
          all or any substantial part of its property and such receiver or trustee is appointed, or commences, or has
          commenced
          against it, a proceeding under any bankruptcy, reorganization, readjustment of debt, dissolution, or liquidation law
          or statute of any jurisdiction, any of which shall remain in force for a period of thirty (30) days or more, or (iv)
          is adjudicated insolvent or bankrupt, or (v) is in breach of this Agreement.
        </li>
        <li>In addition, Firehoze may deem an account to be terminated and may off-set any fees or credits contained in such
          account against its costs of administration if there has been: (i) in the reasonable opinion of Firehoze, any
          material
          misrepresentation made as to the capacity, identity or copyright ownership of Content or the Supplier provided
          hereunder; or (ii) no log-in or other activity in the account for 24 months despite reasonable commercial efforts to
          contact Supplier based on the information provided through the Site as part of the account profile of such Supplier.
        </li>
      </ol>
    </li>

    <li>Effect of Termination
      <ol>
        <li>Upon the termination of this Agreement with respect to Static and Flash Content and Video Content, or both, the
          grant of authority given to Firehoze shall cease with respect to the relevant category of Content subject to the
          following conditions: (i) Firehoze shall remove the applicable Accepted Exclusive Content from the Site and
          distribution partners within thirty (30) days of the termination of this Agreement; (ii) notwithstanding
          termination,
          Firehoze and its distribution partners shall have the right to continue licensing Accepted Exclusive Content until
          it
          is removed from the Site or other sites where Accepted Exclusive Content is distributed and for up to (1) year
          following termination where such Accepted Content has previously appeared in Firehoze's promotional materials, CD
          programs or distribution partner marketing programs; and (iii) regardless of the expiration or termination of this
          Agreement, Firehoze will continue, in accordance with this Agreement, to pay compensation due to the Supplier at the
          non-exclusive royalty rate of 20% in respect of licenses granted to members during any transitional period, subject
          to
          any rights of set-off under this Agreement or at law.
        </li>
        <li>Upon termination, Firehoze will be entitled to retain all amounts owing to the Supplier for a period of thirty
          (30)
          days to determine any applicable rights of set-off, and shall be entitled to deduct from such amounts, a reasonable
          administrative fee for establishing, managing and terminating your account.
        </li>
        <li>Notwithstanding any other provision in this Agreement, the termination or expiration of this Agreement with
          respect
          to one category of Content shall not alter or reduce the obligations of the Supplier and Firehoze respecting any
          remaining category of Content, and in any event, shall not alter or affect the rights granted to licensees or
          sub-licensees by Firehoze pursuant to this Agreement.
        </li>
        <li>In the event Supplier terminates this Agreement with respect to Static and Flash Content and Video Content, or
          both,
          and subsequently wishes to re-enter the exclusivity program and provide Exclusive Content, the Supplier may re-apply
          with respect to that category of Content ninety (90) days after the termination date of the original Instructor’s
          Agreement (Exclusive) relating to such category of Content.
        </li>
        <li>Termination of this Agreement shall operate without prejudice to the Firehoze's rights, defenses and limitations
          of
          liability provided under this Agreement, the Membership Agreement or the Terms of Use, which rights, defenses and
          limitations of liability shall survive termination of this Agreement. In addition, the provisions of this Agreement
          relating to: Managing Exclusive Content, Confidential Information, Representations and Warranties, Indemnity,
          Disclaimer of Warranties and all limitations of liability, shall survive termination of this Agreement and continue
          in
          full force and effect.
        </li>
      </ol>
    </li>

    <li>DISCLAIMER OF WARRANTIES
      <ol>
        <li>THE SITE, INCLUDING ANY CONTENT CONTAINED THEREIN, ARE PROVIDED BY FIREHOZE "AS IS" WITHOUT REPRESENTATION,
          WARRANTY
          OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED REPRESENTATIONS,
          WARRANTIES OR CONDITIONS OF MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. FIREHOZE DOES NOT REPRESENT OR
          WARRANT THAT THE SITE OR THE CONTENT WILL BE MADE AVAILABLE FOR SALE OR LICENSE OR THAT THEIR USE WILL BE
          UNINTERRUPTED OR ERROR FREE.
        </li>
        <li>FIREHOZE DOES NOT REPRESENT OR WARRANT THAT THE SITE OR ANY CONTENT AVAILABLE FOR DOWNLOADING THROUGH THE SITE
          WILL
          BE FREE OF VIRUSES OR SIMILAR CONTAMINATION OR DESTRUCTIVE FEATURES.
        </li>
      </ol>
    </li>

    <li>LIMITATION OF LIABILITY
      <ol>
        <li>YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THE SITE INCLUDING WITHOUT LIMITATION ANY OF THE CONTENT OR
          INFORMATION CONTAINED THEREIN.
        </li>
        <li>IN NO EVENT SHALL FIREHOZE OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, PARTNERS, AGENTS OR
          LICENSEES
          BE LIABLE FOR ANY INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING DAMAGES
          FOR LOSS OF PROFITS, INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) IN CONNECTION WITH ANY
          CLAIM, LOSS, DAMAGE, ACTION, SUIT OR OTHER PROCEEDING ARISING UNDER OR OUT OF THIS AGREEMENT, INCLUDING WITHOUT
          LIMITATION THE USE OF, RELIANCE UPON, ACCESS TO, OR EXPLOITATION OF THE SITE, THE CONTENT OR ANY PART THEREOF, OR
          ANY
          RIGHTS GRANTED TO YOU HEREUNDER, EVEN IF FIREHOZE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER THE
          ACTION IS BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS OR OTHERWISE.
        </li>
        <li>IN ANY EVENT, FIREHOZE'S TOTAL MAXIMUM AGGREGATE LIABILITY UNDER THIS AGREEMENT OR IN RESPECT OF THE USE OR
          EXPLOITATION OF ANY OR ALL PART OF THE SITE OR THE CONTENT IN ANY MANNER WHATSOEVER SHALL BE LIMITED TO THE FEES
          COLLECTED BY FIREHOZE FOR THE EXCLUSIVE CONTENT THAT IS THE SUBJECT MATTER OF THE CLAIM, BUT IN ANY EVENT WILL NOT
          EXCEED ONE THOUSAND ($1,000.00) UNITED STATES DOLLARS.
        </li>
        <li>SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL
          DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH JURISDICTIONS, THE LIABILITY OF FIREHOZE
          OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, PARTNERS, AGENTS OR LICENSEES SHALL BE LIMITED TO THE
          GREATEST EXTENT PERMITTED BY LAW.
        </li>
      </ol>
    </li>

    <li>Applicable law
      <ol>
        <li>The Site is controlled, operated and administered by Firehoze a Massachusetts, United States based corporation.
          The
          Site can be accessed from all States in the United States, as well as from other countries around the world. As each
          of these jurisdictions has laws that may differ from those of the Massachusetts, by accessing the Site, you
          acknowledge and agree that this Membership Agreement will be governed under the laws of the Commonwealth of
          Massachusetts and the federal laws of the United States of America applicable therein (without reference to
          conflicts
          of laws principles). You hereby irrevocably submit to the exclusive jurisdiction of the Courts of the Commonwealth
          of
          Massachusetts with respect to the subject matter of this Membership Agreement. This Membership Agreement will not be
          governed by the United Nations Convention on Contracts for the International Sale of Goods, the application of which
          is expressly excluded.
        </li>
        <li>You consent to service of any required notice or process upon you by registered mail or overnight courier with
          proof
          of delivery notice, addressed to the address or contact information provided by you at the time you are first
          granted
          access to the membership portions of the Site. You agree to waive any right you may have to (i) trial by jury; and
          (ii) to commence or participate in any class action against Firehoze related to the Site, this Agreement or any
          agreements contemplated hereby.
        </li>
        <li>If Firehoze is obligated to go to court or arbitration to enforce any of its rights, or to collect any fees, you
          agree to reimburse Firehoze for its legal fees, costs and disbursements if Firehoze is successful.
        </li>
      </ol>
    </li>

    <li>General
      <ol>
        <li>You specifically agree and acknowledge that you have, in addition to the terms of this Agreement, reviewed the
          terms
          of the Membership Agreement and Terms of Use and any other agreements which may be incorporated by reference
          therein,
          and to the extent of their incorporation in this Agreement you agree to be bound by them.
        </li>
        <li>Firehoze's failure to insist upon or enforce strict performance of any provision of this Agreement shall not be
          construed as a waiver of any provision or right.
        </li>
        <li>This Agreement is personal to you and is binding upon your heirs, executors and legal representatives, as the case
          may be, and is not assignable by you without Firehoze's prior written consent. Firehoze may assign this Agreement
          without your consent to any other party so long as such party agrees to be bound by its terms.
        </li>
        <li>If all or part of any provision of this Agreement is wholly or partially unenforceable, the parties or, in the
          event
          the parties are unable to agree, a court of competent jurisdiction, shall put in place of such whole or part
          provision
          an enforceable provision or provisions, that as nearly as possible reflects the terms of the unenforceable whole or
          part provision.
        </li>
        <li>This Agreement can be amended by the written agreement of the parties or by Firehoze posting amendments on the
          Upload portion of the Site. Continued provision of Exclusive Content or failure to terminate this Agreement within
          thirty (30) days of posting of such amendment will be deemed to be acceptance of the amendment by the Supplier and
          it
          will be incorporated by reference into this Agreement.
        </li>
        <li>The parties have requested that this Agreement and all related documents be drawn up in English. Les parties ont
          demand que cette convention ainsi que tous les documents qui s'y rattachent soient en anglais.
        </li>
      </ol>
    </li>

    <li>Contact

      <blockquote>
        If you have concerns relating to this Agreement, please contact Firehoze at
        <a href="javascript:location='mailto:\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d';void 0">
          <script type="text/javascript">document.write('\u0073\u0075\u0070\u0070\u006f\u0072\u0074\u0040\u0066\u0069\u0072\u0065\u0068\u006f\u007a\u0065\u002e\u0063\u006f\u006d')</script>
        </a>.
      </blockquote>
    </li>

    <li>Acknowledgement

      <blockquote>
        YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND HAD AN OPPORTUNITY TO SEEK INDEPENDENT LEGAL
        ADVICE PRIOR TO AGREEING TO IT. IN CONSIDERATION OF FIREHOZE AGREEING TO PROVIDE A MEANS FOR THE SALE OR LICENSE OF
        YOUR EXCLUSIVE CONTENT, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT. YOU FURTHER AGREE THAT
        IT IS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN YOU AND FIREHOZE, WHICH SUPERSEDES ANY PROPOSAL OR
        PRIOR AGREEMENT, ORAL OR WRITTEN, AND ANY OTHER COMMUNICATION BETWEEN YOU AND FIREHOZE RELATING TO THE SUBJECT OF
        THIS AGREEMENT.
      </blockquote>
    </li>
  </ol>


  <h3>Appendix A</h3>

  <h4>Firehoze Rate Schedule</h4>


  <p>The rate schedule is used to provide examples of how much instructors will be paid. The table below includes payment
    with and without discounts. We round down to the nearest whole cent.</p>

  <p>In these scenarios, assume are earning 50% commission.</p>
  <p>For example, if you are an instructor and a user buys your lesson for 99 cents, you will earn 49 cents.</p>
  <p>If two users buy your lesson for 99 cents each, you will earn 49 + 49 = 98 cents.</p>
  <p>If a user uses a free download credit to watch your lesson, you will earn 0 cents.</p>
  <p>If a user received a 10% discount based upon a volume purchase of credits, and thus their price per credit was 99
    cents less 10%, or 89.1 cents. If they purchase your lesson, you will earn 44.55 cents, rounded down, you will earn 44
    cents.</p>
  <p>The table below is for illustration purposes as the discounts for credits may vary.</p>
  <table>
    <tr>
      <th>Discount</th>
      <th>Credit(s)</th>
      <th>Price</th>
      <th>Payment</th>
    </tr>
    <tr>
      <td>0%</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <td>0%</td>
      <td>1</td>
      <td>0.99</td>
      <td>0.49</td>
    </tr>
    <tr>
      <td>0%</td>
      <td>2</td>
      <td>1.98</td>
      <td>0.98</td>
    </tr>
    <tr>
      <td>0%</td>
      <td>3</td>
      <td>2.97</td>
      <td>1.47</td>
    </tr>
    <tr>
      <td>0%</td>
      <td>4</td>
      <td>3.96</td>
      <td>1.96</td>
    </tr>
    <tr>
      <td>0%</td>
      <td>5</td>
      <td>4.95</td>
      <td>2.45</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>1</td>
      <td>0.89</td>
      <td>0.44</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>2</td>
      <td>1.78</td>
      <td>0.88</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>3</td>
      <td>2.67</td>
      <td>1.32</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>4</td>
      <td>3.56</td>
      <td>1.76</td>
    </tr>
    <tr>
      <td>10%</td>
      <td>5</td>
      <td>4.46</td>
      <td>2.20</td>
    </tr>
  </table>
</div>