<h3>Firehoze Privacy Policy</h3>
<p>
  <i>Updated as of September 14, 2009</i>
</p>
<p>
  The Firehoze Privacy Policy describes how Firehoze treats personal information when you use Firehoze services,
  including information provided when you use the Firehoze site.
</p>

<h4>Personal Information</h4>
<strong>Browsing Firehoze</strong>
<p>
  You can view lesson descriptions and notes, and watch brief previews of lesson videos on Firehoze without having a
  Firehoze Account. You also can contact us through the Firehoze Help Center or by emailing us directly without having
</p>

<strong>Your Firehoze Account</strong>
<p>
  For some activities on Firehoze web site, like uploading videos, posting comments, flagging
  videos, or watching full length videos videos, you need a Firehoze Account. We ask for some personal information when you
  create an account, including your email address and a password, which is used to protect your account from
  unauthorized access. A Firehoze Account, additionally, allows you to access other Firehoze services that require
  registration.
</p>

<strong>Usage Information</strong>
<p>
  When you use Firehoze, we may record information about your usage of the site, such as the
  tutors, groups and favorites you subscribe to, other users with whom you communicate, the videos you watch, the
  frequency and size of data transfers, and information you display about yourself as well as information you click
  on in Firehoze (including UI elements, settings). If you are logged in, we may associate that information with
  your Firehoze Account. In order to ensure the quality of our service to you, we may place a tag (also called a
  "web beacon") in HTML-based customer support emails or other communications with you in order to confirm delivery.
</p>

<h4>Uses</h4>
<ul>
  <li>
    If you submit personal information to Firehoze, we may use that information to operate, maintain, and improve the
    features and functionality of Firehoze, and to process any flagging activity or other communication you send to us.
  </li>
  <li>
    We do not use your email address or other personal information to send commercial or marketing messages without your
    consent. We may use your email address without further consent for non-marketing or administrative purposes (such as
    notifying you of major Firehoze changes or for customer service purposes).
  </li>
  <li>
    We use cookies, web beacons, log file information and other data to: (a) store information so that you will not have
    to re-enter it during your visit or the next time you visit Firehoze; (b) provide custom, personalized content and
    information; (c) monitor the effectiveness of our marketing campaigns; (d) monitor aggregate metrics such as total
    number of visitors and pages viewed; and (e) track your entries, submissions, and status in promotions, sweepstakes,
    and contests.
  </li>
</ul>

<h4>Information That is Publicly Available</h4>
<ul>
  <li>
    When you create a Firehoze Account, some information about your Firehoze Account and your account activity will be
    provided to other users of Firehoze. This may include the date you opened your Firehoze Account, the date you last
    logged into your Firehoze Account, your age (if you choose to make it public), the country and the videos
    you have watched, ranked, reviewed or purchased.
  </li>
  <li>
    Your Firehoze Account name, not your email address, is displayed to other users when you engage in certain
    activities on Firehoze, such as when you upload videos or send messages through Firehoze. Other users can contact
    you by leaving a message or comment on the site.
  </li>
  <li>
    Any videos that you submit to Firehoze may be redistributed through the internet and other media channels, and may
    be viewed by other Firehoze users or the general public.
  </li>
  <li>
    You may also choose to add personal information which may include your name, gender, profile picture or avatar or other
    details, that will be visible to other users and associated with your uploaded videos. If you choose to add certain
    features to your Firehoze Account Settings page, then these features and your activity associated with these
    features will be displayed to other users and may be aggregated and shared with your friends or other users. Such
    shared activity may include your favorite videos, videos you rated and videos that you have purchased, viewed or
    uploaded.
  </li>
</ul>

<h4>Your Choices</h4>
<ul>
  <li>
    If you have a Firehoze Account, you may update or correct your personal profile information, email preferences and
    privacy settings at any time by visiting your account profile page.
  </li>
  <li>
    You may control the information that is available to other users and your confirmed friends at any time by editing
    your Firehoze Account and the features that are included on your account settings page.
  </li>
  <li>
    You may, of course, decline to submit personal information through Firehoze, in which case you can still view
    videos and explore Firehoze, but Firehoze may not be able to provide certain services to you. Some advanced
    Firehoze features may use other Firehoze services like GetSatisfaction or PayPal. The privacy notices of those
    services govern the use of your personal information associated with them.
  </li>
</ul>

<p><%= link_to "Printer Friendly Version", page_path('privacy'), :popup => true, :class => :printer_friendly_link %></p>
