<h3>Firehoze Terms of Use</h3>
<p>
  <b>This agreement governs your use of the Firehoze website. To learn about usage rights for our royalty-free content,
    please read our Content License Agreement.</b>
</p>
<p>
  This Web site is owned and operated by Firehoze Inc., (“Firehoze”). Access and use of this Web site is provided by
  Firehoze to you on condition that you accept these Terms of Use, and by accessing or using this Web site, you agree to
  these Terms of Use. If you do not agree to accept and abide by these Terms of Use you should not access or use this
  Web site.
</p>
<p>
  Firehoze may revise and update these Terms of Use at anytime and without notice. You are cautioned to review the Terms
  of Use posted on the Web site periodically. Your continued access or use of this Web site after any such changes are
  posted will constitute your acceptance of these changes.
</p>
<p>
  You may not interfere with the security of, or otherwise abuse this Web site or any system resources, services or
  networks connected to or accessible through this Web site. You may only use this Web site for lawful purposes.
</p>
<h4>Intellectual Property</h4>
<p>
  All materials (including the organization and presentation of such material) on this Web site (the “Materials”) are
  the property of Firehoze and its licensors and may be protected by intellectual property laws including laws relating
  to copyrights, trade-marks, trade-names, internet domain names, and other similar rights.
</p>
<p>
  Unless you have entered into a separate agreement with Firehoze, such as a Royalty Free License Agreement, any other
  use of these Materials without Firehoze's written permission is prohibited.
</p>
<p>
  The Materials may only be used and copied for your own, non-commercial, personal or educational purposes, provided
  that the Materials are not modified and that copyright and other intellectual property notices are not deleted. You
  may not create derivative works from or otherwise exploit the Materials in any way.
</p>
<p>
  © 2009 Firehoze Inc., All rights reserved.
</p>
<h4>Privacy</h4>
<p>
  Firehoze is committed to respecting the privacy of the personal information of the individuals with whom we interact.
  We have developed a Website Privacy Commitment to describe our privacy policies and practices and how we collect, use
  and disclose the personal information of those individuals who visit our website. Please see our Website Privacy
  Commitment for further details.
</p>
<h4>Currency of Web site</h4>
<p>
  Firehoze updates the information on this Web site regularly. However, Firehoze cannot guarantee or accept any
  responsibility or liability for the accuracy, currency or completeness of the information on this Web site. Firehoze
  may revise, supplement or delete information, services and/or the resources contained in the Web site and reserves the
  right to make such changes without prior notification to past, current or prospective visitors.
</p>
<h4>Linked Web sites</h4>
<p>
  This Web site may provide links to third party Web sites for your convenience only. The inclusion of these links does
  not imply that Firehoze monitors or endorses these Web sites. Firehoze does not accept any responsibility for such Web
  sites. Firehoze shall not be responsible or liable, directly or indirectly, for any damage or loss, caused or alleged
  to be caused by or in connection with the use of or the reliance upon any information, content, goods or services
  available on or through any third party Web sites or linked resources.
</p>
<h4>Internet software or computer viruses</h4>
<p>
  Due to technical difficulties with the Internet, Internet software or transmission problems could produce inaccurate
  or incomplete copies of information contained on this Web site. Computer viruses or other destructive programs may
  also be inadvertently downloaded from this Web site.
</p>
<p>
  Firehoze shall not be responsible or liable for any software, computer viruses or other destructive, harmful or
  disruptive files or programs that may infect or otherwise impact your use of your computer equipment or other property
  on account of your access to, use of, or browsing on this Web site or your downloading of any of the Materials from
  this Web site. Firehoze recommends that you install appropriate anti-virus or other protective software.
</p>
<h4>Web Site and Materials Provided "As Is"</h4>
<p>
  THIS WEB SITE AND THE MATERIALS ARE PROVIDED "AS IS" WITHOUT REPRESENTATION, WARRANTY OR CONDITION OF ANY KIND, EITHER
  EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF
  MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. FIREHOZE DOES NOT REPRESENT OR WARRANT THAT THIS WEB SITE OR THE
  MATERIALS WILL MEET YOUR REQUIREMENTS OR THAT THEIR USE WILL BE UNINTERRUPTED OR ERROR FREE.
</p>
<h4>Limitation of Liability</h4>
<p>
  YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THIS WEB SITE AND THE MATERIALS INCLUDING WITHOUT LIMITATION ANY OF
  THE INFORMATION CONTAINED THEREIN.
</p>
<p>
  IN NO EVENT SHALL FIREHOZE OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, PARTNERS, OR AGENTS BE LIABLE
  FOR ANY INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING DAMAGES FOR LOSS OF
  PROFITS, INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) IN CONNECTION WITH ANY CLAIM, LOSS,
  DAMAGE, ACTION, SUIT OR OTHER PROCEEDING ARISING UNDER OR OUT OF THESE TERMS OF USE, INCLUDING WITHOUT LIMITATION YOUR
  USE OF, RELIANCE UPON, ACCESS TO, OR EXPLOITATION OF THIS WEB SITE, THE MATERIALS OR ANY PART THEREOF, OR ANY RIGHTS
  GRANTED TO YOU HEREUNDER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER THE ACTION IS BASED
  ON CONTRACT, TORT (INCLUDING NEGLIGENCE), INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS OR OTHERWISE.
</p>
<p>
  IN ANY EVENT, THE TOTAL MAXIMUM AGGREGATE LIABILITY UNDER THESE TERMS OF USE OR THE USE OR EXPLOITATION OF ANY OR ALL
  PART OF THIS WEB SITE OR THE MATERIALS IN ANY MANNER WHATSOEVER SHALL BE LIMITED TO FIVE ($5.00) UNITED STATES
  DOLLARS.
</p>
<p>
  SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES,
  SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
</p>
<h4>Indemnification</h4>
<p>
  You agree to indemnify and hold Firehoze harmless against all claims or liability asserted against Firehoze arising
  out of or in connection with any breach by you or anyone acting on your behalf of any of these Terms of Use.
</p>
<h4>Notice and Procedure for Making Claims of Infringement</h4>
<p>
  Firehoze Inc., respects the copyright of others, and we ask our users to do the same. If you believe that your work
  has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been
  otherwise violated, please provide Firehoze with a written communication addressed to our President including
  substantially the following information:
</p>
<ol>
  <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or
    other intellectual property interest;
  </li>
  <li>description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
  <li>a description of where the material that you claim is infringing is located on the Web site;</li>
  <li>your address, telephone number, and email address;</li>
  <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
    owner, its agent, or the law;
  </li>
  <li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that
    you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property
    owner's behalf.
  </li>
</ol>
<h4>Email</h4>
<p>
  Feel free to email Firehoze
  at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#102;&#105;&#114;&#101;&#104;&#111;&#122;&#101;&#46;&#99;&#111;&#109;'>&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#102;&#105;&#114;&#101;&#104;&#111;&#122;&#101;&#46;&#99;&#111;&#109;</a>. However, the Internet is not a fully secure medium and any communication may
  be lost, intercepted or altered. Firehoze is not liable
  for any damages related to communications to or from this Web site. You agree with respect to any information provided
  by you to us through this Web site or via e-mail
  that:
</p>
<ul>
  <li>Firehoze has no obligation concerning such information;</li>
  <li>the information is non-confidential;</li>
  <li>Firehoze may use, disclose, distribute or copy the information and may use any ideas, concepts or know-how
    contained
  </li>
  <li>in the information for any purpose without compensation; and</li>
  <li>the information is truthful and disclosure of the information does not violate the legal rights of others.</li>
</ul>
<h4>Applicable law</h4>
<p>
  The Site is controlled, operated and administered by Firehoze a Massachusetts, United States based corporation. The
  Site can be accessed from all States in the United States, as well as from other countries around the world. As each
  of these jurisdictions has laws that may differ from those of the Massachusetts, by accessing the Site, you
  acknowledge and agree that this Membership Agreement will be governed under the laws of the Commonwealth of
  Massachusetts and the federal laws of the United States of America applicable therein (without reference to conflicts
  of laws principles). You hereby irrevocably submit to the exclusive jurisdiction of the Courts of the Commonwealth of
  Massachusetts with respect to the subject matter of this Membership Agreement. This Membership Agreement will not be
  governed by the United Nations Convention on Contracts for the International Sale of Goods, the application of which
  is expressly excluded.
</p>
<p>
  You consent to service of any required notice or process upon you by email, registered mail or overnight courier with
  proof of delivery notice, addressed to the address or contact information provided by you at the time you are first
  granted access to the membership portions of the Site, or such other address as you may advise us in writing to use,
  from time to time.
</p>
<p>
  Any and all disputes arising out of, under or in connection with this Membership Agreement, including without
  limitation, its validity, interpretation, performance and breach, shall be subject to the jurisdiction of the Courts
  of the Commonwealth of Massachusetts.
</p>
<p>
  If Firehoze is obligated to go to court or arbitration, to enforce any of its rights, or to collect any fees, you
  agree to reimburse Firehoze for its legal fees, costs and disbursements if Firehoze is successful.
</p>
<h4>General</h4>
<p>
  Firehoze’s failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not be
  construed as a waiver of any provision or right.
</p>
<p>
  If any provision or part thereof of these Terms of Use is wholly or partially unenforceable the parties or, in the
  event the parties are unable to agree, a court of competent jurisdiction, shall put in place thereof an enforceable
  provision or provisions, or part thereof, that as nearly as possible reflects the terms of the unenforceable provision
  or part thereof.
</p>
<p>
  The parties have requested that these Terms of Use and all documents relating thereto be drawn up in English.
</p>
<h4>Contact</h4>
<p>
  If you have concerns relating to this web site or these Terms of Use, please contact Firehoze
  at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#102;&#105;&#114;&#101;&#104;&#111;&#122;&#101;&#46;&#99;&#111;&#109;'>&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#102;&#105;&#114;&#101;&#104;&#111;&#122;&#101;&#46;&#99;&#111;&#109;</a>.
</p>

