This is a temporary view for testing the ajax action on reviews controller. We should probably delete it after it's
been wired up.
  
<table>
  <tr>
    <th>Payment #</th>
    <th>Paid On</th>
    <th>Amount</th>
  </tr>
  <% if @payments.empty? %>
    <tr>
      <td colspan="3">
        You haven't received any payments yet
      </td>
    </tr>
  <% else %>
    <%= render :partial => 'accounts/forms/payment', :collection => @payments %>
  <% end %>
</table>