<% title "Edit comment" -%>

<%= render :partial => 'form', :locals => { :heading => "<h3>Edit Comment for the Lesson:</h3><h3>#{link_to h(@lesson_comment.lesson.title), lesson_path(@lesson_comment.lesson)}</h3>", :subtext => "Edit your comment"} %>