<% title "Add a comment" -%>

<%= render :partial => 'form', :locals => { :heading => "<h3>Join the discussion for:</h3><h3>#{link_to h(@lesson.title), lesson_path(@lesson, :anchor => :lesson_comment)}</h3>", :subtext => "Converse with the #{t('lesson.instructor')} or other students of this #{t('lesson.lesson')}."} %>
