/*--- Set Sprite Image ---*/
#id0,
#id1,
#id2,
#id3,
#id4,
#id5{
	background-image : url("./sprite.png") ;
}

/*--- filename : Chrome-32.png ---*/
#id0 {
	width : 32px ;
	height : 32px ;
	background-position : -126px top ;
	background-repeat : no-repeat ;
}

/*--- filename : IE-32.png ---*/
#id1 {
	width : 32px ;
	height : 32px ;
	background-position : -42px top ;
	background-repeat : no-repeat ;
}

/*--- filename : Firefox-32.png ---*/
#id2 {
	width : 32px ;
	height : 32px ;
	background-position : -84px top ;
	background-repeat : no-repeat ;
}

/*--- filename : Safari-32.png ---*/
#id3 {
	width : 32px ;
	height : 32px ;
	background-position : left top ;
	background-repeat : no-repeat ;
}

/*--- filename : happy.png ---*/
#id4 {
	width : 128px ;
	height : 128px ;
	background-position : -168px top ;
	background-repeat : no-repeat ;
}

/*--- filename : sad.png ---*/
#id5 {
	width : 128px ;
	height : 128px ;
	background-position : -306px top ;
	background-repeat : no-repeat ;
}