<% linkable_leaf ||= false %>
<% category = object %>

<ul id="breadcrumb">
  <li><%= link_to image_tag("breadcrumbs/home.png", :class => :home), (mode == "groups" ? groups_path : categories_path), :title => :Home %></li>
  <% if category %>
      <% AncestorCategory.category_id_equals(category.id).descend_by_generation(:select => [:ancestor_name]).each do |cat| %>
          <li><%= link_to(h(cat.ancestor_name), (mode == "groups" ? groups_path(:category => cat.ancestor_category).downcase : category_path(cat.ancestor_category).downcase)) %></li>
      <% end %>
      <li>
        <% if linkable_leaf %>
            <%= link_to(h(category.name), (mode == "groups" ? groups_path(:category => category).downcase : category_path(category).downcase)) %>
        <% else %>
            <%= category.name %>
        <% end %>
      </li>
  <% end %>
</ul>
