<tr>
  <td><%= h category.name %></td>
  <td><%= h category.parent_category.try(:name) %></td>
  <td><%= category.sort_value %></td>             
  <td>
    <%= link_to 'delete', category_path(category.id), :confirm => 'Are you sure?', :method => :delete if category.can_delete? %>    
  </td>
</tr>