<ul>
  <% category.self_and_siblings.each do |sibling| %>
      <% if mode == "groups" or sibling.visible_to_lessons %>
          <% if sibling == category %>
              <%= content_tag :li, sibling.name, :class => 'current' %>
              <% content_tag :li do -%>
                  <% content_tag :ul do -%>
                      <% sibling.child_categories.order("sort_value ASC").each do |child| %>
                          <% if mode == "groups" or child.visible_to_lessons %>
                              <li>
                                <%= link_to h(child.name), (mode == "groups" ? groups_path(:category => child) : category_path(child)).downcase %>
                              </li>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end if sibling.has_children? %>
          <% else %>
              <li><%= link_to h(sibling.name), (mode == "groups" ? groups_path(:category => sibling) : category_path(sibling)).downcase %></li>
          <% end %>
      <% end %>
  <% end %>
</ul>
