<% title "Browse Categories" -%>
<% @current = 'lessons' %>

<div class="span-12 last">
  <div class="span-8">
    <div class="widget-box">
      <div class="widget-box-header banner">
        <span class="h4">Firehoze Categories</span>
      </div>
      <div class="widget-box-content categories clearfix">
        <%= render :partial => 'categories/v2/category', :collection => @categories %>
      </div>
    </div>
  </div>
  <div class="span-4 last">
    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Lessons You May Like</span>
      </div>
      <div class="widget-box-content feature-lessons">
        <%= render :partial => "lessons/lesson_brief", :collection => @suggested_lessons %>
      </div>
    </div>

    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Tags</span>
      </div>
      <div class="widget-box-content tags">
        <%= render :partial => "lessons/v2/tag_cloud", :object => Lesson.tag_counts(:order => 'name ASC') %>
      </div>
    </div>
  </div>
</div>
