<% title "Browse Lesson by Category" -%>
<% @current = 'lessons' %>


<div class="span-12 last">
  <div class="span-8">
    <div class="blue-box">    
      <ul id="categories-header" class="section">
        <li class="header">
          <span></span>
          <h3>Browse Lessons by Categories</h3>
          <h4>Bags Fly Free</h4>
        </li>
        <li id="categories-roundup" class="clearfix">
          <%= render :partial => 'categories/v2/category', :collection => @categories, :locals => { :mode => "lessons" } %>
        </li>
      </ul>
    </div>
  </div>

  <div class="span-4 last">
    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Lessons You May Like</span>
      </div>
      <div class="widget-box-content lessons-you-may-like">
        <ul class="lesson_brief">
          <%= render :partial => "lessons/v2/lesson_brief", :collection => @suggested_lessons %>
        </ul>
      </div>
    </div>

    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Tags</span>
      </div>
      <div class="widget-box-content tags">
        <%= render :partial => "lessons/v2/tag_cloud", :object => Lesson.tag_counts(:order => 'name ASC') %>
      </div>
    </div>
  </div>
</div>
