<% title "Browse Lesson by Category" -%>
<% @current = 'lessons' %>


<div class="span-12 last">
  <div class="span-8">
    <div class="blue-box">
      <ul id="categories-header" class="section">
        <li class="header">
          <span></span>

          <h3>Browse How Tos by Categories</h3>
          <h4>Explore categories to find how tos that match your interests.</h4>
        </li>
        <li id="categories-roundup" class="clearfix">
          <%= render :partial => 'categories/category', :collection => @categories, :locals => { :mode => "lessons" } %>
        </li>
      </ul>
    </div>
  </div>

  <div class="span-4 last">
    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">Suggest a How To</span>
      </div>
      <div class="widget-box-content tags">
        <p>Can't find a how to that meets your needs?</p>
        <%= link_to content_tag(:span, "Suggest a How To Topic"), page_path("help_center", :anchor => "share-an-idea"), :class => 'large-button call-to-action' %>
      </div>
    </div>

    <div class="widget-box">
      <div class="widget-box-header">
        <span class="h4">How Tos You May Like</span>
      </div>
      <div class="widget-box-content lessons-you-may-like">
        <ul class="lesson_brief">
          <%= render :partial => "lessons/lesson_brief", :collection => @suggested_lessons %>
        </ul>
      </div>
    </div>

    <% cache(Category.tag_cloud_cache_id("lesson", -1)) do %>
        <div class="widget-box">
          <div class="widget-box-header">
            <span class="h4">Tags</span>
          </div>
          <div class="widget-box-content tags">
            <%= render :partial => "lessons/tag_cloud", :object => Lesson.ready.tag_counts(:limit => 40, :order => "count DESC").sort{|x,y| x.name <=> y.name} %>
          </div>
        </div>
    <% end %>
  </div>
</div>
