<tr>
  <td>
    <div class="avatar"><%= avatar_tag activity.actor_user, :size => :tiny %></div>
  </td>
  <td>
    <%= h(time_ago_in_words(activity.acted_upon_at)) %> ago
    <br/>
    <%= show_activity_str activity %>
  </td>
</tr>