<% pane = params[:pane] if params[:pane] %>
<% lessons = @owned if pane == "owned" %>
<% lessons = @latest_browsed if pane == "latest_browsed" %>
<% lessons = @wishlist if pane == "wishlist" %>

<div id="<%= pane %>">
  <% paginated_section  lessons, :params => { :pane => pane } do %>
    <ul class="lesson-list">
      <%= render :partial => "lessons/v2/ajaxed_lesson", :collection => lessons %>
    </ul>
  <% end %>
</div>
