<% pane = params[:pane] if params[:pane] %>
<% lessons = @instructed_lessons if pane == "lessons_instructed_table_view" %>

<div id="<%= pane %>">
  <% paginated_section  lessons, :params => { :pane => pane } do %>
  <table>
    <tr>
      <th>Lesson</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Created At</th>
      <th>Students</th>
      <th>Revenue</th>
    </tr>
    <% if lessons.empty? %>
      <tr>
        <td colspan="4">You have not instructed any lessons</td>
      </tr>
    <% else %>
    <%= render :partial => 'lessons/v2/ajaxed_instructed_lesson', :collection => lessons %>
    <% end %>
  </table>
  <% end %>
</div>
