<% pane = params[:pane] if params[:pane] %>
<% reviews = @reviews if pane == "reviews" %>

<div id="<%= pane %>">
  <% if reviews.empty? %>
    You haven't reviewed any lessons yet.
  <% else %>
    <%= will_paginate reviews, :params => { :pane => pane } %>
    <%= render :partial => "reviews/ajaxed_review", :collection => reviews %>
  <% end %>
</div>
