<% reviews = @reviews %>

<div>
  <% if reviews.empty? %>
    <div class="info">You haven't reviewed any how tos yet.</div>
  <% else %>
    <%= render :partial => "reviews/review", :collection => reviews %>
  <% end %>
</div>
