<% reviews = @reviews %>

<div>
  <% if reviews.empty? %>
    You haven't reviewed any lessons yet.
  <% else %>
    <%= render :partial => "reviews/review", :collection => reviews %>
  <% end %>
</div>
