<% pane = params[:pane] if params[:pane] %>
<% reviews = @reviews if pane == "reviews" %>

<div id="<%= pane %>">
  <% if reviews.empty? %>
      You haven't reviewed any lessons yet.
  <% else %>
      <% paginated_section reviews, :params => { :pane => pane } do %>
          <%= render :partial => "reviews/v2/review", :collection => reviews %>
      <% end %>
  <% end %>
</div>