<% pane = params[:pane] if params[:pane] %>
<% reviews = @reviews if pane == "reviews" %>

<div id="<%= pane %>">
  <% paginated_section  reviews, :params => { :pane => pane } do %>
    <%= render :partial => "reviews/v2/review", :collection => reviews %>
  <% end %>
</div>
