<tr>
    <td><%= l(lesson_state_change.created_at, :format => :long) %></td>
    <td><%= lesson_state_change.from_state %></td>
    <td><%= lesson_state_change.to_state %></td>
    <td><%= lesson_state_change.message %></td>
</tr>