<h1>Online Store</h1>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i, 'Credit')}",
            line_items_path(:sku => CreditSku.find_by_sku(CREDIT_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase']), :method => :post %>
<br/>
<br/>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i * 2, 'Credit')}",
            line_items_path(:sku => CreditSku.find_by_sku(CREDIT_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase'].to_i * 2), :method => :post %>
<br/>
<br/>
<%= link_to "Buy Gift Certificate",
            line_items_path(:sku => GiftCertificateSku.find_by_sku(GIFT_CERTIFICATE_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase'].to_i), :method => :post %>
<br/>
<br/>
This would be a place for some good marketing text to upsell the user

<% if !current_user.gift_certificates.active.empty? %>
    <br/>
    <br/>
    <h2>Gift Certificates</h2>
    <p>You have the following gift certificates available:</p>
    <table>
      <tr>
        <th>Code</th>
        <th>Credits</th>
        <th>Action</th>
      </tr>
      <%= render_partial :partial => 'gift_certificate', :collection => current_user.gift_certificates.active %>
    </table>
<% end %>