<h1>Online Store</h1>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i, 'Credit')}",
            line_items_path(:sku => CreditSku.find(:first).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase']), :method => :post %>
<br/>
<br/>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i * 2, 'Credit')}",
            line_items_path(:sku => CreditSku.find(:first).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase'].to_i * 2), :method => :post %>
<br/>
<br/>
This would be a place for some good marketing text to upsell the user