<h1>Online Store</h1>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i, 'Credit')}",
            line_items_path(:sku => CreditSku.find_by_sku(CREDIT_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase']), :method => :post %>
<br/>
<br/>
<%= link_to "Buy #{pluralize(APP_CONFIG['min_credit_purchase'].to_i * 2, 'Credit')}",
            line_items_path(:sku => CreditSku.find_by_sku(CREDIT_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase'].to_i * 2), :method => :post %>
<br/>
<br/>
<%= link_to "Buy Gift Certificate",
            line_items_path(:sku => GiftCertificateSku.find_by_sku(GIFT_CERTIFICATE_SKU).try(:sku),
                            :quantity => APP_CONFIG['min_credit_purchase'].to_i), :method => :post %>
<br/>
<br/>
<%= link_to "Redeem Gift Certificate", new_gift_certificate_path %>