<ul id="breadcrumb">
  <li><%= link_to image_tag("breadcrumbs/home.png", :class => :home), instructor_wizard_step1_account_path(@user), :title => :Home %></li>
  <%= instructor_wizard_breadcrumbs(step) %>
</ul>
